<template>
  <transition name="fade">
    <div class="header" v-show="headerShow">
      <div class="container">
        <div class="logo">
          <router-link to="/">
            <img src="~images/logo.png" alt="" />
          </router-link>
        </div>
        <ShopSearch ref="shopcar" class="c-dt" v-bind:oSearchData="searchData"></ShopSearch>
      </div>
    </div>
  </transition>
</template>
<script>
import ShopSearch from "@/components/Shop/ShopSearch.vue";
export default {
  name: "ShopHeader",
  data() {
    return {
      searchData: {
        tagShow: true, //是否显示标签
        isSearch: false, //是否是搜索详情页
      },
      headerShow: false,
    };
  },
  components: {
    ShopSearch,
  },
  mounted() {
    window.addEventListener("scroll", this.getScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.getScroll);
  },
  methods: {
    //监听滚动
    getScroll() {
      let scrollTop =
        document.body.scrollTop || document.documentElement.scrollTop;
      let maxHeight =
        window.innerHeight ||
        document.documentElement.clientHeight ||
        document.body.clientHeight;
      if (scrollTop >= maxHeight / 2) {
        this.headerShow = true;
      } else {
        this.headerShow = false;
      }
    },
    getnum(){
      this.$refs.shopcar.getCartNum();
      this.$refs.shopcar.getSampleNum();
    }
  },
};
</script>
<style scoped lang="scss">
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 900;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    .logo {
      width: 80px;
    }
    .menu {
      margin-right: 40px;
      ul {
        display: flex;
        li {
          margin: 0 50px;
          font-size: 18px;
          color: #333;
          line-height: 90px;
          @media (max-widht: 1600px) {
            font-size: 16px;
          }
          @media (max-widht: 1440px) {
            font-size: 14px;
          }
        }
      }
    }
    .rbox {
      display: flex;
      .information {
        width: 30px;
        height: 30px;
        position: relative;
        margin-right: 38px;
        span {
          width: 16px;
          height: 16px;
          background: #f5002f;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          color: #fff;
          position: absolute;
          right: -3px;
          top: -3px;
        }
      }
      .login {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #333;
        @media (max-width: 1600px) {
          font-size: 16px;
        }
        @media (max-width: 1440px) {
          font-size: 14px;
        }
        img {
          width: 30px;
          height: 30px;
          margin-right: 8px;
        }
      }
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
