<template>
  <div class="c-shop-search">
    <div class="c-search-box">
      <form action="">
        <input
          type="text"
          @keypress.prevent.13="transferParameters"
          placeholder="产品关键字搜索"
          v-model="msg"
        />
        <button @click="transferParameters()" class="c-btn" type="button">
          <i></i><span>搜索</span>
        </button>
      </form>
      <div class="c-key" v-if="oSearchData.tagShow">
        <router-link
          :to="{ path: '/Shop/SearchResult', query: { key: item.title } }"
          class="c-title"
          v-for="(item, index) of HotSearc"
          :key="index"
          >{{ item.title }}</router-link
        >
      </div>
    </div>
    <div class="c-car-box">
      <router-link to="/Shop/ShoppingCart" class="c-link">
        <div class="c-ico">
          <img src="~images/c-gwc-ico.png" alt="" />
          <p class="c-num" v-show="CartNum != 0">{{ CartNum }}</p>
        </div>
        <p class="c-title">购物车</p>
      </router-link>
      <router-link to="/Shop/SampleList" class="c-link">
        <div class="c-ico">
          <img src="~images/c-ypqd-ico.png" alt="" />
          <p class="c-num" v-show="SampleNum != 0">{{ SampleNum }}</p>
        </div>
        <p class="c-title">样品清单</p>
      </router-link>
    </div>
  </div>
</template>
<script>
export default {
  name: "ShopSearch",
  data() {
    return {
      msg: "",
      CartNum: "",
      SampleNum: "",
      HotSearc: [],
    };
  },
  props: ["oSearchData"],
  components: {},
  //在created 中调用该方法
  created() {
    this.getCartNum();
    this.getSampleNum();
    this.getHotSearch();
  },
  methods: {
    //热搜词汇
    getHotSearch() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=hot_words")
        .then((res) => {
          this.HotSearc = res.data.res;
        });
    },

    // 搜索
    transferParameters() {
      if (this.msg == "") {
        this.$message({
          showClose: true,
          message: "请输入搜索的关键字！",
          type: "error",
        });
        return false;
      } else {
        this.$router.push({
          path: "/Shop/SearchResult",
          query: {
            //通过query 传递参数
            key: this.msg,
          },
        });
        this.$parent.getProductList();
      }
    },

    getCartNum() {
      this.$axios
        .post("/api/index.php?m=user&c=users&a=cart_num")
        .then((res) => {
          this.CartNum = res.data.res;
        });
    },
    getSampleNum() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=sample_num")
        .then((res) => {
          console.log(res);
          this.SampleNum = res.data.res;
        });
    },
  },
};
</script>
<style scoped lang="scss">
.c-shop-search {
  display: flex;
  align-items: flex-start;
  margin: 0 -10px;
  &.c-dt {
    align-items: center;
    width: 82%;
  }
  &.c-dt2 {
    .c-search-box {
      width: 75%;
    }
    .c-car-box {
      width: 26%;
    }
  }
  .c-search-box {
    padding: 0 10px;
    width: 85%;
    form {
      display: flex;
      align-items: flex-start;
      height: 46px;
      input {
        padding: 0 20px;
        width: 84%;
        height: 100%;
        border: 2px solid #208fb9;
        border-radius: 3px 0 0 3px;
        background-color: transparent;
        font-size: 14px;
      }
      .c-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16%;
        height: 100%;
        font-size: 16px;
        color: #fff;
        background-color: #208fb9;
        i {
          margin-right: 10px;
          width: 20px;
          height: 20px;
          background: url(~images/c-ss-ico.png) no-repeat center / 100% auto;
        }
      }
    }
    .c-key {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-top: 5px;
      height: 24px;
      overflow: hidden;
      .c-title {
        margin-right: 30px;
        font-size: 14px;
        line-height: 24px;
        color: #a2a2a2;
        transition: all 0.3s;
        &:hover {
          color: #208fb9;
        }
      }
    }
  }
  .c-car-box {
    padding: 0 10px;
    width: 26%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    .c-link {
      display: flex;
      align-content: center;
      &:first-child {
        margin-left: 20px;
        @media (max-width: 1580px) {
          margin-left: 0;
        }
      }
      .c-ico {
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 30px;
        height: 30px;
        img {
          width: 100%;
        }
        .c-num {
          position: absolute;
          top: -6px;
          right: -6px;
          width: 16px;
          height: 16px;
          font-size: 12px;
          text-align: center;
          line-height: 16px;
          border-radius: 50%;
          color: #fff;
          background-color: #f5002f;
        }
      }
      .c-title {
        font-size: 18px;
        line-height: 30px;
        @media (max-width: 1600px) {
          font-size: 16px;
        }
        @media (max-width: 1440px) {
          font-size: 14px;
        }
      }
    }
  }
}
</style>
