<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 404 -->
    <div id="c-404" class="bg-color2">
      <div class="container">
        <div class="c-main">
          <div>
            <img src="~images/404.jpg" alt="404" />
            <p class="c-title">版块/功能正在开发中，暂时无法打开，敬请期待！</p>
            <div class="c-text">
              <span>{{ num }}</span> 后将跳转回
              <router-link to="/">首页</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
export default {
  name: "NF404",
  data() {
    return {
      num: 4,
    };
  },
  created() {
    this.setTime();
  },
  components: {
    webHeader,
    webFooter,
  },
  methods: {
    // 跳转路由
    setTime() {
      let timer = setInterval(() => {
        this.num = this.num - 1;
        if (this.num == -1) {
          clearInterval(timer);
          this.$router.push({
            path: "/",
          });
        }
      }, 1000);
      this.$once("hook:beforeDestroy", () => {
        clearInterval(timer);
      });
    },
  },
};
</script>
<style scoped lang="scss">
// 404
#c-404 {
  padding-bottom: 70px;
  .c-main {
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .c-title {
      font-size: 22px;
      line-height: 1.5;
      margin: 55px 0 10px;
    }
    .c-text {
      font-size: 16px;
      color: #666;
      span {
        font-size: 22px;
        color: #333;
      }
      a {
        color: #208fb9;
        text-decoration: underline;
      }
    }
  }
}
</style>
