<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 网站地图 -->
    <div id="c-sitemap" class="bg-color2">
      <div class="container">
        <div class="c-main bg-color1">
          <ul class="c-list">
            <li>
              <h2 class="c-title">商品分类</h2>
              <ul>
                <li><router-link to="">电容/电阻</router-link></li>
                <li><router-link to="">处理器及微控制器</router-link></li>
                <li><router-link to="">二极管/晶体管</router-link></li>
                <li><router-link to="">电源/电路保护</router-link></li>
                <li>
                  <router-link to="">嵌入式外围芯片/接口芯片</router-link>
                </li>
                <li><router-link to="">光耦/发光管/红外</router-link></li>
                <li><router-link to="">晶体/振荡器/谐振器</router-link></li>
                <li><router-link to="">滤波器/放大器/射频</router-link></li>
                <li><router-link to="">存储器/传感器</router-link></li>
              </ul>
            </li>
            <li>
              <h2 class="c-title">社区</h2>
              <ul>
                <li><router-link to="">社区文章</router-link></li>
                <li><router-link to="">推荐问答</router-link></li>
                <li><router-link to="">人气问答</router-link></li>
                <li><router-link to="">最新问答</router-link></li>
              </ul>
            </li>
            <li>
              <h2 class="c-title">技术服务</h2>
              <ul>
                <li>
                  <router-link to="/Customization">定制化模块</router-link>
                </li>
              </ul>
            </li>
            <li>
              <h2 class="c-title">其他页面</h2>
              <ul>
                <li><router-link to="/PrivacyPolicy">隐私政策</router-link></li>
                <li><router-link to="/login">注册/登录</router-link></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
export default {
  name: "SiteMap",
  data() {
    return {};
  },
  components: {
    webHeader,
    webFooter,
  },
  methods: {},
};
</script>
<style scoped lang="scss">
// 网站地图
#c-sitemap {
  padding: 70px 0;
  .c-main {
    padding: 50px;
    min-height: 70vh;
    .c-list {
      & > li {
        margin-bottom: 40px;
        &:last-child {
          margin: 0;
        }
      }
      .c-title {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
        padding-left: 40px;
        background: url(~images/c-lj-ico.png) no-repeat left center/ auto 18px;
      }
      ul {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-left: 40px;
        li {
          margin-right: 60px;
          font-size: 14px;
          line-height: 34px;
          a {
            color: #999;
            transition: all 0.3s;
            &:hover {
              color: #208fb9;
            }
          }
        }
      }
    }
  }
}
</style>
