<template>
  <div>
    <webHeader></webHeader>

    <div class="question">
      <div class="container">
        <div class="title">最新公告</div>
        <div class="list">
          <ul>
            <li v-for="(item, index) of noticeList" :key="index">
              <router-link :to="({
                name: 'AnnouncementInfo',
                query: {
                  aid: item.aid
                }
              })">
                <div class="qtitle">{{item.title}}</div>
                <div class="txt" v-html="item.content"></div>
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
export default {
  name: "AnnouncementList",
  data() {
    return {
      noticeList: [], //最新公告
    };
  },
  components: {
    webHeader,
    webFooter,
  },
  mounted() {
    this.getInfo();
  },
  methods: {
    getInfo() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=service")
        .then((res) => {
          console.log(res);
          this.noticeList = res.data.res.notice;
        });
    },
  },
};
</script>
<style lang="scss" scoped>

.question{
  width: 100%;
  background: #f5f5f5;
  padding: 20px 0;
  .container{
    background: #fff;
    padding: 20px;
  }
  .title{
    font-size: 20px;
    background: #fff;
  }
  .list{
    width: 100%;
    margin-top: 20px;
    min-height: 500px;
    li{
      margin-bottom: 20px;
      &:hover{
        .qtitle{
          color: #208fb9;
        }
      }
      .qtitle{
        color: #333;
        font-size: 16px;
      }
      .txt{
        width: 100%;
        color: #666;
        font-size: 14px;
        line-height: 24px;
        margin-top: 5px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        p{
          width: 100%;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}

</style>
