<template>
  <div>
    <webHeader></webHeader>

    <div class="question">
      <div class="container">
        <div class="qtitle">{{noticeInfo.title}}</div>
        <div class="txt" v-html="noticeInfo.content"></div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
export default {
  name: "AnnouncementInfo",
  data() {
    return {
      id: 0,
      noticeList: [], //最新公告
      noticeInfo:[]
    };
  },
  components: {
    webHeader,
    webFooter,
  },
  mounted() {
    this.id = this.$route.query.aid;
    this.getInfo();
  },
  methods: {
    getInfo() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=service")
        .then((res) => {
          this.noticeList = res.data.res.notice;
          this.noticeList.forEach((item) => {
            if(item.aid == this.id){
              this.noticeInfo = item;
            }
          })
        });
    },
  },
};
</script>
<style lang="scss" scoped>

.question{
  width: 100%;
  background: #f5f5f5;
  padding: 20px 0;
  .container{
    background: #fff;
    padding: 20px;
    min-height: 600px;
  }
  .qtitle{
    color: #333;
    font-size: 22px;
    text-align: center;
  }
  .txt{
    width: 100%;
    color: #666;
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    p{
      width: 100%;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
  }
}

</style>
