<template>
  <div>
    <webHeader></webHeader>

    <div class="Customization">
      <div class="container">
        <div class="left">
          <div class="icon">
            <img :src="/api/ + serverBox.litpic" alt="" />
          </div>
          <div class="title">{{ serverBox.typename }}</div>
        </div>
        <div class="right">
          <div class="tecnicalBox">
            <div class="title">搜索技术服务</div>
            <div class="form">
              <form action="">
                <div class="item">
                  <div class="name">问题类型</div>
                  <input
                    type="text"
                    v-model="attr_26"
                    class="txt"
                    placeholder="不超过50个字"
                  />
                </div>
                <div class="item">
                  <div class="name">问题描述</div>
                  <textarea
                    cols="30"
                    rows="10"
                    v-model="attr_27"
                    class="text"
                    placeholder="不超过300个字"
                  ></textarea>
                </div>
                <div class="item">
                  <div class="name">图片上传</div>
                  <div class="imgBox">
                    <el-upload
                      action="/api/index.php?m=user&c=Uploadify&a=imageUp"
                      list-type="picture-card"
                      :on-success="handleAvatarSuccess"
                      :before-upload="beforeAvatarUpload"
                      :on-remove="handleRemove"
                    >
                      <i class="el-icon-plus"></i>
                    </el-upload>
                    <el-dialog :visible.sync="dialogVisible">
                      <img width="100%" :src="dialogImageUrl" alt="" />
                    </el-dialog>
                  </div>
                </div>
                <div class="item">
                  <div class="name">预算</div>
                  <input v-model="attr_29" class="txt2" placeholder="" />
                  <div class="unit">元/个</div>
                </div>
                <div class="item">
                  <div class="span">
                    <div class="name">联系号码</div>
                    <input v-model="attr_30" class="txt2" placeholder="" />
                  </div>
                  <div class="span">
                    <div class="name">联系人姓名</div>
                    <input v-model="attr_31" class="txt2" placeholder="" />
                  </div>
                </div>
                <input
                  type="button"
                  value="提交申请"
                  @click="sub()"
                  class="submit"
                />
              </form>
            </div>
          </div>
          <div class="questionBox">
            <div class="title">相关问题</div>
            <div class="list">
              <ul>
                <li>
                  <div class="question">如何订购商品？</div>
                  <div class="answer">
                    您可以首先浏览我们的网站了解商品。看到您满意的商品您可以直接在我们的网站上添加到购物车，然后下订单即可。
                  </div>
                </li>
                <li>
                  <div class="question">所有的产品都能只能在网站上购买？</div>
                  <div class="answer">
                    目前网站查找的所有商品都是可以购买的，如果是现货，我们基本当天能发货。如果没有现货我们可以帮忙订货。
                  </div>
                </li>
                <li>
                  <div class="question">为什么要注册会员？</div>
                  <div class="answer">
                    只有注册用户才可以在网上进行订购，享受优惠的价格。
                  </div>
                </li>
                <li>
                  <div class="question">有些怎么一直没货？</div>
                  <div class="answer">
                    由于网站顾客购买量比较大，商品随时可能断货您可以选择您需要的商品，我商城提供代购和代购服务。
                  </div>
                </li>
                <li>
                  <div class="question">积分是怎么回事？有什么作用？</div>
                  <div class="answer">
                    积分的高低只反映您对我们的关注和支持程度。我们的积分是通过订购商品产生的。对于高积分的客户我们会有一定的奖励，以此回馈广大顾客。
                  </div>
                </li>
                <li>
                  <div class="question">请告诉我在这里购物的理由好吗？</div>
                  <div class="answer">
                    我们只从原厂或者代理商正规渠道进货，保证原装正品。
                    <br />
                    我们明码实价。所有商品售价都在网站页面上如实公开，不讲价。销售价格随着进货价格变化系统自动计算，价格更透明和合理。
                    <br />
                    我们有海量现货。目前拥有1万多平方米仓库，共有10万多种元器件。
                    <br />
                    我们提供订货和代购服务。如现货库存不足，我们提供订货服务。如我商城没有商品，我们提供代购服务。
                    <br />
                    我们支持零售。解决样片采购难题，一块钱起卖，为您提供一站式采购服务。
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
export default {
  name: "Customization",
  data() {
    return {
      serverBox: [],
      attr_26: "",
      attr_27: "",
      attr_28: [],
      attr_29: "",
      attr_30: "",
      attr_31: "",
      attr_32: "",
      dialogImageUrl: "",
      dialogVisible: false,
    };
  },
  components: {
    webHeader,
    webFooter,
  },
  mounted() {
    this.getID();
  },
  methods: {
    getID() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=sevel", {
          id: this.$route.query.id,
        })
        .then((res) => {
          console.log(res);
          this.serverBox = res.data.res;
          this.attr_32 = res.data.res.typename;
        });
    },

    // 上传封面图
    handleRemove(file, fileList) {
      console.log(file);
      console.log(fileList);
      const imgUrl = file.response.url;
      const imgbox = this.attr_28;
      imgbox.forEach(function (item, index) {
        if (item == imgUrl) {
          imgbox.splice(index, 1);
        }
      });
      console.log(imgbox);
      this.attr_28 = imgbox;
    },
    handleAvatarSuccess(res) {
      this.imageUrl = res.url;
      this.dialogImageUrl = this.imageUrl;
      this.attr_28.push(this.dialogImageUrl);
    },
    beforeAvatarUpload(file) {
      if (this.attr_28.length >= 5) {
        this.$message.warning("最多可上传5涨图片!");
        return false;
      }
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;
      const _ajax = 1;
      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M && _ajax;
    },

    sub() {
      let sjh1 = /^((12|13|14|15|16|17|18|19)+\d{9})$/;
      if (this.attr_30 == "") {
        this.$message({
          showClose: true,
          message: "请填写手机号!",
          type: "error",
        });
        return false;
      }
      if (!sjh1.test(this.attr_30)) {
        this.$message({
          showClose: true,
          message: "请填写正确的手机号!",
          type: "error",
        });
        return false;
      }
      if (this.attr_31 == "") {
        this.$message({
          showClose: true,
          message: "请填写姓名!",
          type: "error",
        });
        return false;
      }
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=technical_service", {
          attr_26: this.attr_26, //问题类型
          attr_27: this.attr_27, //问题描述
          attr_28: this.attr_28, //图片
          attr_29: this.attr_29, //预算
          attr_30: this.attr_30, //连续号码
          attr_31: this.attr_31, //连续人姓名
          typeid: "30",
          attr_32: this.attr_32, //类型
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.$route.go(-1);
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.Customization {
  width: 100%;
  background: #f5f5f5;
  padding: 70px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .left {
      width: 26.4%;
      background: #fff;
      padding: 58px 0 55px;
      .icon {
        width: 66px;
        height: 66px;
        margin: auto;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .title {
        font-size: 20px;
        color: #333;
        line-height: 28px;
        width: 100%;
        text-align: center;
        margin-top: 13px;
      }
    }
    .right {
      width: 71.4%;
      .tecnicalBox {
        width: 100%;
        background: #fff;
        .title {
          width: 100%;
          height: 80px;
          padding: 0 50px;
          display: flex;
          align-items: center;
          font-size: 22px;
          color: #333;
        }
        .form {
          width: 100%;
          padding: 30px 50px 50px;
          border-top: 1px solid #f5f5f5;
          .item {
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            align-items: flex-start;
            .name {
              width: 100px;
              line-height: 40px;
              font-size: 16px;
              color: #333;
              flex-shrink: 0;
            }
            .txt {
              width: calc(100% - 100px);
              height: 40px;
              background: #f5f5f5;
              font-size: 14px;
              color: #333;
              padding: 0 20px;
              &::placeholder {
                color: #999;
              }
            }
            .text {
              width: calc(100% - 100px);
              height: 120px;
              background: #f5f5f5;
              font-size: 14px;
              line-height: 24px;
              color: #333;
              padding: 8px 20px;
              resize: none;
              &::placeholder {
                color: #999;
              }
            }
            .imgBox {
              width: 100%;
              display: flex;
              .uploadPicture {
                width: 120px;
                height: 120px;
                cursor: pointer;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .finish {
                margin-left: 20px;
                ul {
                  li {
                    width: 120px;
                    margin-right: 20px;
                    .img {
                      width: 100%;
                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }
                    .tips {
                      width: 100%;
                      text-align: center;
                      font-size: 12px;
                      color: #208fb9;
                      line-height: 1;
                      margin-top: 10px;
                    }
                  }
                }
              }
            }
            .txt2 {
              width: 300px;
              height: 40px;
              padding: 0 20px;
              background: #f5f5f5;
              color: #333;
              font-size: 14px;
              @media (max-width: 1560px) {
                width: 240px;
              }
              &::placeholder {
                color: #999;
              }
            }
            .unit {
              font-size: 14px;
              color: #666;
              line-height: 42px;
              margin-left: 10px;
            }
            .span {
              width: 50%;
              display: flex;
            }
          }
          .submit {
            width: 160px;
            height: 40px;
            border-radius: 3px;
            color: #fff;
            background: #208fb9;
            margin: 40px auto 0;
            display: flex;
            justify-content: center;
          }
        }
      }
      .questionBox {
        background: #fff;
        margin-top: 20px;
        .title {
          width: 100%;
          padding: 0 50px;
          height: 80px;
          display: flex;
          align-items: center;
          color: #333;
          font-size: 22px;
        }
        .list {
          width: 100%;
          border-top: 1px solid #f5f5f5;
          padding: 25px 50px 15px;
          ul {
            li {
              width: 100%;
              margin-bottom: 24px;
              .question {
                font-size: 16px;
                line-height: 30px;
                color: #454545;
              }
              .answer {
                font-size: 13px;
                color: #999;
                line-height: 30px;
              }
            }
          }
        }
      }
    }
  }
}

::v-deep .el-upload--picture-card {
  width: 120px;
  height: 120px;
  line-height: 120px;
  background: url(~images/tecnical-img1.jpg);
}
::v-deep .el-upload--picture-card i {
  display: none;
}

::v-deep .el-upload-list--picture-card .el-upload-list__item {
  width: 120px;
  height: 120px;
}
</style>
