<template>
  <div>
    <webHeader></webHeader>

    <div class="technical">
      <div class="container">
        <el-row :gutter="20" class="menu-box">
          <el-col :span="6" v-for="(item, index) of serviceList" :key="index">
            <router-link
              :to="{
                path: '/Customization',
                query: {
                  id: item.id,
                },
              }"
              class="item"
            >
              <div class="img">
                <img :src="/api/ + item.litpic" alt="" />
              </div>
              <div class="txt">{{ item.typename }}</div>
            </router-link>
          </el-col>
        </el-row>

        <el-row :gutter="20">
          <el-col :span="18">
            <div class="announcement">
              <div class="top">
                <div class="title">最新公告</div>
                <router-link to="/AnnouncementList" class="more">更多</router-link>
              </div>
              <div class="list">
                <div class="recommendPage">
                  <swiper :options="swiperOption" ref="mySwiper">
                    <swiper-slide
                      v-for="(item, index) of noticeList"
                      :key="index"
                    >
                      <router-link :to="({
                        path: '/AnnouncementInfo',
                        query: {
                          aid: item.aid
                        }
                      })" class="item">
                        <img :src="/api/ + item.litpic" alt="" />
                        <div class="txtBox">
                          <div class="txt1">{{ item.title }}</div>
                          <div class="txt2"></div>
                        </div>
                      </router-link>
                    </swiper-slide>

                    <div class="swiper-button-prev" slot="button-prev">
                      <img src="~images/arrow-l.png" alt="" />
                    </div>
                    <div class="swiper-button-next" slot="button-next">
                      <img src="~images/arrow-r.png" alt="" />
                    </div>
                  </swiper>
                </div>
              </div>
            </div>
          </el-col>
          <el-col :span="6">
            <div class="question">
              <div class="top">
                <div class="title">常见问题</div>
                <router-link to="/QuestionList" class="more">更多</router-link>
              </div>
              <div class="list">
                <div class="recommendPage">
                  <swiper :options="swiperOption2" ref="mySwiper2">
                    <swiper-slide
                      v-for="(item, index) of newsList"
                      :key="index"
                    >
                        <router-link :to="({
                          path: '/QuestionInfo',
                          query: {
                            aid: item.aid
                          }
                        })" class="item">
                        <div class="txt1">{{ item.title }}</div>
                        <!-- <div class="txt2">
                          您可以首先浏览我们的网站了解商品。看到满意商品直接在网站上添加到购物车...
                        </div> -->
                      </router-link>
                    </swiper-slide>
                  </swiper>
                  <div class="ckbox">
                    <div class="swiper-button-prev" slot="button-prev">
                      <img src="~images/arrow-l2.png" alt="" />
                    </div>
                    <div class="swiper-button-next" slot="button-next">
                      <img src="~images/arrow-r2.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>

    <agencyBrand></agencyBrand>

    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import agencyBrand from "@/components/agencyBrand/index.vue";
import { swiper, swiperSlide } from "vue-awesome-swiper";
import "swiper/dist/css/swiper.css";
export default {
  name: "technicalIndex",
  data() {
    return {
      swiperOption: {
        autoplay: {
          delay: 3000,
          stopOnLastSlide: false,
          disableOnInteraction: false,
        },
        observer: true,
        observeParents: true,
        // 显示分页
        // pagination: {
        // el: ".swiper-pagination",
        // clickable: true //允许分页点击跳转
        // },
        // 设置点击箭头
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      },
      swiperOption2: {
        autoplay: {
          delay: 3000,
          stopOnLastSlide: false,
          disableOnInteraction: false,
        },
        observer: true,
        observeParents: true,
        slidesPerView: 1,
        slidesPerColumn: 10,
        // 设置点击箭头
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      },
      newsList: [], //常见问题
      noticeList: [], //最新公告
      serviceList: [], //板块内容
    };
  },
  components: {
    webHeader,
    webFooter,
    swiper, //定义组件
    swiperSlide,
    agencyBrand,
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper1.swiper;
    },
    swiper2() {
      return this.$refs.mySwiper2.swiper;
    },
  },
  mounted() {
    this.getInfo();
  },
  methods: {
    getInfo() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=service")
        .then((res) => {
          console.log(res);
          this.newsList = res.data.res.news;
          this.noticeList = res.data.res.notice;
          this.serviceList = res.data.res.service;
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.technical {
  width: 100%;
  background: #f5f5f5;
  padding: 50px 0 60px;
  .container {
    .el-row {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      &.menu-box {
        .item {
          background: #fff;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          padding: 58px 0 55px;
          .img {
            width: 66px;
            margin: auto;
            img {
              width: 100%;
            }
          }
          .txt {
            width: 100%;
            text-align: center;
            font-size: 20px;
            line-height: 28px;
            color: #333;
            margin-top: 13px;
          }
          &:hover {
            .txt {
              color: #208fb9;
            }
          }
        }
      }

      .announcement {
        width: 100%;
        .top {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #fff;
          height: 80px;
          padding: 0 30px;
          font-size: 18px;
          .title {
            color: #333;
          }
          .more {
            color: #999;
            &:hover {
              color: #208fb9;
            }
          }
        }
        .list {
          width: 100%;
          margin-top: 2px;
          height: 598px;
          @media (max-width: 1560px) {
            height: 512px;
          }
          .recommendPage {
            width: 100%;
            height: 100%;
            .swiper-container {
              height: 100%;
            }
          }
          .item {
            width: 100%;
            height: 100%;
            position: relative;
            display: block;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            .txtBox {
              width: 100%;
              height: 100px;
              position: absolute;
              left: 0;
              bottom: 0;
              background: rgba(0, 0, 0, 0.4);
              padding: 25px 60px;
              .txt1 {
                font-size: 18px;
                line-height: 25px;
                color: #fff;
              }
              .txt2 {
                font-size: 14px;
                line-height: 25px;
                color: #ccc;
              }
              &::after {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                border: 2px solid #fff;
                border-radius: 50%;
                left: 30px;
                top: 42px;
              }
            }
          }
          .swiper-button-next,
          .swiper-button-prev {
            background: none;
            width: 62px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: initial;
          }
          .swiper-button-prev {
            right: 84px;
            bottom: 0;
            left: initial;
          }
          .swiper-button-next {
            right: 22px;
            bottom: 0;
          }
        }
      }

      .question {
        width: 100%;

        .top {
          width: 100%;
          height: 80px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 30px;
          font-size: 18px;
          background: #fff;
          .title {
            color: #333;
          }
          .more {
            color: #999;
            &:hover {
              color: #208fb9;
            }
          }
        }
        .list {
          width: 100%;
          padding: 22px 30px 0;
          height: 598px;
          @media (max-width: 1560px) {
            height: 512px;
          }
          margin-top: 2px;
          background: #fff;
          position: relative;

          .item {
            width: 100%;
            padding-bottom: 33px;
            display: block;
            @media (max-width: 1560px) {
              padding-bottom: 10px;
            }
            .txt1 {
              font-size: 16px;
              color: #454545;
              line-height: 35px;
              @media (max-width: 1560px) {
                line-height: 24px;
              }
            }
            .txt2 {
              color: #999;
              line-height: 25px;
              margin-top: 5px;
              font-size: 13px;
              @media (max-width: 1560px) {
                line-height: 23px;
              }
            }
          }

          .ckbox {
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
          }
          .swiper-button-next,
          .swiper-button-prev {
            background: none;
            width: 40px;
            height: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            top: initial;
            position: relative;
            left: initial;
            right: initial;
            display: block;
          }
        }
      }
    }
  }
}
</style>
