<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 下拉导航 -->
    <ShopHeader></ShopHeader>
    <!-- 样品清单 -->
    <div class="c-common-box2 bg-color2">
      <div class="container">
        <div class="c-top">
          <h1 class="c-title">
            <img src="~images/c-ypqd-ico1.png" alt="" />订单填写及核对
          </h1>
          <ul class="c-list">
            <li class="on">
              <p class="c-num">1</p>
              <p class="c-text">我的购物车</p>
            </li>
            <li class="on">
              <p class="c-num">2</p>
              <p class="c-text">订单填写及核对</p>
            </li>
            <li>
              <p class="c-num">3</p>
              <p class="c-text">订单提交成功</p>
            </li>
          </ul>
        </div>
        <div class="c-bottom">
          <!-- 地址管理 -->
          <div id="c-address">
            <h2 class="c-title">收货地址管理</h2>
            <ul class="c-list">
              <li v-for="(item, index) of addressList" :key="index">
                <div class="c-wrap" @click="SelectedAddress(item.addr_id)">
                  <div class="c-top2">
                    <h3 class="c-title">{{ item.consignee }}</h3>
                    <ul class="c-list2">
                      <li v-if="item.is_default == 1">
                        <p @click="handleDefault(item.addr_id)">默认</p>
                      </li>
                      <li v-if="item.label != ''">
                        <p>{{ item.label }}</p>
                      </li>
                    </ul>
                  </div>
                  <div class="c-center2">
                    <div class="c-text">
                      <p>
                        <span>电话：</span><span>{{ item.mobile }}</span>
                      </p>
                      <p>
                        <span>地址：</span
                        ><span
                          >{{ item.province }}{{ item.city }}{{ item.district
                          }}{{ item.address }}</span
                        >
                      </p>
                    </div>
                  </div>
                  <div class="c-bottom2">
                    <ul class="c-list2">
                      <li v-if="item.is_default != 1">
                        <p @click.stop="handleDefault(item.addr_id)">
                          设为默认
                        </p>
                      </li>
                      <li>
                        <p @click.stop="handleEdit(item.addr_id)">修改</p>
                      </li>
                      <li><p @click.stop="handleDel(item.addr_id)">删除</p></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <div class="c-wrap" @click="handleAdd">
                  <div class="c-add">
                    <img src="~images/c-add-ico.png" alt="" />
                    <p class="c-text">添加新地址</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import ShopHeader from "@/components/Shop/ShopHeader.vue";
export default {
  name: "ShippingAddress",
  data() {
    return {
      addressList: [], //地址
      submitAddress: {
        consignee: "",
        mobile: "",
        zipcode: "",
        label: "",
        province: "",
        city: "",
        district: "",
        address: "",
        is_default: "",
        province_id: "",
        city_id: "",
        district_id: "",
      },
      addressData: [], //全国地址
      provinceList: [], // 存放省数据集合
      cityList: [], // 存放市数据集合
      regionList: [], // 存放区数据集合
      streetList: [], //存放街道数据集合
      addr_id: "",
    };
  },
  components: {
    webHeader,
    webFooter,
    ShopHeader,
  },
  mounted() {
    this.ChangeShen();
    this.getAddressList();
  },
  methods: {
    // 绑定城市
    //获取省份数据
    ChangeShen() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region")
        .then((res) => {
          this.provinceList = res.data.res;
        });
    },
    // 省-市
    changePr(e) {
      this.submitAddress.province_id = e;
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region_data", {
          parent_id: e,
        })
        .then((res) => {
          console.log(res);
          this.cityList = res.data;
          for (var i = 0; i < this.cityList.length; i++) {
            if (this.submitAddress.city_id == this.cityList[i].id) {
              this.submitAddress.city = this.cityList[i].name;

              this.changeCi(this.submitAddress.city_id);
            }
          }
        });
    },
    // 市-县
    changeCi(e) {
      this.submitAddress.city_id = e;
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region_data", {
          parent_id: e,
        })
        .then((res) => {
          this.regionList = res.data;
          for (var i = 0; i < this.regionList.length; i++) {
            if (this.submitAddress.district_id == this.regionList[i].id) {
              this.submitAddress.district = this.regionList[i].name;

              this.changeXian(this.submitAddress.district_id);
            }
          }
        });
    },
    // 县
    changeXian(e) {
      this.submitAddress.district_id = e;
    },

    // 获取地址列表
    getAddressList() {
      this.$axios.post("/api/index.php?m=user&c=Shop&a=addlist").then((res) => {
        console.log(res);
        this.addressList = res.data.res;
      });
    },

    // 设置默认地址
    handleDefault(id) {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=shop_set_default_address", {
          addr_id: id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getAddressList();
        });
    },

    // 选中地址
    SelectedAddress(id) {
      console.log(id);
      this.$router.push({
        name: "ShoppingOrder",
        query: {
          addr_id: id,
        },
      });
    },

    // 修改地址
    handleEdit(id) {
      this.$router.push({
        path: "/Shop/ShoppingCart/ShippingAddress/EditAddress",
        query: {
          id: id,
        },
      });
    },

    // 删除地址
    handleDel(id) {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=shop_del_address", {
          addr_id: id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getAddressList();
        });
    },

    // 添加地址
    handleAdd() {
      this.$router.push({
        name: "AddAddress",
      });
    },
    //去结算
    tallyOrder() {
      if (this.checkedLength == 0) {
        this.$message({
          showClose: true,
          message: "请选择结算的商品!",
          type: "error",
        });
        return false;
      }
      this.submitData = [];
      for (let index = 0; index < this.data.length; index++) {
        if (this.data[index].checked == 1) {
          this.submitData.push({
            id: this.data[index].id,
            num: this.data[index].num,
          });
        }
      }
      console.log(this.submitData);
      this.$router.push({
        name: "ShippingAddress",
      });
    },
  },
};
</script>
<style scoped lang="scss">
// 地址管理
#c-address {
  padding: 30px;
  background: #fff;
  .c-title {
    font-weight: bold;
    font-size: 18px;
  }
  .c-list {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -10px;
    & > li {
      width: 33.333333%;
      padding: 20px 10px 0;
      .c-wrap {
        position: relative;
        border: 1px solid #e5e5e5;
        padding: 30px;
        &::before {
          opacity: 0;
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0;
          height: 0;
          border-bottom: 6px solid #208fb9;
          border-left: 6px solid transparent;
        }
        .c-top2 {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          line-height: 26px;
          .c-name {
            max-width: 50%;
            flex-shrink: 0;
            font-weight: normal;
            font-size: 18px;
          }
          .c-list2 {
            display: flex;
            align-content: flex-start;
            max-width: 50%;
            margin: 0 -2px -4px;
            li {
              padding: 0 2px 4px;
              p {
                padding: 0 10px;
                font-size: 14px;
                line-height: 24px;
                border: 1px solid #208fb9;
                border-radius: 2px;
                color: #208fb9;
                cursor: pointer;
              }
            }
          }
        }
        .c-center2 {
          .c-text {
            padding-right: 100px;
            font-size: 14px;
            color: #666;
            height: 90px;
            line-height: 1.5;
            p {
              display: flex;
              margin-top: 10px;
              span {
                &:first-child {
                  flex-shrink: 0;
                }
                &:last-child {
                  width: 100%;
                }
              }
            }
          }
        }
        .c-bottom2 {
          .c-list2 {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            margin-top: 10px;
            li {
              padding-left: 15px;
              font-size: 14px;
              color: #666;
              text-decoration: underline;
              &:first-child {
                color: #208fb9;
              }
              &.on {
                &:first-child {
                  color: #666;
                }
              }
              p {
                cursor: pointer;
              }
            }
          }
        }
      }
      &.on {
        .c-wrap {
          border-color: #208fb9;
          &::before {
            opacity: 1;
          }
        }
      }
      &:last-child {
        .c-wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 212px;
          font-size: 14px;
          cursor: pointer;
          img {
            margin-bottom: 15px;
            width: 40px;
          }
          .c-text {
            color: #999;
          }
        }
      }
    }
  }
}
</style>
