<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 下拉导航 -->
    <ShopHeader></ShopHeader>
    <!-- 样品清单 -->
    <div class="c-common-box2 bg-color2">
      <div class="container">
        <div class="c-top">
          <h1 class="c-title">
            <img src="~images/c-ypqd-ico1.png" alt="" />订单填写及核对
          </h1>
          <ul class="c-list">
            <li class="on">
              <p class="c-num">1</p>
              <p class="c-text">我的购物车</p>
            </li>
            <li class="on">
              <p class="c-num">2</p>
              <p class="c-text">订单填写及核对</p>
            </li>
            <li>
              <p class="c-num">3</p>
              <p class="c-text">订单提交成功</p>
            </li>
          </ul>
        </div>
        <div class="c-bottom">
          <!-- 订单 -->
          <div id="c-order">
            <!-- 收货地址 -->
            <div class="c-address">
              <div class="c-title-box">
                <h2 class="c-title">收货地址</h2>
                <router-link to="/Shop/ShoppingCart/ShippingAddress"
                  >更多收货地址 <i></i
                ></router-link>
              </div>
              <div
                class="c-bottom2"
                v-for="(item, index) of addressDefault"
                :key="index"
              >
                <div class="address-box" v-if="item.addr_id == addr_id">
                  <ul class="c-list">
                    <li>
                      <p>姓名</p>
                      <p>{{ item.consignee }}</p>
                    </li>
                    <li>
                      <p>收货地址</p>
                      {{ item.province }}{{ item.city }}{{ item.district
                      }}{{ item.street }}{{ item.address }}
                      <p></p>
                    </li>
                    <li>
                      <p>联系号码</p>
                      {{ item.mobile }}
                      <p></p>
                    </li>
                    <li v-if="item.label != ''">
                      <span class="c-tag">{{ item.label }}</span>
                    </li>
                  </ul>
                  <div class="c-btn-box">
                    <router-link
                      :to="{ name: 'EditAddress', query: { id: item.addr_id } }"
                      class="c-btn"
                    >
                      <div class="c-ico">
                        <img src="~images/c-bj-ico.png" alt="编辑" />
                      </div>
                      <p class="c-text">编辑</p>
                    </router-link>
                    <!-- <div class="c-btn" @click="deladdress(address.id)">
                      <div class="c-ico">
                        <img src="~images/c-cgx-ico.png" alt="删除" />
                      </div>
                      <p class="c-text">删除</p>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- 配送方式 -->
            <div class="c-distribution">
              <div class="c-title-box">
                <h2 class="c-title">配送方式</h2>
              </div>
              <div class="c-bottom2">
                <p
                  class="c-text1"
                  :class="{ active: payWay === 0 }"
                  @click="checkPayWay(0)"
                >
                  快递配送
                </p>
                <p
                  class="c-text1"
                  :class="{ active: payWay === 1 }"
                  @click="checkPayWay(1)"
                >
                  运费到付
                </p>
                <div class="c-text2">
                  <p v-if="payWay == 0">
                    我们优先使用顺丰发货，如顺丰不到则使用其他快递公司发货
                  </p>
                  <p v-if="payWay == 1">
                    您在收到货物后付费给快递公司，部分快递公司不支持运费到付。
                  </p>
                </div>
              </div>
            </div>
            <!-- 发票信息 -->
            <div class="c-invoice">
              <div class="c-title-box">
                <h2 class="c-main-title">发票信息</h2>
              </div>
              <div class="c-bottom2">
                <el-radio-group v-model="submitData.invoice.type">
                  <el-radio :label="1">增值税普通发票</el-radio>
                  <el-radio :label="2">增值税专用发票</el-radio>
                  <el-radio :label="3">不需要开发票</el-radio>
                </el-radio-group>
                <div class="c-item-box">
                  <div class="c-item" v-if="submitData.invoice.type == 1">
                    <ul class="c-list">
                      <li>
                        <p class="c-text"><i>*</i> 发票抬头</p>
                        <input
                          type="text"
                          v-model="submitData.invoice.company"
                          placeholder="请输入发票抬头"
                        />
                      </li>
                      <li>
                        <p class="c-text"><i>*</i> 纳税人识别号</p>
                        <input
                          type="text"
                          v-model="submitData.invoice.identification_number"
                          placeholder="请输入纳税人识别号"
                        />
                      </li>
                      <li>
                        <p class="c-text"><i>*</i> 工作邮箱</p>
                        <input
                          type="text"
                          v-model="submitData.invoice.email"
                          placeholder="请输入收件邮箱"
                        />
                      </li>
                    </ul>
                  </div>
                  <div class="c-item" v-if="submitData.invoice.type == 2">
                    <ul class="c-list">
                      <li>
                        <p class="c-text"><i>*</i> 公司名称</p>
                        <input
                          type="text"
                          v-model="submitData.invoice.company"
                          placeholder="请输入公司名称"
                        />
                      </li>
                      <li>
                        <p class="c-text"><i>*</i> 纳税人识别号</p>
                        <input
                          type="text"
                          v-model="submitData.invoice.identification_number"
                          placeholder="请输入纳税人识别号"
                        />
                      </li>
                      <li>
                        <p class="c-text"><i>*</i> 注册地址</p>
                        <input
                          type="text"
                          v-model="submitData.invoice.address"
                          placeholder="请输入注册地址"
                        />
                      </li>
                      <li>
                        <p class="c-text"><i>*</i> 注册电话</p>
                        <input
                          type="text"
                          v-model="submitData.invoice.phone"
                          placeholder="请输入电话号"
                        />
                      </li>
                      <li>
                        <p class="c-text"><i>*</i> 开户银行名称</p>
                        <input
                          type="text"
                          v-model="submitData.invoice.bank_name"
                          placeholder="请输入开户行"
                        />
                      </li>
                      <li>
                        <p class="c-text"><i>*</i> 银行账号</p>
                        <input
                          type="text"
                          v-model="submitData.invoice.bank_account"
                          placeholder="请输入银行账号"
                        />
                      </li>
                      <li>
                        <p class="c-text"><i>*</i> 工作邮箱</p>
                        <input
                          type="text"
                          v-model="submitData.invoice.email"
                          placeholder="请输入电子邮箱号码"
                        />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- 确认商品信息 -->
            <div class="c-commodity">
              <div class="c-title-box">
                <h2 class="c-title">确认商品信息</h2>
              </div>
              <table class="c-common-table c-dt">
                <thead>
                  <tr>
                    <th>图片</th>
                    <th>型号</th>
                    <th>描述</th>
                    <th>发货地</th>
                    <th>预计交期</th>
                    <th>价格(含税)</th>
                    <th>购买数量</th>
                    <th>小计</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) of orderProductList" :key="index">
                    <td>
                      <div class="c-img-box">
                        <img :src="item.litpic" alt="" />
                      </div>
                    </td>
                    <td>
                      <h3 class="c-title">{{ item.title }}</h3>
                    </td>
                    <td>
                      <div class="c-text">
                        <p><span>参考封装：</span>{{ item.package1 }}</p>
                        <p>
                          <span>封装/规格：</span>{{ item.specifications1 }}
                        </p>
                        <p><span>品牌/产地：</span>{{ item.brand_name }}</p>
                        <p><span>产品编号：</span>{{ item.number }}</p>
                      </div>
                    </td>
                    <td>{{ item.sample }}</td>
                    <td>{{ item.delivery }}</td>
                    <td>￥{{ item.spec_price }}</td>
                    <td>{{ item.product_num }}</td>
                    <td class="c-price">￥{{ item.total_price }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="c-msg">
                <p class="c-text">留言：</p>
                <textarea
                  v-model="submitData.msg"
                  placeholder="给商家留言(选填，90字以内)"
                ></textarea>
              </div>
            </div>
            <!-- 优惠/抵扣 -->
            <div class="c-discounts">
              <div class="c-title-box">
                <h2 class="c-title">优惠/抵扣</h2>
              </div>
              <div class="c-top2">
                <div class="c-box">
                  <el-checkbox
                    v-model="isIntegral"
                    @change="handleIntegralChange"
                  ></el-checkbox>
                  <span>使用</span>
                  <el-input
                    v-model="usePoints"
                    @change="handleIntegralChange2"
                    :disabled="!isIntegral"
                    oninput="value=value.replace(/[^\d]/g,'')"
                    maxLength="9"
                  ></el-input>
                  <span>积分抵扣</span>
                  <span class="c-color">-¥{{ pointsDeduction }}</span>
                  <p class="c-text">
                    可用积分：<i>{{ Integral }}</i>
                  </p>
                </div>
                <div class="c-box">
                  <el-checkbox
                    v-model="isCoupon"
                    @change="handleCouponChange"
                    :disabled="coupon.length == 0"
                  ></el-checkbox>
                  <span>使用优惠券</span>
                </div>
              </div>
              <div class="c-center2">
                <ul class="c-list" v-if="this.couponlist.length > 0">
                  <li
                    v-for="(item, index) in couponlist"
                    :key="index"
                    :class="{ on: item.coupon_id == couponId }"
                  >
                    <div class="c-wrap" @click="setCouponId(item)">
                      <img src="~images/c-yhq1.png" alt="" />
                      <img src="~images/c-yhq2.png" alt="" />
                      <div class="c-box">
                        <div class="c-lt">
                          <p>￥</p>
                          <span>{{ item.coupon_price }}</span>
                        </div>
                        <div class="c-gt">
                          <p class="c-title">{{ item.coupon_name }}</p>
                          <p class="c-text">
                            限 {{ item.start_date | dateDiff }} -
                            {{ item.end_date | dateDiff }}
                          </p>
                          <p class="c-text">
                            满 {{ item.conditions_use }} 元可用
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <span v-else>暂无可用优惠券</span>
              </div>
              <div class="c-bottom2">
                <p class="c-text">
                  商品总金额：<span>￥{{ total }}</span>
                </p>
                <p class="c-text">
                  运费：<i v-show="payWay == 0 && freight != 0"
                    >￥{{ freight }}</i
                  ><i v-show="payWay == 0 && freight == 0">包邮</i
                  ><span v-show="payWay == 1">到付</span>
                </p>
                <p class="c-text">
                  优惠/折扣：<span class="c-dt"
                    >-￥ <span>{{ total3 }}</span></span
                  >
                </p>
                <p class="c-text">
                  应付金额：<span class="c-dt"
                    >￥ <span>{{ total4 }}</span></span
                  >
                </p>
                <div class="c-text2">
                  <div
                    class="c-radio el-input__icon el-icon-check"
                    :class="{ on: checkPact }"
                    @click="isPact()"
                  ></div>
                  <span>已阅读并同意</span>
                  <router-link to="/SaleContract" target="_blank"
                    >《感算商城商品（服务）买卖合同》</router-link
                  >
                </div>
                <button type="button" @click="subOrder">订单提交</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import ShopHeader from "@/components/Shop/ShopHeader.vue";
import * as math from "mathjs";

export default {
  name: "ShoppingOrder",
  data() {
    return {
      checkPact: false, //同意合同
      total: 0, //商品总金额
      total2: 0, //折扣后商品总金额
      total3: 0, //折扣总金额
      total4: 0, // 应付金额
      isCoupon: false, //是否使用优惠券
      couponId: "", //优惠券id
      couponDeduction: 0, //优惠券抵扣金额
      isIntegral: false, //是否使用积分
      usePoints: 0, //使用积分数量
      pointsDeduction: 0, //积分抵扣金额
      freight: 0, //运费
      submitData: {
        invoice: {
          type: 1, //发票类型
          company: "", //公司名称-发票抬头
          identification_number: "", //纳税识别号
          email: "", //邮箱
          address: "", //注册地址
          phone: "", //注册电话
          bank_name: "", //开户银行名称
          bank_account: "", //开户银行账号
        }, //发票
        msg: "", //留言
        integral: 0, //积分
        couponId: "", //优惠券id
      },
      addressDefault: [], //地址
      coupon: [], //优惠券
      couponlist: [], //优惠券
      addr_id: "", //收货地址id
      payWay: 0, //配送方式
      orderProductList: [], //订单产品
      Integral: "", //拥有的积分
    };
  },
  components: {
    webHeader,
    webFooter,
    ShopHeader,
  },
  created() {
    this.addr_id = this.$route.query.addr_id;
    this.getAddressList();
  },
  methods: {
    // 删除地址
    deladdress(id) {
      console.log(id);
      this.$message({
        message: "地址删除成功！",
        type: "success",
      });
      // 清空地址
      this.address = "";
    },

    // 订单提交
    Handlesubmit() {
      // 邮箱正则
      let yx1 =
        /^([a-zA-Z0-9]+[_|.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
      // 手机号正则
      let sjh1 = /^((12|13|14|15|16|17|18|19)+\d{9})$/;
      // 地址验证
      if (this.address == "") {
        this.$message({
          showClose: true,
          message: "请添加收货地址!",
          type: "error",
        });
        return false;
      }
      // 普通发票验证
      if (this.submitData.invoice.type == 1) {
        if (this.submitData.invoice.invoiceTitle == "") {
          this.$message({
            showClose: true,
            message: "请输入发票抬头!",
            type: "error",
          });
          return false;
        }
        if (this.submitData.invoice.npwp == "") {
          this.$message({
            showClose: true,
            message: "请输入纳税人识别号!",
            type: "error",
          });
          return false;
        }
        if (
          this.submitData.invoice.email == "" ||
          !yx1.test(this.submitData.invoice.email)
        ) {
          this.$message({
            showClose: true,
            message: "请输入真实有效的工作邮箱!",
            type: "error",
          });
          return false;
        }
      }
      // 专用发票验证
      if (this.submitData.invoice.type == 2) {
        if (this.submitData.invoice.company == "") {
          this.$message({
            showClose: true,
            message: "请输入公司名称!",
            type: "error",
          });
          return false;
        }
        if (this.submitData.invoice.npwp == "") {
          this.$message({
            showClose: true,
            message: "请输入纳税人识别号!",
            type: "error",
          });
          return false;
        }
        if (this.submitData.invoice.address == "") {
          this.$message({
            showClose: true,
            message: "请输入注册地址!",
            type: "error",
          });
          return false;
        }
        if (
          this.submitData.invoice.phone == "" ||
          !sjh1.test(this.submitData.invoice.phone)
        ) {
          this.$message({
            showClose: true,
            message: "请输入真实有效的手机号!",
            type: "error",
          });
          return false;
        }
        if (this.submitData.invoice.bank == "") {
          this.$message({
            showClose: true,
            message: "请输入开户行!",
            type: "error",
          });
          return false;
        }
        if (this.submitData.invoice.data2.account == "") {
          this.$message({
            showClose: true,
            message: "请输入银行账号!",
            type: "error",
          });
          return false;
        }
        if (
          this.submitData.invoice.data2.email == "" ||
          !yx1.test(this.submitData.invoice.email)
        ) {
          this.$message({
            showClose: true,
            message: "请输入真实有效的工作邮箱!",
            type: "error",
          });
          return false;
        }
      }
      // 同意合同验证
      if (!this.checkPact) {
        this.$message({
          showClose: true,
          message: "请同意《感算商城商品（服务）买卖合同》!",
          type: "error",
        });
        return false;
      }
      this.$message({
        showClose: true,
        message: "提交成功!",
        type: "success",
      });
      this.$router.push({
        path: "/Shop/ShoppingCart/SubmitSuccessfully",
      });
    },

    //---接口方法--------------------

    // 获取地址列表
    getAddressList() {
      this.$axios.post("/api/index.php?m=user&c=Shop&a=addlist").then((res) => {
        console.log;
        this.addressDefault = res.data.res;
        this.getOrderInfo();
        this.getIntegral();
        this.getCouponList();
      });
    },

    //获取订单详情
    getOrderInfo() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=order_list", {
          address: this.addr_id,
        })
        .then((res) => {
          console.log(res);
          this.orderProductList = res.data.res.shop_cart;
          this.freight = res.data.res.freight;
          this.TotalProductPrice();
          this.discountedTotal();
        });
    },

    //选择配送方式
    checkPayWay(e) {
      this.payWay = e;
    },

    //拥有的积分
    getIntegral() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=resources", {
          page: 1,
          limit: 10,
        })
        .then((res) => {
          this.Integral = res.data.res.scores;
        });
    },

    // 使用积分
    handleIntegralChange() {
      if (this.isIntegral == true) {
        // 选中积分抵扣
        // 设置积分抵扣金额
        this.pointsDeduction = Number(
          math.format(
            math.divide(
              math.bignumber(this.usePoints),
              math.bignumber(this.Integral)
            )
          )
        ).toFixed(2);
        // 设置提交的积分数量
        this.submitData.integral = this.usePoints;
      } else {
        // 取消积分抵扣
        // 积分抵扣金额清零
        this.pointsDeduction = 0;
        // 提交积分数量清零
        this.submitData.integral = 0;
        // 使用积分数量清零
        this.usePoints = 0;
      }
      this.discountedTotal();
    },
    // 输入积分
    handleIntegralChange2() {
      // 大于总积分等于总积分
      if (this.usePoints > this.Integral) {
        this.usePoints = this.Integral;
      }
      // 小于0等于0
      if (this.usePoints <= 0) {
        this.usePoints = 0;
      }
      // 只能使用10的倍数积分
      if (this.usePoints % 10 != 0) {
        this.usePoints = math.format(
          math.subtract(
            math.bignumber(this.usePoints),
            math.bignumber(this.usePoints % 10)
          )
        );
      }
      if (this.isIntegral == true) {
        // 选中积分抵扣
        // 设置积分抵扣金额
        this.pointsDeduction = Number(
          math.format(
            math.divide(math.bignumber(this.usePoints), math.bignumber(1000))
          )
        ).toFixed(2);
        this.submitData.integral = 0;
      } else {
        // 取消积分抵扣
        // 积分抵扣金额清零
        this.pointsDeduction = 0;
        // 使用积分清零
        this.submitData.integral = 0;
      }
      this.discountedTotal();
    },

    //优惠券列表--y
    getCouponList() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=order_coupon")
        .then((res) => {
          this.coupon = res.data.res;
          this.couponlist = [];
          this.coupon.forEach((item) => {
            if( this.total >=  parseFloat(item.conditions_use)){
              this.couponlist.push(item);
            }
          })
        });
    },

    // 使用优惠券--y
    useCoupon() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=use_coupon", {
          coupon_id: "",
          product_id: "",
        })
        .then((res) => {
          console.log(res);
        });
    },

    // 使用优惠券
    handleCouponChange() {
      if (this.isCoupon == true) {
        this.coupon.forEach((item) => {
          if (item.id == this.couponId) {
            //设置优惠金额
            this.couponDeduction = item.price;
            // 设置提交优惠券的id
            this.submitData.couponId = item.id;
          }
        });
      } else {
        //不使用优惠券
        // 没有选择优惠券
        this.isCoupon == false;
        // 清空优惠券id
        this.couponId = "";
        //设置优惠金额
        this.couponDeduction = 0;
        // 设置提交优惠券的id
        this.submitData.couponId = "";
      }
      this.discountedTotal();
    },

    // 选择优惠券
    setCouponId(item) {
      if (this.couponId != item.coupon_id) {
        console.log(item);
        // 选择优惠券
        if (Number(item.conditions_use) <= this.total) {
          // 优惠券优惠金额小于商品总金额，设置优惠券id
          this.isCoupon = true;
          this.couponId = item.coupon_id;
        } else {
          // 优惠券优惠金额大于商品总金额提示
          this.$message({
            showClose: true,
            message: "不满足优惠券使用条件!",
            type: "error",
          });
          return false;
        }
        if (this.isCoupon == true) {
          //使用优惠券
          //设置提交优惠券的id
          this.submitData.couponId = item.coupon_id;
          //设置优惠券抵扣金额
          this.couponDeduction = Number(item.coupon_price);
        }
      } else {
        // 没有选择优惠券
        this.isCoupon == false;
        // 清空优惠券id
        this.couponId = "";
        // 清空提交优惠券的id
        this.submitData.couponId = "";
        // 清空优惠券抵扣金额
        this.couponDeduction = 0;
      }
      this.discountedTotal();
    },

    // 商品总金额计算
    TotalProductPrice() {
      let price = 0;
      this.orderProductList.forEach((item) => {
        price = math.format(
          math.add(math.bignumber(price), math.bignumber(item.total_price))
        );
        // price = math.format(
        //   math
        //     .multiply(math.bignumber(item.num), math.bignumber(item.price))
        //     .add(math.bignumber(price))
        // );
        // // 设置单个商品总价
        // this.orderProductList[index].total = math.format(
        //   math.multiply(math.bignumber(item.num), math.bignumber(item.price))
        // );
      });
      // 设置商品总金额
      this.total = Number(price).toFixed(2);
      // 设置应付金额
      this.total4 = Number(price).toFixed(2);
    },
    // 优惠后的总价
    discountedTotal() {
      // 设置使用优惠券后的价格
      this.total2 = Number(
        math.format(
          math.subtract(
            math.bignumber(this.total),
            math.bignumber(this.couponDeduction)
          )
        )
      ).toFixed(2);

      // 积分抵扣金额大于等于使用优惠券后商品总金额并且运费为0并且提交的优惠券id不为空时设置使用积分
      if (this.pointsDeduction >= this.total2 && this.freight == 0) {
        this.usePoints = Number(
          math.format(
            math.multiply(math.bignumber(this.total2), math.bignumber(1000))
          )
        );
        if (this.total2 == 0) {
          this.usePoints = 0;
        } else {
          this.usePoints = Number(
            math.format(
              math.subtract(math.bignumber(this.usePoints), math.bignumber(10))
            )
          );
        }

        this.pointsDeduction = Number(
          math.format(
            math.divide(math.bignumber(this.usePoints), math.bignumber(1000))
          )
        ).toFixed(2);
      }
      //设置使用积分后的价格
      this.total4 = Number(
        math.format(
          math.subtract(
            math.bignumber(this.total2),
            math.bignumber(this.pointsDeduction)
          )
        )
      ).toFixed(2);

      // 折扣总金额
      this.total3 = Number(
        math.format(
          math.add(
            math.bignumber(this.couponDeduction),
            math.bignumber(this.pointsDeduction)
          )
        )
      ).toFixed(2);

      console.log(this.freight);
      // 设置加上运费后的价格
      this.total4 = Number(
        math.format(
          math.add(math.bignumber(this.total4), math.bignumber(this.freight))
        )
      ).toFixed(2);
    },

    // 同意合同
    isPact() {
      this.checkPact = !this.checkPact;
    },

    //订单提交
    subOrder() {
      // 邮箱正则
      let yx1 =
        /^([a-zA-Z0-9]+[_|.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
      // 手机号正则
      let sjh1 = /^((12|13|14|15|16|17|18|19)+\d{9})$/;
      // 地址验证
      if (this.address == "") {
        this.$message({
          showClose: true,
          message: "请添加收货地址!",
          type: "error",
        });
        return false;
      }
      // 普通发票验证
      if (this.submitData.invoice.type == 1) {
        if (this.submitData.invoice.company == "") {
          this.$message({
            showClose: true,
            message: "请输入发票抬头!",
            type: "error",
          });
          return false;
        }
        if (this.submitData.invoice.identification_number == "") {
          this.$message({
            showClose: true,
            message: "请输入纳税人识别号!",
            type: "error",
          });
          return false;
        }
        if (
          this.submitData.invoice.email == "" ||
          !yx1.test(this.submitData.invoice.email)
        ) {
          this.$message({
            showClose: true,
            message: "请输入真实有效的工作邮箱!",
            type: "error",
          });
          return false;
        }
      }
      // 专用发票验证
      if (this.submitData.invoice.type == 2) {
        if (this.submitData.invoice.company == "") {
          this.$message({
            showClose: true,
            message: "请输入公司名称!",
            type: "error",
          });
          return false;
        }
        if (this.submitData.invoice.identification_number == "") {
          this.$message({
            showClose: true,
            message: "请输入纳税人识别号!",
            type: "error",
          });
          return false;
        }
        if (this.submitData.invoice.address == "") {
          this.$message({
            showClose: true,
            message: "请输入注册地址!",
            type: "error",
          });
          return false;
        }
        if (
          this.submitData.invoice.phone == ""
        ) {
          this.$message({
            showClose: true,
            message: "请输入注册电话!",
            type: "error",
          });
          return false;
        }
        if (
          !sjh1.test(this.submitData.invoice.phone)
        ) {
          this.$message({
            showClose: true,
            message: "请输入正确的注册电话!",
            type: "error",
          });
          return false;
        }
        if (this.submitData.invoice.bank_name == "") {
          this.$message({
            showClose: true,
            message: "请输入开户行!",
            type: "error",
          });
          return false;
        }
        if (this.submitData.invoice.bank_account == "") {
          this.$message({
            showClose: true,
            message: "请输入银行账号!",
            type: "error",
          });
          return false;
        }
        if (
          this.submitData.invoice.email == "" ||
          !yx1.test(this.submitData.invoice.email)
        ) {
          this.$message({
            showClose: true,
            message: "请输入真实有效的工作邮箱!",
            type: "error",
          });
          return false;
        }
      }
      // 同意合同验证
      if (!this.checkPact) {
        this.$message({
          showClose: true,
          message: "请同意《感算商城商品（服务）买卖合同》!",
          type: "error",
        });
        return false;
      }
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=shop_payment_page", {
          addr_id: this.addr_id, //配送地址id
          payment_method: this.payWay, //0:在线支付 1:到付
          payment_type: "zxzf_alipay", //zxzf_wechat：微信支付，zxzf_alipay：支付宝支付，hdfk_payOnDelivery:货到支付
          company: this.company, //发票-公司名称
          identification_number: this.submitData.invoice.identification_number, //发票-纳税识别号
          status: this.submitData.invoice.type, //发票： 1：普票，2：专票，3：不需要
          email: this.submitData.invoice.email, //邮箱
          address: this.submitData.invoice.address, //注册地址
          phone: this.submitData.invoice.phone, //注册电话
          bank_name: this.submitData.invoice.bank_name, //开户银行名称
          bank_account: this.submitData.invoice.bank_account, //银行账号
          integral: this.pointsDeduction, //积分
          coupon: this.couponId, //优惠券id
        })
        .then((res) => {
          console.log(res);
          this.$router.push({
            path: "/Shop/ShoppingCart/SubmitSuccessfully",
            query: {
              id: res.data.unified_id, //订单id
              unified_number: res.data.unified_number, //订单号
            },
          });
        });
    },
  },
};
</script>
<style scoped lang="scss">
// 订单
#c-order {
  padding: 30px;
  background: #fff;
  .c-title-box {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .c-title {
      font-weight: bold;
      font-size: 18px;
    }
    a {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #208fb9;
      i {
        margin-left: 10px;
        width: 8px;
        height: 8px;
        background: url(~images/arrow-r4.png) no-repeat center / auto 100%;
      }
    }
  }
  // 收货地址
  .c-address {
    .c-bottom2 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .address-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .c-list {
        li {
          margin-bottom: 5px;
          display: flex;
          align-items: flex-start;
          color: #666;
          line-height: 24px;
          p {
            &:first-child {
              flex-shrink: 0;
              width: 130px;
              color: #999;
            }
          }
          .c-tag {
            margin-top: 15px;
            padding: 0 15px;
            font-size: 14px;
            line-height: 26px;
            border: 1px solid #208fb9;
            color: #208fb9;
          }
        }
      }
      .c-btn-box {
        padding-left: 60px;
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        .c-btn {
          display: block;
          text-align: center;
          cursor: pointer;
          line-height: 1;
          font-size: 14px;
          color: #666;
          .c-ico {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            background: #f5f5f5;
            border-radius: 50%;
            img {
              height: 22px;
            }
          }
          // &:last-child {
          //   margin-left: 20px;
          //   .c-ico {
          //     background: #f5002f;
          //   }
          //   color: #f5002f;
          // }
        }
      }
    }
  }
  // 配送方式
  .c-distribution {
    margin: 50px 0;
    padding: 50px 0;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    .c-bottom2 {
      display: flex;
      align-items: center;
      font-size: 14px;
      .c-text1 {
        width: 140px;
        height: 40px;
        color: #208fb9;
        line-height: 38px;
        text-align: center;
        background: #fff;
        border: 1px solid #208fb9;
        border-radius: 3px;
        cursor: pointer;
        &:nth-child(2) {
          margin-left: 10px;
        }
        &.active {
          color: #fff;
          background: #208fb9;
        }
      }
      .c-text2 {
        margin-left: 20px;
        color: #666;
        line-height: 20px;
      }
    }
  }
  // 发票信息
  .c-invoice {
    .c-bottom2 {
      .el-radio {
        margin-right: 60px;
      }
      .c-list {
        padding-top: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: -10px;
        li {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 1.5;
          color: #666;
          &:nth-child(3n-1) {
            .c-text {
              width: 120px;
            }
          }
          &.c-dt {
            width: 100%;
          }
          .c-text {
            width: 90px;
            flex-shrink: 0;
            i {
              font-style: normal;
              color: #f3002f;
            }
            &.c-dt {
              width: 120px;
            }
          }
          input {
            height: 36px;
            width: 270px;
            border: 1px solid #eee;
            line-height: 34px;
            padding: 0 20px;
            font-size: 14px;
            @media (max-width: 1580px) {
              width: 250px;
            }
            &:hover {
              border-color: #c0c4cc;
            }
            &:focus {
              border-color: #208fb9;
            }
          }
          textarea {
            display: block;
            width: 100%;
            font-size: 14px;
            height: 100px;
            padding: 15px 20px;
            border: 1px solid #eee;
            resize: none;
            overflow: auto;
            &.c-dt {
              padding: 5px 20px;
              height: 36px;
              line-height: 24px;
            }
            &:hover {
              border-color: #c0c4cc;
            }
            &:focus {
              border-color: #208fb9;
            }
          }
          button {
            display: inline-block;
            width: 140px;
            line-height: 40px;
            color: #fff;
            background: #208fb9;
            border-radius: 2px;
          }
        }
      }
    }
  }
  // 确认商品信息
  .c-commodity {
    padding: 50px 0;
    .c-msg {
      padding: 20px;
      background: #f5f5f5;
      display: flex;
      align-items: center;
      .c-text {
        flex-shrink: 0;
        width: 70px;
        color: #666;
      }
      textarea {
        display: block;
        width: 100%;
        font-size: 14px;
        height: 80px;
        background: #ffffff;
        border-radius: 5px;
        padding: 15px 20px;
        resize: none;
        overflow: auto;
      }
    }
  }
  // 优惠/抵扣
  .c-discounts {
    .c-top2 {
      .c-box {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #666;
        &:last-child {
          margin-bottom: 0;
        }
        .c-color {
          margin: 0 30px 0 10px;
          color: #f5002f;
        }
        .el-checkbox {
          margin-right: 10px;
        }
        .c-text {
          padding: 0 10px;
          background: #f2f2f2;
          border-radius: 3px;
          line-height: 24px;
          i {
            font-style: normal;
            color: #208fb9;
          }
        }
      }
    }
    .c-center2 {
      .c-list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 -12px;
        li {
          padding: 24px 12px 0;
          width: 33.333333%;
          .c-wrap {
            position: relative;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            img {
              width: 100%;
              &:nth-child(2) {
                display: none;
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
              }
            }
            .c-box {
              display: flex;
              align-items: center;
              position: absolute;
              z-index: 3;
              top: 50%;
              left: 0;
              width: 100%;
              padding: 0 30px;
              color: #208fb9;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              @media (max-width: 1580px) {
                padding: 0 20px;
              }
              .c-lt {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                p {
                  font-size: 22px;
                  @media (max-width: 1580px) {
                    font-size: 18px;
                  }
                }
                span {
                  padding-right: 10px;
                  min-width: 120px;
                  font-size: 72px;
                  @media (max-width: 1580px) {
                    font-size: 52px;
                  }
                }
              }
              .c-gt {
                width: 100%;
                .c-title {
                  margin-bottom: 5px;
                  font-size: 22px;
                  @media (max-width: 1580px) {
                    font-size: 18px;
                  }
                }
                .c-text {
                  font-size: 14px;
                  line-height: 18px;
                  color: #999;
                  @media (max-width: 1580px) {
                    font-size: 12px;
                  }
                }
              }
            }
          }
          &.on {
            .c-wrap {
              img {
                &:nth-child(2) {
                  display: block;
                }
              }
              .c-box {
                color: #fff;
                .c-text {
                  color: #99cade;
                }
              }
            }
          }
        }
      }
    }
    .c-bottom2 {
      padding-top: 20px;
      font-size: 14px;
      text-align: right;
      .c-text {
        line-height: 30px;
        .c-dt {
          color: #f3002f;
          span {
            font-size: 22px;
          }
        }
        i {
          font-style: normal;
        }
      }
      .c-text2 {
        padding: 20px 0 25px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .c-radio {
          margin-right: 10px;
          display: inline-block;
          vertical-align: middle;
          width: 14px;
          height: 14px;
          line-height: 12px;
          border-radius: 2px;
          border: 1px solid #cccccc;
          color: #fff;
          cursor: pointer;
          &.on {
            border-color: #208fb9;
            background-color: #208fb9;
          }
        }
        span {
          color: #999;
        }
      }
      button {
        display: inline-block;
        width: 140px;
        line-height: 40px;
        color: #fff;
        background: #208fb9;
        border-radius: 2px;
      }
    }
  }
}
.c-discounts ::v-deep .el-input {
  margin: 0 6px;
  width: auto;
}
.c-discounts ::v-deep .el-input__inner {
  width: 80px;
  height: 24px;
  line-height: 22px;
  padding: 0 10px;
  border: 1px solid #e5e5e5;
}
::v-deep .el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #dcdfe6;
}
::v-deep .el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #208fb9;
  border-color: #208fb9;
}
table{
  border: none;
  tr{
    border: none;
    th{
      border: none;
    }
    td{
      border: none;
    }
  }
}
</style>
