<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 下拉导航 -->
    <ShopHeader></ShopHeader>
    <!-- 样品清单 -->
    <div class="c-common-box2 bg-color2">
      <div class="container">
        <div class="c-top">
          <h1 class="c-title">
            <img src="~images/c-ypqd-ico2.png" alt="" />订单提交成功
          </h1>
          <ul class="c-list on">
            <li class="on">
              <p class="c-num">1</p>
              <p class="c-text">我的购物车</p>
            </li>
            <li class="on">
              <p class="c-num">2</p>
              <p class="c-text">订单填写及核对</p>
            </li>
            <li class="on">
              <p class="c-num">3</p>
              <p class="c-text">订单提交成功</p>
            </li>
          </ul>
        </div>
        <div class="c-bottom">
          <!-- 提交成功 -->
          <div id="c-successfully">
            <div class="c-top2">
              <div class="c-wrap">
                <h2 class="c-title">
                  <img
                    src="~images/c-tjcg-ico.png"
                    alt=""
                  />订单提交成功，请您尽快支付。
                </h2>
                <div class="c-box-wrap">
                  <p class="c-text">订单号：{{ OrderInfo.order_code }}</p>
                  <div class="c-link">
                    <router-link
                      :to="{ name: 'OrderDetails', query: { id: id } }"
                      >查看订单详情</router-link
                    >
                    <router-link to="/">返回首页</router-link>
                  </div>
                  <p class="c-amount">
                    <span>应付金额：</span><i>¥{{ OrderInfo.order_amount }}</i>
                  </p>
                  <p class="c-text2">
                    选择支付方式
                    <span
                      >(为了保证及时处理您的订单，请您于下单后24小时内完成付款)</span
                    >
                  </p>
                  <el-radio-group v-model="radio" class="c-list">
                    <el-radio label="1">
                      <div class="c-mask" @click="handleChange(1)"></div>
                      <img src="~images/c-wxzf-ico.png" alt="" />
                    </el-radio>
                    <el-radio label="2">
                      <div class="c-mask" @click="payAlipay"></div>
                      <img src="~images/c-zfbzf-ico.png" alt="" />
                    </el-radio>
                    <el-radio label="3">
                      <div class="c-mask" @click="handleChange(3)"></div>
                      <img src="~images/c-ylzf-ico.png" alt="" />
                    </el-radio>
                  </el-radio-group>
                  <router-link class="c-btn" to="/Shop/ShoppingCart"
                    >返回购物车</router-link
                  >
                </div>
              </div>
            </div>
            <div class="c-bottom2" v-if="RecommendedProducts.length >= 1">
              <div class="c-title-box">
                <h2 class="c-title">猜你喜欢的</h2>
                <div class="c-text">
                  <p>
                    根据您购买的 <span> {{ orderProduct }} </span> 等商品
                  </p>
                  <p>为您推荐以下商品</p>
                </div>
              </div>
              <div id="c-product" class="bg-color1">
                <div class="c-typesetting2">
                  <ul class="c-list">
                    <li
                      v-for="(item, index) of RecommendedProducts"
                      :key="index"
                    >
                      <div class="c-tBox">
                        <div class="c-lt">
                          <router-link
                            :to="{
                              path: '/Shop/ProductDetail',
                              query: { id: item.aid },
                            }"
                            class="c-img-box"
                            :class="{ on: item.is_b == 1 }"
                            @click="addSeeList(item)"
                          >
                            <img :src="item.litpic" alt="" />
                          </router-link>
                        </div>
                        <div class="c-gt">
                          <router-link
                            class="c-title"
                            :to="{
                              path: '/Shop/ProductDetail',
                              query: { id: item.aid },
                            }"
                            >{{ item.title }}</router-link
                          >
                          <div class="c-text">
                            <p>
                              <span>参考封装：</span
                              ><span>{{ item.package1 }}</span>
                            </p>
                            <p>
                              <span>封装/规格：</span
                              ><span>{{ item.specifications1 }}</span>
                            </p>
                            <p>
                              <span>品牌/产地：</span
                              ><span>{{ item.brand }}</span>
                            </p>
                            <p>
                              <span>产品编号：</span
                              ><span>{{ item.number }}</span>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="c-cBox">
                        <div class="c-lt">
                          <div class="c-btn-box">
                            <div class="c-btn" @click="getCollect(item)">
                              {{ item.collection == 1 ? "已收藏" : "收藏" }}
                            </div>
                            <div class="c-btn" @click="getAddCompared(item)">
                              对比
                            </div>
                          </div>
                        </div>
                        <div class="c-gt">
                          <div class="c-num-wrap">
                            <div class="c-box1">
                              <div class="c-lbox">
                                <p class="c-present-price">
                                  <i>¥</i><span>{{ item.users_price }}</span>
                                </p>
                              </div>
                              <div class="c-arrow"></div>
                            </div>
                            <div class="c-box2">
                              <div
                                class="c-item"
                                v-for="(items, index) of item.product_spec"
                                :key="index"
                              >
                                <div class="c-lbox">
                                  <p class="c-text">￥</p>
                                  <p class="c-price">{{ items.spec_price }}</p>
                                  <p class="c-text2">&nbsp;/&nbsp;个</p>
                                </div>
                                <p class="c-num">{{ items.spec_value }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="c-bBox">
                        <div class="c-btn-box">
                          <div class="c-item">
                            <router-link
                              :to="{
                                path: '/Shop/Enquiry',
                                query: { id: item.aid },
                              }"
                              class="c-btn"
                              >批量询价</router-link
                            >
                          </div>
                          <div class="c-item">
                            <router-link to="/Personal/Delivery" class="c-btn"
                              >查询交期</router-link
                            >
                          </div>
                          <div class="c-item">
                            <div class="c-btn" @click="addSampleList(item)">
                              加入样品单
                            </div>
                          </div>
                          <div class="c-item">
                            <div class="c-btn" @click="addShopCar(item)">
                              加入购物车
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 银行汇款 -->
    <div id="c-union-play" v-show="isPop">
      <div class="c-main">
        <div class="c-close" @click="hidePop"></div>
        <div class="c-top">
          <img src="~images/c-ylzf-ico.png" alt="" />
          <div class="c-text">
            <h2 class="c-title">银行汇款</h2>
            <p>
              您需要向以下账户转入订单款，我们将在核对款项到达账户后尽快寄出所购商品。
            </p>
          </div>
        </div>
        <div class="c-center">
          <p><span>户名：</span><span>上海感算电子商务有限公司</span></p>
          <p><span>账号：</span><span>755919290910701</span></p>
          <p><span>开户行：</span><span>招商银行深圳罗湖支行</span></p>
        </div>
        <div class="c-bottom">
          <router-link
            :to="{
              path: '/Shop/ShoppingCart/UploadCertificate',
              query: { id: id },
            }"
            >上传付款凭证</router-link
          >
          <span>(财务快速核对到账，以便尽快订单发货)</span>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import ShopHeader from "@/components/Shop/ShopHeader.vue";
export default {
  name: "SubmitSuccessfully",
  data() {
    return {
      id: "",
      radio: "",
      isPop: false,
      OrderInfo: [],
      orderProduct: "", //订单产品型号
      RecommendedProducts: [], //推荐列表
    };
  },
  components: {
    webHeader,
    webFooter,
    ShopHeader,
  },
  created() {
    this.id = this.$route.query.id;
    this.getOrderInfo();
    this.getRecommendedProducts();
  },
  methods: {
    // 支付方式
    handleChange(num) {
      // 显示银行支付弹窗
      if (num == 3) {
        this.isPop = true;
      }
    },
    // 隐藏银行支付弹窗
    hidePop() {
      this.isPop = false;
    },

    //---接口方法-----------------

    //订单详情
    getOrderInfo() {
      this.$axios
        .post("/api/index.php?m=user&c=Pay&a=pay_recharge_detail", {
          order_id: this.$route.query.id,
          order_code: this.$route.query.unified_number,
        })
        .then((res) => {
          console.log(res);
          this.OrderInfo = res.data.mag;
        });
    },

    // 支付宝支付
    payAlipay() {
      this.$axios
        .post("/api/index.php?m=user&c=PayApi&a=select_pay_method&_ajax=1", {
          // pay_id: this.$route.query.pay_id, //支付方式 到付/在线支付
          // pay_mark: this.$route.query.pay_mark, //支付方式 微信/支付宝/银行卡
          // unified_id: this.$route.query.unified_id, //订单id
          // unified_number: this.$route.query.unified_number, //订单号
          pay_id: 2, //支付方式 到付/在线支付
          pay_mark: "alipay", //支付方式 微信/支付宝/银行卡
          unified_id: this.$route.query.id, //订单id
          unified_number: this.$route.query.unified_number, //订单号
          transaction_type: 2,
        })
        .then((res) => {
          console.log(res);
          window.open(res.data.url, "_blank");
        });
    },

    //推荐产品
    getRecommendedProducts() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=recommend")
        .then((res) => {
          console.log(res);
          this.orderProduct = res.data.product_title;
          this.RecommendedProducts = res.data.res;
        });
    },
  },
};
</script>
<style scoped lang="scss">
// 提交成功
#c-successfully {
  .c-top2 {
    margin-bottom: 30px;
    background: #fff;
    padding: 70px;
    text-align: center;
    .c-wrap {
      display: inline-block;
      text-align: left;
      .c-title {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        font-size: 32px;
        img {
          margin-right: 30px;
          height: 60px;
        }
      }
      .c-box-wrap {
        padding-left: 90px;
        .c-text {
          color: #666;
        }
        .c-link {
          a {
            color: #208fb9;
            text-decoration: underline;
            &:last-child {
              margin-left: 20px;
            }
          }
        }
        .c-amount {
          padding: 20px 0;
          color: #666;
          i {
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: #f5002f;
          }
        }
        .c-text2 {
          color: #666;
          span {
            font-size: 14px;
            color: #888;
          }
        }
        .c-list {
          padding: 20px 0 50px;
          img {
            height: 40px;
          }
        }
        .c-btn {
          margin: 0 auto;
          display: block;
          width: 180px;
          height: 50px;
          font-size: 18px;
          line-height: 50px;
          text-align: center;
          color: #fff;
          background: #208fb9;
          border-radius: 3px;
        }
      }
    }
  }
  .c-bottom2 {
    .c-title-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px;
      background: #fff;
      .c-title {
        font-weight: normal;
        font-size: 18px;
      }
      .c-text {
        font-size: 14px;
        line-height: 1.5;
        color: #666;
        span {
          color: #208fb9;
          text-decoration: underline;
        }
      }
    }
  }
}
#c-successfully ::v-deep .el-radio {
  position: relative;
}
#c-successfully ::v-deep .el-radio .c-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

// 推荐列表
.c-typesetting2 {
  .c-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 1px -1px;
    li {
      padding: 30px;
      width: 33.333333%;
      border: 1px solid #f5f5f5;
      .c-tBox {
        display: flex;
        align-items: flex-start;
        margin: 0 -7px;
        .c-lt {
          padding: 0 7px;
          width: 50%;
          .c-img-box {
            display: block;
            position: relative;
            height: 196px;
            border: 1px solid #eee;
            text-align: center;
            line-height: 194px;
            &.on {
              &::before {
                display: block;
              }
            }
            &::before {
              display: none;
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 40px;
              height: 40px;
              background: url(~images/c-hot.png) no-repeat center / 100%;
            }
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
        }
        .c-gt {
          padding: 0 7px;
          width: 50%;
          .c-title {
            display: block;
            margin: 20px 0;
            padding-left: 14px;
            transition: all 0.3s;
            height: 52px;
            line-height: 26px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            &:hover {
              color: #208fb9;
            }
          }
          .c-text {
            padding-left: 14px;
            p {
              display: flex;
              align-items: flex-start;
              font-size: 14px;
              line-height: 1.5;
              color: #666;
              @media (max-width: 1580px) {
                font-size: 12px;
              }
              span {
                &:first-child {
                  flex-shrink: 0;
                }
              }
            }
          }
        }
      }
      .c-cBox {
        display: flex;
        align-items: center;
        margin: 15px -7px 30px;
        .c-lt {
          padding: 0 7px;
          width: 50%;
          .c-btn-box {
            display: flex;
            align-items: flex-start;
            .c-btn {
              width: 50%;
              height: 30px;
              font-size: 14px;
              line-height: 28px;
              text-align: center;
              border: 1px solid #eee;
              cursor: pointer;
            }
          }
        }
        .c-gt {
          padding: 0 7px;
          width: 50%;
          .c-num-wrap {
            position: relative;
            padding: 4px 15px;
            .c-box1 {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .c-lbox {
                display: flex;
                align-content: center;
                .c-present-price {
                  display: flex;
                  align-items: flex-end;
                  color: #f5002f;
                  i {
                    font-style: normal;
                    font-size: 14px;
                  }
                  span {
                    font-size: 22px;
                  }
                }
                .c-original-price {
                  margin-left: 10px;
                  display: flex;
                  align-items: center;
                  color: #bbb;
                  i {
                    font-style: normal;
                    font-size: 10px;
                  }
                  span {
                    font-size: 12px;
                  }
                }
              }
              .c-arrow {
                width: 8px;
                height: 16px;
                background: url(~images/c-jt-ico1.png) no-repeat center / 100%
                  auto;
                transition: all 0.3s;
              }
            }
            .c-box2 {
              display: none;
              position: absolute;
              top: 30px;
              left: 0;
              padding: 14px;
              width: 100%;
              background: #fff;
              font-size: 14px;
              line-height: 24px;
              color: #666;
              box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
              .c-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .c-lbox {
                  display: flex;
                  align-items: center;
                  color: #f5002f;
                  .c-text {
                    font-size: 10px;
                  }
                  .c-text2 {
                    color: #666;
                  }
                }
              }
            }
            &:hover {
              z-index: 5;
              .c-box1 {
                .c-arrow {
                  -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
                  background-image: url(~images/c-jt-ico2.png);
                }
              }
              .c-box2 {
                display: block;
              }
            }
          }
        }
      }
      .c-bBox {
        .c-btn-box {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          margin: 0 -7px -14px;
          .c-item {
            padding: 0 7px 14px;
            width: 50%;
            .c-btn {
              line-height: 38px;
              text-align: center;
              border: 1px solid #c2c2c2;
              border-radius: 3px;
              color: #666;
              cursor: pointer;
              transition: all 0.3s;
              display: block;
            }
            &:last-child {
              .c-btn {
                color: #f5002f;
                border-color: #f5002f;
                &:hover {
                  color: #fff;
                  background-color: #f5002f;
                }
              }
            }
          }
        }
      }
    }
  }
}

// 银行汇款
#c-union-play {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  .c-main {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    width: 700px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 3px;
    .c-close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 20px;
      height: 20px;
      background: url(~images/c-close2.png) no-repeat center / 15px;
      cursor: pointer;
    }
    .c-top {
      display: flex;
      align-items: center;
      img {
        flex-shrink: 0;
        margin-right: 20px;
        height: 44px;
      }
      .c-title {
        font-size: 22px;
      }
      p {
        font-size: 14px;
        color: #666;
      }
    }
    .c-center {
      padding: 30px 0;
      font-size: 14px;
      line-height: 30px;
      color: #666;
      p {
        display: flex;
        align-items: center;
        span:first-child {
          flex-shrink: 0;
          width: 60px;
        }
      }
    }
    .c-bottom {
      font-size: 14px;
      color: #666;
      a {
        color: #208fb9;
        text-decoration: underline;
      }
    }
  }
}
</style>
