<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <div class="personalCenter">
      <div class="container">
        <div class="top">
          <div class="backgroundImg">
            <img src="~images/personalCenter-img2.jpg" alt="" />
          </div>
          <div class="topContent">
            <div class="topInfo">
              <div class="Avatar">
                <img :src="AuthorInfo.head_pic" alt="" />
              </div>
              <div class="txtBox">
                <div class="name">{{ AuthorInfo.nickname }}</div>
                <div class="tips">{{ AuthorInfo.quotations }}</div>
              </div>
            </div>
            <div class="checkBox" v-if="users_id != author_id">
              <div class="item" @click="focusWriter()">
                <span v-if="AuthorInfo.is_follow == 0">关注</span>
                <span v-else>已关注</span>
              </div>
              <router-link
                class="item"
                :to="{
                  path: '/PrivateLetters',
                  query: { users_id: this.$route.query.users_id },
                }"
                >发私信</router-link
              >
            </div>
          </div>
        </div>

        <div class="center">
          <div class="main">
            <div class="mainMenu">
              <ul>
                <li :class="{ active: isactive == 1 }" @click="changeTab(1)">
                  动态
                </li>
                <li :class="{ active: isactive == 2 }" @click="changeTab(2)">
                  文章
                </li>
                <li :class="{ active: isactive == 3 }" @click="changeTab(3)">
                  评论
                </li>
              </ul>
            </div>
            <div class="mainList">
              <div class="CommentsList">
                <ul>
                  <li v-for="(item, index) of AuthorList" :key="index">
                    <router-link
                      :to="{
                        path: '/ArticleDetails',
                        query: { ask_id: item.ask_id },
                      }"
                      class="title"
                    >
                      {{ item.ask_title }}
                    </router-link>
                    <div class="txtBox">
                      <div
                        class="img"
                        v-show="item.head_pic != '' && item.head_pic != null"
                      >
                        <img :src="/api/ + item.head_pic" alt="" />
                      </div>
                      <div class="txt" v-html="item.content"></div>
                    </div>
                    <div class="checkBox">
                      <div class="like" @click="recommendlike(item)">
                        <span v-if="item.zan == '0'"
                          ><img src="~images/like.png" alt=""
                        /></span>
                        <span v-else
                          ><img src="~images/like2.png" alt="" />
                        </span>
                      </div>
                      <div class="unlike" @click="unlike(item)">
                        <img src="~images/unlike.png" alt="" />
                        {{ item.unlike }}
                      </div>
                      <router-link
                        class="comment"
                        :to="{
                          path: '/ArticleDetails',
                          query: { ask_id: item.ask_id },
                        }"
                      >
                        <img src="~images/comment.png" alt="" />
                        <span
                          v-if="
                            item.UsersConut != '' && item.UsersConut != null
                          "
                        >
                          ({{ item.UsersConut }})</span
                        >
                      </router-link>
                      <div class="share">
                        <img src="~images/share.png" alt="" /> 分享
                        <vshare></vshare>
                      </div>
                      <div
                        class="collect"
                        v-if="isactive != 3"
                        @click="recommendCollect(item)"
                      >
                        <span v-if="item.collection == '0'"
                          ><img src="~images/collect.png" alt="" /> 收藏</span
                        >
                        <span v-else
                          ><img src="~images/collect2.png" alt="" /> 已收藏
                        </span>
                      </div>
                      <div class="report" @click="report(item)">
                        <img src="~images/report.png" alt="" /> 举报
                      </div>
                    </div>

                    <div class="commentBox" v-if="false">
                      <div class="num"><span>112 </span> 条评论</div>
                      <div class="commentList">
                        <ul>
                          <li>
                            <div class="info">
                              <div class="avatar">
                                <img src="~images/avatar-img2.jpg" alt="" />
                              </div>
                              <div class="txtBoxs">
                                <div class="name">昵称1</div>
                                <div class="time">2021-07-01</div>
                              </div>
                            </div>
                            <div class="txt">这个回答666666666</div>
                            <div class="checkBox">
                              <div class="icon" @click="like()">
                                <img src="~images/like.png" alt="" />
                              </div>
                              <div class="icon" @click="unlike()">
                                <img src="~images/unlike.png" alt="" />
                              </div>
                              <div class="icon" @click="comment()">
                                <img src="~images/comment.png" alt="" /> 评论(1)
                              </div>
                              <div class="icon" @click="report()">
                                <img src="~images/report.png" alt="" /> 举报
                              </div>
                            </div>
                            <div class="ReplyComments">
                              <div class="info">
                                <div class="avatar">
                                  <img src="~images/avatar-img3.jpg" alt="" />
                                </div>
                                <div class="txtBoxs">
                                  <div class="name">昵称2</div>
                                  <div class="time">2021-07-01</div>
                                </div>
                              </div>
                              <div class="txt">你说得对！</div>
                              <div class="checkBox">
                                <div class="icon" @click="like()">
                                  <img src="~images/like.png" alt="" />
                                </div>
                                <div class="icon" @click="unlike()">
                                  <img src="~images/unlike.png" alt="" />
                                </div>
                                <div class="icon" @click="comment()">
                                  <img src="~images/comment.png" alt="" /> 评论
                                </div>
                                <div class="icon" @click="report()">
                                  <img src="~images/report.png" alt="" /> 举报
                                </div>
                              </div>
                              <div class="ReplyTwo">
                                <div class="ReplyTwoBOX">
                                  <div class="ReplyTwoTitle">回复昵称2:</div>
                                  <input
                                    type="text"
                                    name=""
                                    class="ReplyTwoTxt"
                                    id="ReplyTwo"
                                    placeholder="输入回复"
                                  />
                                </div>
                                <input
                                  type="button"
                                  value="发布"
                                  class="ReplyTwoSub"
                                  @click="reply()"
                                />
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <el-pagination
              id="c-page"
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              background
              :current-page="currentPage"
              :page-sizes="pageSizes"
              :page-size="loadCount"
              layout="total, sizes, prev, pager, next, jumper"
              :total="totalCount"
              :pager-count="5"
              :hide-on-single-page="totalPage < 2"
            >
            </el-pagination>
          </div>
          <div class="Aside">
            <div class="numberBox">
              <router-link to="">
                <div class="icon">
                  <img src="~images/personalCenter-icon1.png" alt="" /><img
                    src="~images/personalCenter-icon1-1.png"
                    alt=""
                  />
                </div>
                <div class="name">粉丝数</div>
                <div class="num">{{ Author.author }}</div>
              </router-link>
              <router-link to="">
                <div class="icon">
                  <img src="~images/personalCenter-icon2.png" alt="" /><img
                    src="~images/personalCenter-icon2-1.png"
                    alt=""
                  />
                </div>
                <div class="name">关注</div>
                <div class="num">{{ Author.follow }}</div>
              </router-link>
            </div>
            <div class="Certification">
              <div class="title">我的认证</div>
              <div class="list">
                <span>实名认证</span>
              </div>
            </div>

            <rightSwiper></rightSwiper>
          </div>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
import rightSwiper from "@/components/Community/Aside/rightSwiper.vue";
export default {
  name: "AuthorDetails",
  data() {
    return {
      Author: [],
      AuthorInfo: [], //作者相关信息
      AuthorList: [], //列表
      isactive: 1,
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
      users_id: "", //用户id
      author_id: "", //作者id
    };
  },
  components: {
    //定义组件
    CommunityHeader,
    webFooter,
    rightSwiper,
  },
  beforeCreate(){
    window._bd_share_main = ""; 
  },
  created: function () {
    // 设置总页数
    this.totalPage = parseInt(
      (this.totalCount + this.loadCount - 1) / this.loadCount
    );
  },
  mounted() {
    this.getUserInfo();
    this.getAuthorInfo();
  },
  methods: {
    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      if (this.isactive == 1) {
        this.getdt();
        return false;
      }
      if (this.isactive == 2) {
        this.getwz();
        return false;
      }
      if (this.isactive == 3) {
        this.getpl();
        return false;
      }
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      if (this.isactive == 1) {
        this.getdt();
        return false;
      }
      if (this.isactive == 2) {
        this.getwz();
        return false;
      }
      if (this.isactive == 3) {
        this.getpl();
        return false;
      }
    },

    getUserInfo() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_center", {
          type_id: 2,
          page: 1,
          limit: 1,
        })
        .then((res) => {
          console.log(res);
          this.users_id = res.data.res.users.users_id;
          console.log(this.users_id);
        });
    },

    //获取作者详情
    getAuthorInfo() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=author", {
          users_id: this.$route.query.users_id,
          type_id: 2,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.Author = res.data.res;
          this.AuthorInfo = res.data.res.users;
          this.author_id = res.data.res.users.users_id;
          this.AuthorList = res.data.res.ask.ask;
          this.totalCount = res.data.res.ask.count;
          this.totalPage = res.data.res.ask.total_page;
          console.log(this.author_id);
        });
    },

    // 列表切换
    changeTab(val) {
      this.isactive = val;
      if (val == 1) {
        //动态
        this.getdt();
      }
      if (val == 2) {
        //文章
        this.getwz();
      }
      if (val == 3) {
        //评论
        this.getpl();
      }
    },

    //动态列表
    getdt() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=author", {
          users_id: this.$route.query.users_id,
          type_id: 2,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.Author = res.data.res;
          this.AuthorList = res.data.res.ask.ask;
          this.totalCount = res.data.res.ask.count;
          this.totalPage = res.data.res.ask.total_page;
        });
    },

    //文章列表
    getwz() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=author", {
          users_id: this.$route.query.users_id,
          type_id: 3,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.Author = res.data.res;
          this.AuthorList = res.data.res.ask.ask;
          this.totalCount = res.data.res.ask.count;
          this.totalPage = res.data.res.ask.total_page;
        });
    },

    //评论列表
    getpl() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=author", {
          users_id: this.$route.query.users_id,
          type_id: 2,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.Author = res.data.res;
          this.AuthorList = res.data.res.answer.answer;
          this.totalCount = res.data.res.answer.count;
          this.totalPage = res.data.res.answer.total_page;
        });
    },

    // 关注作者
    focusWriter() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=follow", {
          follow_id: this.AuthorInfo.users_id,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getAuthorInfo();
        });
    },

    // 点赞
    recommendlike(item) {
      this.$axios
        .post("/api/index.php?m=plugins&c=zan&a=add&_ajax=1", {
          aid: item.ask_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getAuthorInfo();
        });
    },

    // 踩
    unlike(item) {
      this.$axios
        .post("/api/index.php?m=plugins&c=zan&a=add&_ajax=1", {
          aid: item.ask_id,
          zan_count: 1,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getAuthorInfo();
        });
    },

    recommendCollect(item) {
      this.$axios
        .post("/api/index.php?m=plugins&c=Collection&a=ajax_save", {
          ask_id: item.ask_id,
          _ajax: 1,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getAuthorInfo();
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.personalCenter {
  width: 100%;
  padding: 70px 0;
  background: #f5f5f5;
  .container {
    .top {
      width: 100%;
      background: #fff;
      .backgroundImg {
        width: 100%;
        height: 230px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .changeImg {
          position: absolute;
          top: 30px;
          right: 30px;
          width: 100px;
          height: 31px;
          border: 1px solid #fff;
          font-size: 14px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
      .topContent {
        width: 100%;
        position: relative;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .topInfo {
          display: flex;
          .Avatar {
            width: 180px;
            height: 180px;
            margin-top: -125px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .txtBox {
            margin-left: 30px;
            .name {
              font-size: 22px;
              line-height: 28px;
              color: #222;
            }
            .tips {
              color: #222;
              line-height: 22px;
              margin-top: 3px;
            }
          }
        }
        .checkBox {
          display: flex;
          .item {
            width: 120px;
            height: 36px;
            border: 1px solid #208fb9;
            color: #208fb9;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            transition: all ease-in 0.3s;
            cursor: pointer;
            &:hover {
              background: #208fb9;
              color: #fff;
            }
          }
        }
      }
    }
    .center {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      .main {
        width: 75.7%;

        .mainMenu {
          width: 100%;
          background: #fff;
          border-bottom: 2px solid #f5f5f5;
          ul {
            display: flex;
            margin-bottom: -2px;
            li {
              padding: 0 20px 0 25px;
              height: 60px;
              line-height: 58px;
              margin-right: 10px;
              font-size: 18px;
              color: #333;
              border-bottom: 2px solid transparent;
              cursor: pointer;
              &:hover {
                color: #208fb9;
              }
              &.active {
                color: #208fb9;
                border-bottom: 2px solid #208fb9;
              }
            }
          }
        }

        .CommentsList {
          width: 100%;
          background: #fff;
          ul {
            li {
              width: 100%;
              border-bottom: 2px solid #f5f5f5;
              padding: 17px 30px 33px;
              &:hover {
                .title {
                  color: #208fb9;
                }
              }
              .title {
                width: 100%;
                color: #333;
                font-size: 20px;
                line-height: 42px;
                transition: all ease-in 0.3s;
                display: block;
              }
              .txtBox {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 15px;
                .img {
                  width: 220px;
                  margin-right: 20px;
                  flex-shrink: 0;
                  img {
                    width: 100%;
                  }
                }
                .txt {
                  width: 100%;
                  font-size: 14px;
                  line-height: 28px;
                  color: #676767;
                  .more {
                    color: #208fb9;
                  }
                }
                &.tbox2 {
                  .txt {
                    width: 100%;
                  }
                }
              }
              .checkBox {
                width: 100%;
                display: flex;
                margin-top: 20px;
                font-size: 15px;
                color: #999;
                div {
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  img {
                    margin-right: 5px;
                  }
                }
                .like {
                  margin-right: 30px;
                }
                .unlike {
                  margin-right: 30px;
                }
                .comment {
                  margin-right: 30px;
                }
                .share {
                  margin-right: 30px;
                }
                .collect {
                  margin-right: 30px;
                }
                .report {
                  color: #999;
                }
              }
              .commentBox {
                width: 100%;
                background: #f5f5f5;
                margin-top: 20px;
                .num {
                  width: 100%;
                  height: 57px;
                  padding: 0 30px;
                  display: flex;
                  align-items: center;
                  color: #333;
                  span {
                    color: #208fb9;
                    margin-right: 5px;
                  }
                }
                .commentList {
                  width: 100%;
                  padding: 30px;
                  border-top: 1px solid #e5e5e5;
                  ul {
                    li {
                      width: 100%;
                      padding: 0;
                      .info {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        .avatar {
                          width: 40px;
                          height: 40px;
                          img {
                            width: 100%;
                          }
                        }
                        .txtBoxs {
                          font-size: 14px;
                          margin-left: 20px;
                          .name {
                            line-height: 20px;
                          }
                        }
                      }
                      .txt {
                        margin-top: 13px;
                      }
                      .checkBox {
                        margin-top: 13px;
                        .icon {
                          margin-right: 30px;
                        }
                      }
                      .ReplyComments {
                        width: 100%;
                        border-top: 1px solid #e5e5e5;
                        margin-top: 20px;
                        padding: 30px 0 0 60px;

                        .ReplyTwo {
                          width: 100%;
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          margin-top: 18px;
                          .ReplyTwoBOX {
                            width: 86%;
                            display: flex;
                            .ReplyTwoTitle {
                              padding: 0 20px;
                              height: 36px;
                              background: #fff;
                              display: flex;
                              align-items: center;
                              border-top-left-radius: 3px;
                              border-bottom-left-radius: 3px;
                              font-size: 14px;
                              color: #999;
                              flex-shrink: 0;
                            }
                            .ReplyTwoTxt {
                              width: 100%;
                              height: 36px;
                              background: #fff;
                              display: flex;
                              align-items: center;
                              border-top-right-radius: 3px;
                              border-bottom-right-radius: 3px;
                              font-size: 14px;
                              color: #333;
                              &::placeholder {
                                color: #999;
                              }
                            }
                          }

                          .ReplyTwoSub {
                            width: 110px;
                            height: 36px;
                            border-radius: 3px;
                            background: #208fb9;
                            color: #fff;
                            font-size: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .Aside {
        width: 22.8%;
        .numberBox {
          width: 100%;
          display: flex;
          background: #fff;
          margin-bottom: 20px;
          a {
            width: 50%;
            padding: 24px 0 21px;
            text-align: center;
            .icon {
              width: 32px;
              height: 32px;
              margin: auto;
              img {
                width: 100%;
                height: 100%;
                transition: all ease-in 0.3s;
                &:last-child {
                  display: none;
                }
              }
            }
            .name {
              font-size: 14px;
              color: #999;
              line-height: 18px;
              margin-top: 5px;
              transition: all ease-in 0.3s;
            }
            .num {
              font-size: 18px;
              color: #333;
              line-height: 20px;
              transition: all ease-in 0.3s;
            }
            &:hover {
              .icon {
                img {
                  &:first-child {
                    display: none;
                  }
                  &:last-child {
                    display: block;
                  }
                }
              }
              .name {
                color: #208fb9;
              }
              .num {
                color: #208fb9;
              }
            }
          }
        }
        .Certification {
          width: 100%;
          margin-bottom: 20px;
          background: #fff;
          .title {
            font-size: 18px;
            color: #333;
            padding: 0 30px;
            height: 60px;
            display: flex;
            align-items: center;
          }
          .list {
            width: 100%;
            border-top: 1px solid #f5f5f5;
            padding: 20px 30px;
            display: flex;
            flex-wrap: wrap;
            span {
              width: 80px;
              height: 26px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 14px;
              color: #666;
              background: #e2e2e2;
              border: 1px solid #e2e2e2;
              margin-right: 10px;
              transition: all ease-in 0.3s;
              // &:hover {
              //   background: #fff;
              //   color: #208fb9;
              //   border: 1px solid #208fb9;
              // }
            }
          }
        }
      }
    }
  }
}
#c-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
::v-deep .bdsharebuttonbox{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
}
.share, .checkitem {
  margin-right: 30px;
  position: relative;
  .bdsharebuttonbox{
    display: none !important;
    padding-left: 6px;
  }
  &:hover{
    .bdsharebuttonbox{
      display: flex !important;
    }
  }
}
</style>
