<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <div class="personalInformation">
      <div class="container">
        <div class="box">
          <div class="top">
            <div class="backgroundImg">
              <el-upload
                class="avatar-uploader"
                action="/api/index.php?m=user&c=Uploadify&a=imageUp"
                :show-file-list="false"
                :on-success="backgroundAvatarSuccess"
                :before-upload="beforeAvatarUpload"
              >
                <img :src="background_map" class="avatar" />
                <div class="changeImg">上传封面</div>
              </el-upload>
            </div>
            <div class="topContent">
              <div class="topInfo">
                <div class="Avatar">
                  <el-upload
                    class="avatar-uploader"
                    action="/api/index.php?m=user&c=Uploadify&a=imageUp"
                    :show-file-list="false"
                    :on-success="handleAvatarSuccess"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img :src="head_pic" alt="" />
                    <div class="changeImg">上传头像</div>
                  </el-upload>
                </div>
                <div class="txtBox">
                  <input
                    type="text"
                    class="name"
                    v-model="nickname"
                    placeholder="单击修改昵称"
                  />
                  <input
                    type="text"
                    class="tips"
                    v-model="personal_description"
                    placeholder="单击修改个人简述"
                  />
                </div>
                <router-link to="/PersonalCenter" class="getBack"
                  >返回个人中心</router-link
                >
              </div>
            </div>
          </div>
          <div class="center">
            <div class="box">
              <div class="formItem">
                <div class="name">真实姓名 <span>*</span></div>
                <div class="informationBox">
                  <input
                    type="text"
                    class="txt"
                    v-model="name"
                    placeholder="输入真实姓名"
                  />
                </div>
              </div>
              <div class="formItem">
                <div class="name">证件类型 <span>*</span></div>
                <div class="informationBox">
                  <el-radio-group v-model="document_type">
                    <el-radio :label="1">身份证</el-radio>
                    <el-radio :label="2">护照</el-radio>
                  </el-radio-group>
                </div>
              </div>
              <div class="formItem">
                <div class="name">证件号码 <span>*</span></div>
                <div class="informationBox">
                  <input
                    type="text"
                    class="txt"
                    v-model="id_number"
                    placeholder="输入身份证号码"
                  />
                </div>
              </div>
              <div class="formItem">
                <div class="name">证件照片 <span>*</span></div>
                <div class="informationBox">
                  <div class="uploadBox">
                    <el-upload
                      class="avatar-uploader"
                      action="/api/index.php?m=user&c=Uploadify&a=imageUp"
                      :show-file-list="false"
                      :on-success="handlid_litpic"
                      :before-upload="beforeAvatarUpload"
                    >
                      <img v-if="id_litpic" :src="id_litpic" class="avatar" />
                      <div v-else class="iconbox">
                        <img src="~images/writer-icon4.png" alt="" />
                        <span>
                          点击上传证件正面
                          <br />
                          （国徽面）
                        </span>
                      </div>
                    </el-upload>

                    <el-upload
                      class="avatar-uploader"
                      action="/api/index.php?m=user&c=Uploadify&a=imageUp"
                      :show-file-list="false"
                      :on-success="handlid_litpic1"
                      :before-upload="beforeAvatarUpload"
                    >
                      <img v-if="id_litpic1" :src="id_litpic1" class="avatar" />
                      <div v-else class="iconbox">
                        <img src="~images/writer-icon4.png" alt="" />
                        <span>
                          点击上传证件反面
                          <br />
                          （人像面）
                        </span>
                      </div>
                    </el-upload>
                    <div class="tips">
                      请上传本人身份证正反方面或护照个人信息页的照片，请确认证件在有效期内，每张图片大小不超过2M
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="box">
              <div class="formItem">
                <div class="name">学历</div>
                <div class="informationBox">
                  <el-select v-model="education" placeholder="请选择">
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    >
                    </el-option>
                  </el-select>
                </div>
              </div>
              <div class="formItem">
                <div class="name">学校名称</div>
                <div class="informationBox">
                  <input
                    type="text"
                    class="txt"
                    v-model="school"
                    placeholder="北京大学"
                  />
                </div>
              </div>
              <div class="formItem">
                <div class="name">认证头衔</div>
                <div class="informationBox">
                  <input
                    type="text"
                    class="txt"
                    v-model="title"
                    placeholder="输入认证头衔"
                  />
                </div>
              </div>
              <div class="formItem">
                <div class="name">学历证明</div>
                <div class="informationBox">
                  <div class="uploadBox">
                    <el-upload
                      class="avatar-uploader"
                      action="/api/index.php?m=user&c=Uploadify&a=imageUp"
                      :show-file-list="false"
                      :on-success="handlcertificate"
                      :before-upload="beforeAvatarUpload"
                    >
                      <img
                        v-if="certificate"
                        :src="certificate"
                        class="avatar"
                      />
                      <div v-else class="iconbox">
                        <img src="~images/writer-icon4.png" alt="" />
                        <span> 点击上传学历证明图 </span>
                      </div>
                    </el-upload>
                  </div>
                </div>
              </div>
              <div class="formItem">
                <div class="statement">
                  <el-checkbox v-model="checked"
                    >我同意遵守平台声明</el-checkbox
                  >
                  <div class="tips">
                    本人充分理解并接受
                    <router-link to="">《感算论坛协议》</router-link>
                    的内容，确保认证申请流程中本人填写的信息和提交的材料真实有效。
                    <br />
                    如有虚假信息或材料，知乎将对相关帐号进行封禁处罚。并保留追究法律责任的全部权利。
                  </div>
                </div>
              </div>

              <button class="submit" @click="Audit">保存</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
export default {
  name: "personalInformation",
  data() {
    return {
      id: "", //个人申请id
      users_id: "", //用户id
      name: "", //真实姓名
      document_type: "1", // 1 身份证、2 护照
      id_number: "", //身份证号
      id_litpic: "", //正面照
      id_litpic1: "", //反面照
      education: "", //学历
      school: "", //学校
      title: "", //头衔
      certificate: "", //学历证明
      head_pic: "", //用户头像
      background_map: "", //背景图片
      personal_description: "", //个人描述
      nickname: "", //用户昵称
      checked: false,
      options: [
        {
          value: "1",
          label: "博士",
        },
        {
          value: "2",
          label: "硕士",
        },
        {
          value: "3",
          label: "本科",
        },
        {
          value: "4",
          label: "大专",
        },
        {
          value: "5",
          label: "高中",
        },
        {
          value: "6",
          label: "初中",
        },
      ],
      value: "",
    };
  },
  components: {
    //定义组件
    CommunityHeader,
    webFooter,
  },
  mounted() {
    this.getUserInfo();
    this.getPageInfo();
  },
  methods: {
    getUserInfo() {
      // 初始获取用户信息
      const users_id = this.$route.query.users_id;
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_details", {
          users_id,
        })
        .then((res) => {
          console.log(res);
          const userinfo = res.data.res;
          this.nickname = userinfo.nickname;
          this.personal_description = userinfo.personal_description;
          this.background_map = userinfo.background_map;
          this.head_pic = userinfo.head_pic;
          this.users_id = users_id;
        });
    },

    getPageInfo() {
      // 获取个人审核信息
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=authentication", {
          users_id: this.$route.query.users_id,
        })
        .then((res) => {
          console.log(res);
          const userinfo = res.data.res;
          (this.id = userinfo.id), //个人申请id
            (this.users_id = userinfo.users_id), //用户id
            (this.name = userinfo.name), //真实姓名
            (this.document_type = userinfo.document_type), // 1 身份证、2 护照
            (this.id_number = userinfo.id_number), //身份证号
            (this.id_litpic = userinfo.id_litpic), //正面照
            (this.id_litpic1 = userinfo.id_litpic1), //反面照
            (this.education = userinfo.education), //学历
            (this.school = userinfo.school), //学校
            (this.title = userinfo.title), //头衔
            (this.certificate = userinfo.certificate), //学历证明
            (this.nickname = userinfo.nickname);
          this.personal_description = userinfo.personal_description;
          this.background_map = userinfo.background_map;
          this.head_pic = userinfo.head_pic;
        });
    },

    //更换背景图
    backgroundAvatarSuccess(res) {
      this.imageUrl = res.url;
      this.background_map = this.imageUrl;
    },
    //更换头像
    handleAvatarSuccess(res) {
      this.imageUrl = res.url;
      this.head_pic = this.imageUrl;
    },
    //证件照正面
    handlid_litpic(res) {
      this.imageUrl = res.url;
      this.id_litpic = this.imageUrl;
    },
    //证件照反面
    handlid_litpic1(res) {
      this.imageUrl = res.url;
      this.id_litpic1 = this.imageUrl;
    },
    //学历证明
    handlcertificate(res) {
      this.imageUrl = res.url;
      this.certificate = this.imageUrl;
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M;
    },

    // 个人审核提交
    Audit() {
      if (this.name == "") {
        this.$message.error("请填写真实姓名");
        return false;
      }
      if (this.id_number == "") {
        this.$message.error("请填证件号码");
        return false;
      }
      if (this.id_litpic == "") {
        this.$message.error("请填证件照片正面");
        return false;
      }
      if (this.id_litpic == "") {
        this.$message.error("请填证件照片反面");
        return false;
      }
      if (this.checked === false) {
        this.$message.error("请阅读并勾选协议！");
        return false;
      }

      this.$axios
        .post("/api/index.php?m=user&c=Users&a=edit_authentication", {
          id: this.id, //个人申请id
          users_id: this.users_id, //用户id
          name: this.name, //真实姓名
          document_type: this.document_type, // 1 身份证、2 护照
          id_number: this.id_number, //身份证号
          id_litpic: this.id_litpic, //正面照
          id_litpic1: this.id_litpic1, //反面照
          education: this.education, //学历
          school: this.school, //学校
          title: this.title, //头衔
          certificate: this.certificate, //学历证明
          head_pic: this.head_pic, //用户头像
          background_map: this.background_map, //背景图片
          personal_description: this.personal_description, //个人描述
          nickname: this.nickname, //用户昵称
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
          }
          this.$message.success(res.data.msg);
          this.getPageInfo();
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.personalInformation {
  width: 100%;
  padding: 20px 0;
  background: #f5f5f5;
  .container {
    .box {
      width: 75.7%;
      margin: auto;
      .top {
        width: 100%;
        background: #fff;
        .backgroundImg {
          width: 100%;
          height: 230px;
          position: relative;
          .avatar-uploader {
            width: 100%;
            height: 100%;
            ::v-deep .el-upload {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .changeImg {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 100px;
            height: 31px;
            border: 1px solid #fff;
            font-size: 14px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all ease-in 0.3s;
            border-radius: 3px;
            &:hover {
              background: #208fb9;
              border: 1px solid #208fb9;
            }
          }
        }
        .topContent {
          width: 100%;
          position: relative;
          padding: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .topInfo {
            width: 100%;
            display: flex;
            position: relative;
            .Avatar {
              width: 180px;
              height: 180px;
              position: relative;
              margin-top: -125px;
              .avatar-uploader {
                width: 100%;
                height: 100%;
                ::v-deep .el-upload {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .changeImg {
                position: absolute;
                bottom: 10px;
                right: 10px;
                width: 80px;
                height: 31px;
                border: 1px solid #fff;
                font-size: 14px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all ease-in 0.3s;
                border-radius: 3px;
                &:hover {
                  background: #208fb9;
                  border: 1px solid #208fb9;
                }
              }
            }
            .txtBox {
              margin-left: 30px;
              .name {
                font-size: 22px;
                line-height: 28px;
                color: #222;
                display: block;
              }
              .tips {
                color: #222;
                line-height: 22px;
                margin-top: 3px;
              }
            }
            .getBack {
              position: absolute;
              top: 0;
              right: 0;
              width: 100px;
              height: 31px;
              border: 1px solid #ccc;
              font-size: 14px;
              border-radius: 3px;
              color: #333;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all ease 0.3s;
              &:hover {
                background: #208fb9;
                color: #fff;
                border: 1px solid #208fb9;
              }
            }
          }
        }
      }
      .center {
        width: 100%;
        background: #fff;
        .box {
          width: 100%;
          border-top: 1px solid #f5f5f5;
          padding: 30px 60px 0;
          &:last-child {
            padding: 30px 60px 40px;
          }
          .formItem {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
            &:nth-last-child(2) {
              margin-bottom: 45px;
            }
            .name {
              width: 150px;
              text-align: right;
              font-size: 18px;
              line-height: 30px;
              color: #666;
              margin-right: 30px;
              flex-shrink: 0;
              span {
                color: #208fb9;
              }
            }
            .informationBox {
              width: 80.8%;
              display: flex;
              .txt {
                width: 250px;
                height: 40px;
                background: #f5f5f5;
                padding-left: 18px;
                font-size: 14px;
                color: #333;
                &::placeholder {
                  color: #bbb;
                }
              }
              .uploadBox {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .avatar-uploader {
                  width: 300px;
                  height: 180px;
                  background: #f5f5f5;
                  margin-right: 20px;
                  margin-bottom: 16px;
                  .iconbox {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: center;
                    img {
                      width: 40px;
                      margin: auto;
                    }
                    span {
                      width: 100%;
                      font-size: 14px;
                      line-height: 20px;
                      color: #bbb;
                      text-align: center;
                      margin-top: 18px;
                    }
                  }
                }
                .tips {
                  font-size: 14px;
                  line-height: 20px;
                  color: #999;
                }
              }
              select {
                width: 150px;
                height: 40px;
                margin-right: 10px;
                background: #f5f5f5 url(~images/arrow-b.png) 90% center
                  no-repeat;
                padding-left: 20px;
                border: none;
                font-size: 14px;
                color: #999;
              }
            }
            .statement {
              width: 100%;
              padding-left: 150px;
              color: #666;
              line-height: 24px;
              .tips {
                padding-left: 30px;
                font-size: 14px;
                color: #999;
                margin-top: 5px;
                a {
                  color: #208fb9;
                }
              }
            }
          }
          .submit {
            width: 120px;
            height: 42px;
            border: 1px solid #208fb9;
            border-radius: 3px;
            color: #208fb9;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            margin: auto;
            background: none;
            transition: all ease-in 0.3s;
            &:hover {
              color: #fff;
              background: #208fb9;
            }
          }
        }
      }
    }
  }
}

::v-deep .el-upload {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
::v-deep .el-input__inner,
::v-deep .el-input__inner:hover {
  border: 1px solid #c0c4cc;
}
// ::v-deep .el-radio {
//   color: #666;
// }
// ::v-deep .el-radio__input.is-checked .el-radio__inner {
//   background: #fff;
//   border-color: #333;
// }
// ::v-deep .el-radio__inner::after {
//   background: #333;
// }
// ::v-deep .el-radio__input.is-checked + .el-radio__label {
//   color: #333;
// }

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

::v-deep .el-checkbox {
  color: #999;
}
::v-deep .el-checkbox__input.is-checked .el-checkbox__inner {
  background: #fff;
  border-color: #333;
}
::v-deep .el-checkbox__inner:hover,
::v-deep .el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #999;
}
::v-deep .el-checkbox__inner::after {
  width: 16px;
  height: 16px;
  left: -2px;
  top: -5px;
  border: none;
  transform: rotate(0) scaleY(1);
}

::v-deep .el-checkbox__input.is-checked .el-checkbox__inner::after {
  transform: rotate(0) scaleY(1);
  background: url(~images/icon15.png) center center no-repeat;
}
::v-deep .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #333;
}
</style>
