<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <div class="personalInformation">
      <div class="container">
        <div class="box">
          <div class="top">
            <div class="backgroundImg">
              <el-upload
                class="avatar-uploader"
                action="/api/index.php?m=user&c=Uploadify&a=imageUp"
                :show-file-list="false"
                :on-success="backgroundAvatarSuccess"
                :before-upload="beforeAvatarUpload"
              >
                <img :src="userinfo.background_map" class="avatar" />
                <div class="changeImg">上传封面</div>
              </el-upload>
            </div>
            <div class="topContent">
              <div class="topInfo">
                <div class="Avatar">
                  <el-upload
                    class="avatar-uploader"
                    action="/api/index.php?m=user&c=Uploadify&a=imageUp"
                    :show-file-list="false"
                    :on-success="handleAvatarSuccess"
                    :before-upload="beforeAvatarUpload"
                  >
                    <img :src="userinfo.head_pic" alt="" />
                    <div class="changeImg">上传头像</div>
                  </el-upload>
                </div>
                <div class="txtBox">
                  <input
                    type="text"
                    class="name"
                    v-model="userinfo.nickname"
                    placeholder="单击修改昵称"
                  />
                  <input
                    type="text"
                    class="tips"
                    v-model="userinfo.introduce"
                    placeholder="单击修改个人简述"
                  />
                </div>
                <router-link to="/PersonalCenter" class="getBack"
                  >返回个人中心</router-link
                >
              </div>
            </div>
          </div>
          <div class="center">
            <div class="formItem">
              <div class="name">性别</div>
              <div class="informationBox">
                <el-radio v-model="userinfo.sex" label="1">男</el-radio>
                <el-radio v-model="userinfo.sex" label="2">女</el-radio>
              </div>
            </div>
            <div class="formItem">
              <div class="name">自我介绍</div>
              <div class="informationBox">
                <textarea
                  class="text"
                  v-model="userinfo.personal_description"
                  placeholder="输入自我介绍内容"
                ></textarea>
              </div>
            </div>
            <div class="formItem">
              <div class="name">居住地</div>
              <div class="informationBox">
                <div class="address">
                  <el-select
                    v-model="userinfo.province"
                    placeholder="选择省份"
                    @change="changePr($event)"
                  >
                    <el-option
                      v-for="(item, index) in provinceList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                  <el-select
                    v-model="userinfo.city"
                    placeholder="选择市"
                    @change="changeCi($event)"
                  >
                    <el-option
                      v-for="(item, index) in cityList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                  <el-select
                    v-model="userinfo.district"
                    placeholder="选择地区"
                    @change="changeXian($event)"
                  >
                    <el-option
                      v-for="(item, index) in regionList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </div>
              </div>
            </div>
            <div class="formItem">
              <div class="name">职业经历</div>
              <div class="informationBox">
                <div
                  class="jobHistory"
                  v-for="(item, index) of userinfo.occupation"
                  :key="index"
                >
                  <div class="job">
                    <div class="item">
                      <input
                        type="text"
                        class="companyName"
                        v-model="item.name"
                        placeholder="公司或组织名称"
                      />
                      <input
                        type="text"
                        class="Position"
                        v-model="item.job"
                        placeholder="您的职位（选填）"
                      />
                    </div>
                  </div>
                  <div>
                    <div v-if="index + 1 == 1" class="addJob" @click="addJob">
                      添加职业经历
                    </div>
                    <div v-else @click="deleteJob(index)" class="addJob">
                      删除
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="formItem">
              <div class="name">教育经历</div>
              <div class="informationBox">
                <div
                  class="studyHistory"
                  v-for="(item, index) of userinfo.education"
                  :key="index"
                >
                  <div class="study">
                    <div class="item">
                      <input
                        type="text"
                        class="schoolName"
                        v-model="item.School"
                        placeholder="学校名称"
                      />
                      <input
                        type="text"
                        class="Professional"
                        v-model="item.Professional"
                        placeholder="专业方向"
                      />
                      <!-- <input
                        type="text"
                        class="Professional"
                        v-model="item.Education"
                        placeholder="学历"
                      /> -->
                      <el-select v-model="item.Education" placeholder="学历">
                        <el-option
                          v-for="item in options1"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value"
                        >
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                  <div>
                    <div
                      v-if="index + 1 == 1"
                      class="addStudy"
                      @click="addStudy"
                    >
                      添加教育经历
                    </div>
                    <div v-else @click="deleteStudy(index)" class="addStudy">
                      删除
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="formItem">
              <div class="name">所在行业</div>
              <div class="informationBox">
                <div
                  class="industry"
                  v-for="(item, index) of userinfo.industry"
                  :key="index"
                >
                  <!-- <select v-model="item.industry" @change="change()">
                    <option value="" >行业选择</option>
                    <option value="互联网">互联网</option>
                    <option value="金融"  selected>金融</option>
                    <option value="房地产">房地产</option>
                  </select> -->
                  <el-select v-model="item.industry" placeholder="行业选择">
                    <el-option
                      v-for="item in options2"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    >
                    </el-option>
                  </el-select>
                  <div>
                    <div
                      v-if="index + 1 == 1"
                      @click="addIndustry"
                      class="addIndustry"
                    >
                      添加行业信息
                    </div>
                    <div
                      v-else
                      @click="deleteIndustry(index)"
                      class="addIndustry"
                    >
                      删除
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="formItem">
              <div class="name">个人认证</div>
              <div class="informationBox">
                <div class="Certification">
                  <router-link
                    :to="{
                      path: '/Certification',
                      query: {
                        users_id: this.$route.query.users_id,
                      },
                    }"
                    >申请个人认证</router-link
                  >
                </div>
              </div>
            </div>
            <button class="submit" @click="save">保存</button>
          </div>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
export default {
  name: "personalInformation",
  data() {
    return {
      radio: "1",
      provinceList: [], //省
      cityList: [], //市
      regionList: [], //县
      imageUrl: "", //背景封面
      userinfo: {
        //个人信息
        id: "",
        users_id: "",
        head_pic: "", //用户头像
        nickname: "", //用户昵称
        sex: "", //性别
        introduce: "", //个性签名
        background_map: "", //背景图
        personal_description: "", //个人描述
        authentication: "", //是否验证 1 是，0 否
        province: "", //省
        province_id: "",
        city: "", //市
        city_id: "",
        district: "", //县
        district_id: "",
        occupation: [
          //职业经历
        ],
        education: [
          //教育经历
        ],
        industry: [
          //行业
        ],
      },
      options1: [
        {
          value: "1",
          label: "博士",
        },
        {
          value: "2",
          label: "硕士",
        },
        {
          value: "3",
          label: "本科",
        },
        {
          value: "4",
          label: "大专",
        },
        {
          value: "5",
          label: "高中",
        },
        {
          value: "6",
          label: "初中",
        },
      ],
      options2: [
        {
          value: "1",
          label: "互联网",
        },
        {
          value: "2",
          label: "金融",
        },
        {
          value: "3",
          label: "房地产",
        },
      ],
    };
  },
  components: {
    //定义组件
    CommunityHeader,
    webFooter,
  },
  created() {
    // 初始获取用户信息
    this.getUserInfo();
    this.ChangeShen();
  },
  methods: {
    getUserInfo() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_details", {
          users_id: this.$route.query.users_id,
        })
        .then((res) => {
          console.log(res);
          // this.userinfo = res.data.res;
          // this.id = res.data.res.id;
          // this.userinfo.province_id = res.data.res.province;
          // this.userinfo.city_id = res.data.res.city;
          // this.userinfo.district_id = res.data.res.district;

          this.userinfo.id = res.data.res.id;
          this.userinfo.users_id = res.data.res.users_id;
          this.userinfo.head_pic = res.data.res.head_pic; //用户头像
          this.userinfo.nickname = res.data.res.nickname; //用户昵称
          this.userinfo.sex = res.data.res.sex; //性别
          this.userinfo.introduce = res.data.res.introduce; //个性签名
          this.userinfo.background_map = res.data.res.background_map; //背景图
          this.userinfo.personal_description =
            res.data.res.personal_description; //个人描述
          this.userinfo.province = res.data.res.province; //省
          this.userinfo.city = res.data.res.city; //市
          this.userinfo.district = res.data.res.district; //县
          this.userinfo.province_id = res.data.res.province_id; //省
          this.userinfo.city_id = res.data.res.city_id; //市
          this.userinfo.district_id = res.data.res.district_id; //县
          this.userinfo.authentication = res.data.res.authentication; //是否验证 1 是，0 否
          this.userinfo.occupation = res.data.res.occupation;
          this.userinfo.education = res.data.res.education;
          this.userinfo.industry = res.data.res.industry;

          for (var i = 0; i < this.provinceList.length; i++) {
            if (this.userinfo.province_id == this.provinceList[i].id) {
              this.userinfo.province = this.provinceList[i].name;

              this.changePr(this.userinfo.province_id);
            }
          }
        });
    },

    //添加信息
    addJob() {
      this.userinfo.occupation.push({});
    },
    deleteJob(index) {
      this.userinfo.occupation.splice(index, 1);
    },
    addStudy() {
      this.userinfo.education.push({});
    },
    deleteStudy(index) {
      this.userinfo.education.splice(index, 1);
    },
    addIndustry() {
      this.userinfo.industry.push({});
    },
    deleteIndustry(index) {
      this.userinfo.industry.splice(index, 1);
    },

    //更换背景图
    backgroundAvatarSuccess(res) {
      this.imageUrl = res.url;
      this.userinfo.background_map = this.imageUrl;
    },
    //更换头像
    handleAvatarSuccess(res) {
      this.imageUrl = res.url;
      this.userinfo.head_pic = this.imageUrl;
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error("上传头像图片只能是 JPG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return isJPG && isLt2M;
    },

    // 绑定城市

    //获取省份数据
    ChangeShen() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region")
        .then((res) => {
          this.provinceList = res.data.res;
        });
    },
    // 省-市
    changePr(e) {
      this.userinfo.province_id = e;
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region_data", {
          parent_id: e,
        })
        .then((res) => {
          console.log(res);
          this.cityList = res.data;
          // for (var i = 0; i < this.cityList.length; i++) {
          //   if (this.userinfo.city_id == this.cityList[i].id) {
          //     this.userinfo.city = this.cityList[i].name;

          //     this.changeCi(this.userinfo.city_id);
          //   }
          // }
          let on = true;
          for (var i = 0; i < this.cityList.length; i++) {
            if (this.userinfo.city_id == this.cityList[i].id) {
              this.userinfo.city = this.cityList[i].name;
              on = false;
              break;
            } else {
              on = true;
            }
          }
          if (on) {
            this.userinfo.city = this.cityList[0].name;
            this.userinfo.city_id = this.cityList[0].id;
          }
          this.changeCi(this.userinfo.city_id);
        });
    },
    // 市-县
    changeCi(e) {
      this.userinfo.city_id = e;
      console.log(this.userinfo.city_id);
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region_data", {
          parent_id: e,
        })
        .then((res) => {
          this.regionList = res.data;
          // for (var i = 0; i < this.regionList.length; i++) {
          //   if (this.userinfo.district_id == this.regionList[i].id) {
          //     this.userinfo.district = this.regionList[i].name;

          //     this.changeXian(this.userinfo.district_id);
          //   }
          // }
          let on2 = true;
          for (var i = 0; i < this.regionList.length; i++) {
            if (this.userinfo.district_id == this.regionList[i].id) {
              this.userinfo.district = this.regionList[i].name;
              on2 = false;
              break;
            } else {
              on2 = true;
            }
          }
          if (on2) {
            this.userinfo.district = this.regionList[0].name;
            this.userinfo.district_id = this.regionList[0].id;
          }
          this.changeXian(this.userinfo.district_id);
        });
    },
    // 县
    changeXian(e) {
      this.userinfo.district_id = e;
      console.log(this.userinfo.district_id);
    },

    //提交个人信息
    save() {
      if (this.userinfo.nickname == "") {
        this.$message.error("请输入您的用户昵称");
        return false;
      }
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=edit_users", {
          id: this.userinfo.id,
          users_id: this.userinfo.users_id,
          head_pic: this.userinfo.head_pic, //用户头像
          nickname: this.userinfo.nickname, //用户昵称
          sex: this.userinfo.sex, //性别
          introduce: this.userinfo.introduce, //个性签名
          background_map: this.userinfo.background_map, //背景图
          personal_description: this.userinfo.personal_description, //个人描述
          province: this.userinfo.province, //省
          city: this.userinfo.city, //市
          district: this.userinfo.district, //县
          province_id: this.userinfo.province_id, //省
          city_id: this.userinfo.city_id, //市
          district_id: this.userinfo.district_id, //县
          authentication: this.userinfo.authentication, //是否验证 1 是，0 否
          occupation: this.userinfo.occupation,
          education: this.userinfo.education,
          industry: this.userinfo.industry,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
          }
          this.$message.success(res.data.msg);
          this.$router.go(-1);
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.personalInformation {
  width: 100%;
  padding: 20px 0;
  background: #f5f5f5;
  .container {
    .box {
      width: 75.7%;
      margin: auto;
      .top {
        width: 100%;
        background: #fff;
        .backgroundImg {
          width: 100%;
          height: 230px;
          position: relative;
          background: #bbb;
          .avatar-uploader {
            width: 100%;
            height: 100%;
            ::v-deep .el-upload {
              width: 100%;
              height: 100%;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .changeImg {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 100px;
            height: 31px;
            border: 1px solid #fff;
            font-size: 14px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: all ease-in 0.3s;
            border-radius: 3px;
            &:hover {
              background: #208fb9;
              border: 1px solid #208fb9;
            }
          }
        }
        .topContent {
          width: 100%;
          position: relative;
          padding: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .topInfo {
            width: 100%;
            display: flex;
            position: relative;
            .Avatar {
              width: 180px;
              height: 180px;
              margin-top: -125px;
              position: relative;
              .avatar-uploader {
                width: 100%;
                height: 100%;
                ::v-deep .el-upload {
                  width: 100%;
                  height: 100%;
                }
              }
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .changeImg {
                position: absolute;
                bottom: 10px;
                right: 10px;
                width: 80px;
                height: 31px;
                border: 1px solid #fff;
                font-size: 14px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all ease-in 0.3s;
                border-radius: 3px;
                &:hover {
                  background: #208fb9;
                  border: 1px solid #208fb9;
                }
              }
            }
            .txtBox {
              margin-left: 30px;
              .name {
                width: 100%;
                font-size: 22px;
                line-height: 28px;
                color: #222;
                display: block;
              }
              .tips {
                width: 100%;
                color: #222;
                line-height: 22px;
                margin-top: 3px;
              }
            }
            .getBack {
              position: absolute;
              top: 0;
              right: 0;
              width: 100px;
              height: 31px;
              border: 1px solid #ccc;
              font-size: 14px;
              border-radius: 3px;
              color: #333;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all ease 0.3s;
              &:hover {
                background: #208fb9;
                color: #fff;
                border: 1px solid #208fb9;
              }
            }
          }
        }
      }
      .center {
        width: 100%;
        border-top: 1px solid #f5f5f5;
        background: #fff;
        padding: 30px 60px 40px;
        .formItem {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 30px;
          &:nth-last-child(2) {
            margin-bottom: 23px;
          }
          .name {
            width: 16%;
            text-align: right;
            font-size: 18px;
            line-height: 30px;
            color: #666;
            margin-right: 30px;
            flex-shrink: 0;
            @media (max-width: 1600px) {
              font-size: 16px;
            }
            @media (max-width: 1440px) {
              font-size: 14px;
            }
          }
          .informationBox {
            width: 80.8%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .text {
              width: 100%;
              height: 80px;
              background: #f5f5f5;
              font-size: 14px;
              color: #333;
              line-height: 28px;
              padding: 12px 18px;
              resize: none;
              &::placeholder {
                color: #bbb;
              }
            }
            .address {
              width: 100%;
              display: flex;
              select {
                width: 150px;
                height: 40px;
                margin-right: 10px;
                background: #f5f5f5 url(~images/arrow-b.png) 90% center
                  no-repeat;
                padding-left: 20px;
                border: none;
                font-size: 14px;
                color: #999;
              }
            }
            .jobHistory {
              width: 100%;
              display: flex;
              margin-top: 10px;
              &:nth-child(1) {
                margin-top: 0;
              }
              .job {
                width: 410px;
                margin-right: 10px;
                @media (max-width: 1600px) {
                  width: 360px;
                }
                .item {
                  width: 100%;
                  display: flex;
                  .companyName {
                    width: 250px;
                    height: 40px;
                    background: #f5f5f5;
                    font-size: 14px;
                    padding-left: 18px;
                    margin-right: 10px;
                    @media (max-width: 1600px) {
                      width: 200px;
                    }
                    &::placeholder {
                      color: #bbb;
                    }
                  }
                  .Position {
                    width: 150px;
                    height: 40px;
                    background: #f5f5f5;
                    font-size: 14px;
                    padding-left: 18px;
                    &::placeholder {
                      color: #bbb;
                    }
                  }
                }
              }
              .addJob {
                width: 120px;
                height: 40px;
                color: #208fb9;
                border: 1px solid #208fb9;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all ease-in 0.3s;
                &:hover {
                  color: #fff;
                  background: #208fb9;
                }
              }
            }
            .studyHistory {
              width: 100%;
              display: flex;
              margin-top: 10px;
              &:nth-child(1) {
                margin-top: 0;
              }
              .study {
                width: 570px;
                margin-right: 10px;
                .item {
                  width: 100%;
                  display: flex;
                  .schoolName {
                    width: 250px;
                    height: 40px;
                    background: #f5f5f5;
                    font-size: 14px;
                    padding-left: 18px;
                    margin-right: 10px;
                    @media (max-width: 1600px) {
                      width: 200px;
                    }
                    &::placeholder {
                      color: #bbb;
                    }
                  }
                  .Professional {
                    width: 150px;
                    height: 40px;
                    background: #f5f5f5;
                    font-size: 14px;
                    padding-left: 18px;
                    margin-right: 10px;
                    &::placeholder {
                      color: #bbb;
                    }
                  }
                  select {
                    width: 120px;
                    height: 40px;
                    background: #f5f5f5 url(~images/arrow-b.png) 90% center
                      no-repeat;
                    font-size: 14px;
                    padding-left: 18px;
                    border: none;
                    color: #bbb;
                    @media (max-width: 1600px) {
                      width: 110px;
                    }
                  }
                }
              }
              .addStudy {
                width: 120px;
                height: 40px;
                color: #208fb9;
                border: 1px solid #208fb9;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all ease-in 0.3s;
                &:hover {
                  color: #fff;
                  background: #208fb9;
                }
              }
            }
            .industry {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              margin-top: 10px;
              &:nth-child(1) {
                margin-top: 0;
              }
              select {
                width: 120px;
                height: 40px;
                background: #f5f5f5 url(~images/arrow-b.png) 90% center
                  no-repeat;
                font-size: 14px;
                padding-left: 18px;
                border: none;
                color: #bbb;
                margin-right: 10px;
              }
              .addIndustry {
                width: 120px;
                height: 40px;
                color: #208fb9;
                border: 1px solid #208fb9;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: all ease-in 0.3s;
                &:hover {
                  color: #fff;
                  background: #208fb9;
                }
              }
            }
            .Certification {
              width: 100%;
              a {
                width: 120px;
                height: 40px;
                color: #208fb9;
                border: 1px solid #208fb9;
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all ease-in 0.3s;
                &:hover {
                  color: #fff;
                  background: #208fb9;
                }
              }
            }
          }
        }
        .submit {
          width: 120px;
          height: 42px;
          border: 1px solid #208fb9;
          border-radius: 3px;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          margin: auto;
          background: none;
          transition: all ease-in 0.3s;
          background: #208fb9;
          &:hover {
            color: #fff;
            background: #165268;
          }
        }
      }
    }
  }
}

::v-deep .el-select > .el-input {
  width: 150px;
  height: 40px;
  margin-right: 10px;
  background: #f5f5f5;
  border: none;
  font-size: 14px;
  color: #999;
}
::v-deep .el-input--suffix .el-input__inner {
  background: #f5f5f5;
  border: none;
}
</style>
