<template>
  <div class="header">
    <div class="container">
      <div class="logo">
        <router-link to="/">
          <img src="~images/logo.png" alt="" />
        </router-link>
      </div>

      <div class="menu">
        <ul>
          <li>
            <router-link to="/Community">文章</router-link>
          </li>
          <li><router-link to="/QuestionAnswer">问答</router-link></li>
        </ul>
        <div class="search">
          <input
            type="text"
            placeholder="文章/问答搜索"
            v-model="msg"
            @keypress.prevent.13="transferParameters"
            class="txt"
          />
          <input
            type="button"
            value="搜索"
            @click="transferParameters"
            class="btn"
          />
        </div>
      </div>

      <div class="rbox">
        <router-link to="/MessageCenter" class="information">
          <img src="~images/icon1.png" alt="" />
          <span v-if="count > 0">{{ count }}</span>
        </router-link>
        <router-link to="/PrivateLetters" class="information">
          <img src="~images/icon8.png" alt="" />
          <span v-if="users_private > 0">{{ users_private }}</span>
        </router-link>
        <router-link to="/PersonalCenter" class="login">
          <img src="~images/icon2.png" alt="" />
        </router-link>
        <router-link to="/Login" v-if="!isLogin" class="login">
          登录 / 注册
        </router-link>
        <div class="loginOut" v-else @click="loginOut()">退出登录</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "CommunityHeader",
  data() {
    return {
      isLogin: false,
      msg: "",
      count: "",
      users_private: "",
    };
  },
  created() {
    this.getNewsNum();
    // //获取用户登录成功后储存的登录标志
    let token = localStorage.getItem("token");
    // // 登录状态不存在，获取服务器中的登录状态
    if (!token) {
      this.getLogin();
    } else {
      this.isLogin = true;
    }
  },
  methods: {
    // 获取登录状态
    getLogin() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=users_login")
        .then((res) => {
          if (res.data.status == 1) {
            this.isLogin = true;
            localStorage.setItem("token", res.data.token);
          } else {
            this.isLogin = false;
          }
        });
    },
    //消息数量
    getNewsNum() {
      this.$axios.post("/api/index.php?m=user&c=Users&a=newss").then((res) => {
        console.log(res);
        this.count = res.data.res.count;
        this.users_private = res.data.res.users_private;
      });
    },

    // 搜索
    transferParameters() {
      if (this.msg == "") {
        this.$message({
          showClose: true,
          message: "请输入搜索的关键字！",
          type: "error",
        });
        return false;
      } else {
        this.$router.push({
          path: "/searchList",
          query: {
            //通过query 传递参数
            key: this.msg,
          },
        });
      }
    },

    loginOut() {
      this.$axios.post("/api/index.php?m=user&c=Users&a=logout").then((res) => {
        console.log(res);
        window.localStorage.clear();
        this.$router.push({ path: "/login" });
      });
    },
  },
};
</script>
<style scoped lang="scss">
.header {
  width: 100%;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 9;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 80px;
    }
    .menu {
      display: flex;
      align-items: center;
      margin-left: 57px;
      ul {
        display: flex;
        li {
          margin: 0 33px;
          border-top: 2px solid transparent;
          border-bottom: 2px solid transparent;
          @media (max-width: 1600px) {
            margin: 0 20px;
          }
          a {
            font-size: 18px;
            color: #333;
            line-height: 86px;
            display: block;
            @media (max-width: 1600px) {
              font-size: 16px;
            }
          }
          &:hover,
          &.on {
            border-bottom: 2px solid #208fb9;
            a {
              font-weight: bold;
              color: #208fb9;
            }
          }
        }
      }
      .search {
        display: flex;
        border: 2px solid #208fb9;
        border-radius: 2px;
        margin-left: 98px;
        .txt {
          width: 417px;
          height: 41px;
          font-size: 15px;
          color: #333;
          padding-left: 20px;
          &::placeholder {
            color: #999;
          }
          @media (max-width: 1600px) {
            width: 320px;
          }
        }
        .btn {
          width: 138px;
          height: 41px;
          background: #208fb9 url(~images/icon9.png) 33px center no-repeat;
          background-size: 20px;
          color: #fff;
          font-size: 18px;
          cursor: pointer;
          padding-left: 27px;
          @media (max-width: 1600px) {
            font-size: 16px;
          }
          @media (max-width: 1440px) {
            font-size: 14px;
          }
        }
      }
    }
    .rbox {
      display: flex;
      align-items: center;
      .information {
        width: 25px;
        height: 25px;
        position: relative;
        margin-right: 38px;
        span {
          width: 16px;
          height: 16px;
          background: #f5002f;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          color: #fff;
          position: absolute;
          right: -3px;
          top: -3px;
        }
      }
      .login {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #333;
        @media (max-width: 1600px) {
          font-size: 16px;
        }
        @media (max-width: 1440px) {
          font-size: 14px;
        }
        img {
          width: 25px;
          height: 25px;
          margin-right: 8px;
        }
      }
      .loginOut {
        font-size: 18px;
        color: #333;
        margin-left: 10px;
        cursor: pointer;
        @media (max-width: 1600px) {
          font-size: 16px;
        }
        @media (max-width: 1440px) {
          font-size: 14px;
        }
        &:hover {
          color: #208fb9;
        }
      }
    }
  }
}
</style>
