<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 下拉导航 -->
    <ShopHeader></ShopHeader>
    <!-- 样品清单 -->
    <div class="c-common-box2 bg-color2">
      <div class="container">
        <div class="c-top">
          <h1 class="c-title">
            <img src="~images/c-ypqd-ico.png" alt="" />样品清单
          </h1>
          <ul class="c-list">
            <li class="on">
              <p class="c-num">1</p>
              <p class="c-text">样品清单</p>
            </li>
            <li>
              <p class="c-num">2</p>
              <p class="c-text">信息填写及核对</p>
            </li>
            <li>
              <p class="c-num">3</p>
              <p class="c-text">清单提交成功</p>
            </li>
          </ul>
        </div>
        <div class="c-bottom">
          <!-- 选择产品 -->
          <table class="c-common-table">
            <thead>
              <tr>
                <th>选中</th>
                <th>图片</th>
                <th>型号</th>
                <th>描述</th>
                <th>发货地</th>
                <th>预计交期</th>
                <th>价格(含税)</th>
                <th>购买数量</th>
                <th>小计</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) of SampleList" :key="index">
                <td>
                  <div
                    class="c-radio el-input__icon el-icon-check"
                    :class="{ on: item.selected == 1 }"
                    @click="checkedOne(item)"
                  ></div>
                </td>
                <td>
                  <div class="c-img-box">
                    <img :src="item.litpic" alt="" />
                  </div>
                </td>
                <td>
                  <h3 class="c-title">{{ item.title }}</h3>
                </td>
                <td>
                  <div class="c-text">
                    <p><span>参考封装：</span>{{ item.packing1 }}</p>
                    <p><span>封装/规格：</span>{{ item.specifications1 }}</p>
                    <p><span>品牌/产地：</span>{{ item.brand_name }}</p>
                    <p><span>产品编号：</span>{{ item.number }}</p>
                  </div>
                </td>
                <td>{{ item.sample }}</td>
                <td>{{ item.delivery }}</td>
                <td>￥{{ item.users_price }}</td>
                <td>
                  <div class="numbox">
                    <div class="reduce" @click="reduceNun(item)">-</div>
                    <input
                      class="txt"
                      type="text"
                      @change="handleChange($event, item)"
                      :value="item.num"
                    />
                    <div class="add" @click="addNun(item)">+</div>
                  </div>
                </td>
                <td class="c-price">￥{{ item.total_price }}</td>
                <td><p class="c-del" @click="delItem(item)">删除</p></td>
              </tr>
            </tbody>
          </table>
          <el-pagination
            id="c-page"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            background
            :current-page="currentPage"
            :page-sizes="pageSizes"
            :page-size="loadCount"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount"
            :pager-count="5"
            :hide-on-single-page="totalPage < 2"
          >
          </el-pagination>
        </div>
      </div>
    </div>
    <!-- 浮窗 -->
    <div class="c-common-box3">
      <div class="container">
        <ul class="c-list">
          <li>
            <div class="c-all" @click="checkedAll">
              <div
                class="c-radio el-input__icon el-icon-check"
                :class="{ on: checkAll }"
              ></div>
              <span>全选/反选</span>
            </div>
          </li>
          <li>
            <p class="c-text1">
              共 <span>{{ SampleList.length }}</span> 件商品，已选择
              <span>{{ checkedLength }}</span> 件
            </p>
            <p class="c-text2">提示：单个型号样品总价超过200元可能无法获批</p>
          </li>
          <li>
            <p class="c-text3">
              合计 (不含运费) <span>￥{{ paynum }}</span>
            </p>
          </li>
          <li>
            <div class="c-btn-box">
              <p class="c-btn" @click="clearCheck">清除已选</p>
              <div class="c-btn" @click="applyFor()">免费申请</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import ShopHeader from "@/components/Shop/ShopHeader.vue";
export default {
  name: "SampleList",
  data() {
    return {
      total: 0, //总价
      checkAll: false, //全选
      checkedLength: 0, //选中数量
      checkedPrice: [], //选中的产品价格
      checkedData: [], //选中的数据
      SampleList: [], //样品清单
      paynum: "",
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
      productIdBox:"",
    };
  },
  components: {
    webHeader,
    webFooter,
    ShopHeader,
  },
  computed: {},
  created() {
    this.getSampleList();
    this.clearCheck();
  },
  methods: {
    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      this.getSampleList();
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getSampleList();
    },
    //获取样品清单
    getSampleList() {
      this.productIdBox = "";
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=lists_sample", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.SampleList = res.data.res;
          this.checkedLength = 0;
          this.paynum = 0;
          for (let i = 0; i < this.SampleList.length; i++) {
            if (this.SampleList[i].selected == 1) {
              this.checkedLength++;
              this.paynum += Number(this.SampleList[i].total_price);
              this.productIdBox += this.SampleList[i].aid + ',';
            }
          }
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
        });
    },

    // 修改数量
    addNun(item) {
      this.$axios
        .post("/api/index.php?m=user&c=users&a=sample_unified_algorithm", {
          aid: item.aid,
          num: item.num,
          symbol: "+",
          id: item.id,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.getSampleList();
        });
    },
    reduceNun(item) {
      this.$axios
        .post("/api/index.php?m=user&c=users&a=sample_unified_algorithm", {
          aid: item.aid,
          num: item.num,
          symbol: "-",
          id: item.id,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.getSampleList();
        });
    },
    handleChange(e, item) {
      this.$axios
        .post("/api/index.php?m=user&c=users&a=sample_unified_algorithm", {
          aid: item.aid,
          num: e.target.value,
          symbol: "change",
          id: item.id,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            this.getSampleList();
            return false;
          }
          this.getSampleList();
        });
    },

    // 单选
    checkedOne(item) {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=selected", {
          id: item.id,
          selected: item.selected,
        })
        .then((res) => {
          console.log(res);
          this.checkedLength = this.SampleList.length;
          this.getSampleList();
        });
    },

    // 全选
    checkedAll() {
      this.checkAll = !this.checkAll;
      if (this.checkAll) {
        this.checkedLength = this.SampleList.length;
        this.$axios
          .post("/api/index.php?m=user&c=Users&a=selected", {
            id: "*",
            selected: "",
          })
          .then((res) => {
            console.log(res);
            this.getSampleList();
          });
      } else {
        this.checkedLength = 0;
        this.$axios
          .post("/api/index.php?m=user&c=Users&a=selected", {
            id: "*",
            selected: 1,
          })
          .then((res) => {
            console.log(res);
            this.getSampleList();
          });
      }
    },
    // 清除已选
    clearCheck() {
      this.checkAll = false;
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=selected", {
          id: "*",
          selected: 1,
        })
        .then((res) => {
          console.log(res);
          this.getSampleList();
        });
    },

    // 删除
    delItem(item) {
      this.$confirm("确定删除该样品吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
      .then(() => {
        this.$axios
        .post("/api/index.php?m=user&c=Users&a=sample_del", {
          id: item.id,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            this.getSampleList();
            return false;
          }
          this.$message.success(res.data.msg);
          this.getSampleList();
        });
      });
      
    },

    // 免费申请
    applyFor() {
      if (this.checkedLength == 0) {
        this.$message({
          showClose: true,
          message: "请选择申请的商品!",
          type: "error",
        });
        return false;
      }
      if(this.paynum > 200){
        this.$confirm("单个型号样品总价超过200元可能无法获批，您确定要申请吗？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        })
        .then(() => {
          this.$axios
          .post("/api/index.php?m=user&c=Users&a=sample_check", {
            product_id: this.productIdBox,
          })
          .then((res) => {
            console.log(res);
            // if (res.data.status == 1) {
              
            // } else {
            //   this.$message({
            //     showClose: true,
            //     message: "提交失败!",
            //     type: "error",
            //   });
            // }

            if(res.data.status != 1){
              if(res.data.status == -2){
                this.$confirm(res.data.msg, "提示", {
                  confirmButtonText: "确定",
                  cancelButtonText: "取消",
                  type: "warning",
                })
                .then(() => {
                  this.$router.push('/Personal/Information')
                });
                return false;
              }
              this.$message.error(res.data.msg);
              return false
            }
            this.$axios
            .post("/api/index.php?m=user&c=Shop&a=addlist")
            .then((res) => {
              let on = false;
              let addr_id = null;
              if (res.data.res.length != 0) {
                for (let index = 0; index < res.data.res.length; index++) {
                  if (res.data.res[index].is_default == 1) {
                    on = true;
                    addr_id = res.data.res[index].addr_id;
                    break;
                  } else {
                    on = false;
                  }
                }
                if (on) {
                  this.$router.push({
                    name: "CheckingInformation",
                    query: {
                      addr_id: addr_id,
                    },
                  });
                } else {
                  this.$router.push({
                    name: "SampleAddress",
                  });
                }
              } else {
                this.$router.push({
                  name: "SampleAddress",
                });
              }
            });
          });
        });
      }else{
        this.$axios
          .post("/api/index.php?m=user&c=Users&a=sample_check", {
            product_id: this.productIdBox,
          })
          .then((res) => {
            console.log(res);
            // if (res.data.status == 1) {
              
            // } else {
            //   this.$message({
            //     showClose: true,
            //     message: "提交失败!",
            //     type: "error",
            //   });
            // }

            if(res.data.status != 1){
              if(res.data.status == -2){
                this.$confirm(res.data.msg, "提示", {
                  confirmButtonText: "确定",
                  cancelButtonText: "取消",
                  type: "warning",
                })
                .then(() => {
                  this.$router.push('/Personal/Information')
                });
                return false;
              }
              this.$message.error(res.data.msg);
              return false
            }
            this.$axios
            .post("/api/index.php?m=user&c=Shop&a=addlist")
            .then((res) => {
              let on = false;
              let addr_id = null;
              if (res.data.res.length != 0) {
                for (let index = 0; index < res.data.res.length; index++) {
                  if (res.data.res[index].is_default == 1) {
                    on = true;
                    addr_id = res.data.res[index].addr_id;
                    break;
                  } else {
                    on = false;
                  }
                }
                if (on) {
                  this.$router.push({
                    name: "CheckingInformation",
                    query: {
                      addr_id: addr_id,
                    },
                  });
                } else {
                  this.$router.push({
                    name: "SampleAddress",
                  });
                }
              } else {
                this.$router.push({
                  name: "SampleAddress",
                });
              }
            });
          });
      }
      
      // this.$router.push({
      //   name: "CheckingInformation",
      //   params: {},
      // });
    },
  },
};
</script>
<style scoped lang="scss">
.numbox {
  width: 66px;
  height: 26px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  padding: 0 2px;
  .add {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 1;
  }
  .txt {
    width: 50%;
    height: 100%;
    text-align: center;
  }
  .reduce {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 1;
  }
}
#c-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
table{
  border: none;
  tr{
    border: none;
    th{
      border: none;
    }
    td{
      border: none;
    }
  }
}
</style>
