<template>
  <!-- 收藏的商品 -->
  <div id="c-collect">
    <h2 class="c-main-title">收藏的商品</h2>
    <div id="c-product" class="bg-color1">
      <div class="c-typesetting2">
        <ul class="c-list">
          <li v-for="(item, index) of collectList" :key="index">
            <div class="c-tBox">
              <div class="c-lt">
                <router-link to="" class="c-img-box">
                  <img :src="item.litpic" alt="" />
                </router-link>
              </div>
              <div class="c-gt">
                <router-link class="c-title" to="">{{
                  item.title
                }}</router-link>
                <div class="c-text">
                  <p>
                    <span>参考封装：</span><span>{{ item.package1 }}</span>
                  </p>
                  <p>
                    <span>封装/规格：</span
                    ><span>{{ item.specifications1 }}</span>
                  </p>
                  <p>
                    <span>品牌/产地：</span><span>{{ item.name }}</span>
                  </p>
                  <p>
                    <span>产品编号：</span><span>{{ item.number }}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="c-cBox">
              <div class="c-lt">
                <div class="c-btn-box">
                  <div class="c-btn" @click="getCollect(item)">已收藏</div>
                  <div class="c-btn">对比</div>
                </div>
              </div>
              <div class="c-gt">
                <div class="c-num-wrap">
                  <div class="c-box1">
                    <div class="c-lbox">
                      <p class="c-present-price">
                        <i>¥</i><span>{{ item.users_price }}</span>
                      </p>
                    </div>
                    <div class="c-arrow"></div>
                  </div>
                  <div class="c-box2">
                    <div class="c-item">
                      <div class="c-lbox">
                        <p class="c-text">￥</p>
                        <p class="c-price">{{ item.users_price }}</p>
                        <p class="c-text2">&nbsp;/&nbsp;个</p>
                      </div>
                      <p class="c-num">1 +</p>
                    </div>
                    <div class="c-item">
                      <div class="c-lbox">
                        <p class="c-text">￥</p>
                        <p class="c-price">121.75</p>
                        <p class="c-text2">&nbsp;/&nbsp;个</p>
                      </div>
                      <p class="c-num">10 +</p>
                    </div>
                    <div class="c-item">
                      <div class="c-lbox">
                        <p class="c-text">￥</p>
                        <p class="c-price">118.70</p>
                        <p class="c-text2">&nbsp;/&nbsp;个</p>
                      </div>
                      <p class="c-num">100 +</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-bBox">
              <div class="c-btn-box">
                <div class="c-item">
                  <router-link
                    :to="{
                      path: '/Shop/Enquiry',
                      query: {
                        id: item.aid,
                      },
                    }"
                    class="c-btn"
                  >
                    批量询价
                  </router-link>
                </div>
                <div class="c-item">
                  <div class="c-btn" @click="addSample(item)">加入样品单</div>
                </div>
                <div class="c-item">
                  <router-link
                    :to="{
                      name: 'Delivery',
                    }"
                    class="c-btn"
                  >
                    查询交期
                  </router-link>
                </div>
                <div class="c-item">
                  <div class="c-btn" @click="addShopCar(item)">加入购物车</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="page-list">
          <el-pagination
            id="c-page"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            background
            :current-page="currentPage"
            :page-sizes="pageSizes"
            :page-size="loadCount"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount"
            :pager-count="5"
            :hide-on-single-page="totalPage < 2"
          >
          </el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Collect",
  data() {
    return {
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
      collectList: [], //收藏列表
    };
  },
  components: {},
  mounted() {},
  created: function () {
    // 获取收藏列表
    this.getCollection();
  },
  methods: {
    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      this.getCollection();
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getCollection();
    },

    // 获取收藏列表
    getCollection() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=list_collection", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.collectList = res.data.res;
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
        });
    },
    // 批量询价

    // 加入样品清单
    addSample(item) {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=add_sample", {
          product_id: item.aid,
          num: 1,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getCollection();
        });
    },
    // 加入购物车
    addShopCar(item) {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=shop_add_cart", {
          aid: item.aid,
          num: 1,
          specifications_id: 12,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getCollection();
        });
    },
    //加入收藏
    getCollect(item) {
      if(item.collection == 1){
        this.$confirm("确定取消收藏该商品吗？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        })
        .then(() => {
          this.$axios
          .post("/api/index.php?m=home&c=Lists&a=add_collection", {
            product_id: item.aid,
          })
          .then((res) => {
            if (res.data.status == 1) {
              this.$message.success(res.data.msg);
              this.getProductInfo();
            } else {
              this.$message.error(res.data.msg);
            }
          });
        });
      }else{
        this.$axios
        .post("/api/index.php?m=home&c=Lists&a=add_collection", {
          product_id: item.aid,
        })
        .then((res) => {
          if (res.data.status == 1) {
            this.$message.success(res.data.msg);
            this.getProductInfo();
          } else {
            this.$message.error(res.data.msg);
          }
        });
      }
    },
  },
};
</script>
<style scoped lang="scss">
// 收藏的商品
#c-collect {
  padding: 40px;
  min-height: 912px;
  background-color: #fff;
  .c-main-title {
    margin-bottom: 20px;
  }
}
.c-typesetting2 {
  .c-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      margin-bottom: 20px;
      padding: 30px;
      width: 49%;
      border: 1px solid #f5f5f5;
      .c-tBox {
        display: flex;
        align-items: flex-start;
        margin: 0 -7px;
        .c-lt {
          padding: 0 7px;
          width: 50%;
          .c-img-box {
            display: block;
            position: relative;
            height: 196px;
            border: 1px solid #eee;
            text-align: center;
            line-height: 194px;
            &.on {
              &::before {
                display: block;
              }
            }
            &::before {
              display: none;
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 40px;
              height: 40px;
              background: url(~images/c-hot.png) no-repeat center / 100%;
            }
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
        }
        .c-gt {
          padding: 0 7px;
          width: 50%;
          .c-title {
            display: block;
            margin: 20px 0;
            padding-left: 14px;
            transition: all 0.3s;
            height: 52px;
            line-height: 26px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            &:hover {
              color: #208fb9;
            }
          }
          .c-text {
            padding-left: 14px;
            p {
              display: flex;
              align-items: flex-start;
              font-size: 14px;
              line-height: 1.5;
              color: #666;
              @media (max-width: 1580px) {
                font-size: 12px;
              }
              span {
                &:first-child {
                  flex-shrink: 0;
                }
              }
            }
          }
        }
      }
      .c-cBox {
        display: flex;
        align-items: center;
        margin: 15px -7px 30px;
        .c-lt {
          padding: 0 7px;
          width: 50%;
          .c-btn-box {
            display: flex;
            align-items: flex-start;
            .c-btn {
              width: 50%;
              height: 30px;
              font-size: 14px;
              line-height: 28px;
              text-align: center;
              border: 1px solid #eee;
              cursor: pointer;
            }
          }
        }
        .c-gt {
          padding: 0 7px;
          width: 50%;
          .c-num-wrap {
            position: relative;
            padding: 4px 15px;
            .c-box1 {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .c-lbox {
                display: flex;
                align-content: center;
                .c-present-price {
                  display: flex;
                  align-items: flex-end;
                  color: #f5002f;
                  i {
                    font-style: normal;
                    font-size: 14px;
                  }
                  span {
                    font-size: 22px;
                  }
                }
                .c-original-price {
                  margin-left: 10px;
                  display: flex;
                  align-items: center;
                  color: #bbb;
                  i {
                    font-style: normal;
                    font-size: 10px;
                  }
                  span {
                    font-size: 12px;
                  }
                }
              }
              .c-arrow {
                width: 8px;
                height: 16px;
                background: url(~images/c-jt-ico1.png) no-repeat center / 100%
                  auto;
                transition: all 0.3s;
              }
            }
            .c-box2 {
              display: none;
              position: absolute;
              top: 30px;
              left: 0;
              padding: 14px;
              width: 100%;
              background: #fff;
              font-size: 14px;
              line-height: 24px;
              color: #666;
              box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
              .c-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .c-lbox {
                  display: flex;
                  align-items: center;
                  color: #f5002f;
                  .c-text {
                    font-size: 10px;
                  }
                  .c-text2 {
                    color: #666;
                  }
                }
              }
            }
            &:hover {
              z-index: 5;
              .c-box1 {
                .c-arrow {
                  -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
                  background-image: url(~images/c-jt-ico2.png);
                }
              }
              .c-box2 {
                display: block;
              }
            }
          }
        }
      }
      .c-bBox {
        .c-btn-box {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          margin: 0 -7px -14px;
          .c-item {
            padding: 0 7px 14px;
            width: 50%;
            .c-btn {
              width: 100%;
              line-height: 38px;
              text-align: center;
              border: 1px solid #c2c2c2;
              border-radius: 3px;
              color: #666;
              cursor: pointer;
              transition: all 0.3s;
              display: block;
            }
            &:last-child {
              .c-btn {
                color: #f5002f;
                border-color: #f5002f;
                &:hover {
                  color: #fff;
                  background-color: #f5002f;
                }
              }
            }
          }
        }
      }
    }
  }
}
.page-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .item {
    width: 40px;
    height: 40px;
    border: 1px solid #208fb9;
    color: #208fb9;
    border-radius: 3px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease-in 0.3s;
    &:hover {
      background: #208fb9;
      color: #fff;
    }
    &.active {
      background: #208fb9;
      color: #fff;
    }
  }
  .check {
    padding: 0 10px;
    height: 40px;
    border: 1px solid #208fb9;
    color: #208fb9;
    border-radius: 3px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease-in 0.3s;
    &:hover {
      background: #208fb9;
      color: #fff;
    }
  }
}
#c-page {
  text-align: center;
}
</style>
