<template>
  <!-- 客户退货 -->
  <div>
    <div class="c-list-box">
      <div class="c-line"></div>
      <ul class="c-list">
        <li class="on">
          <div class="c-dot"></div>
          <p class="c-text">提交申请</p>
        </li>
        <li class="on">
          <div class="c-dot"></div>
          <p class="c-text">商家确认</p>
        </li>
        <li class="on">
          <div class="c-dot"></div>
          <p class="c-text">客户退货</p>
        </li>
        <li>
          <div class="c-dot"></div>
          <p class="c-text">商家换货/退款</p>
        </li>
      </ul>
    </div>
    <div class="c-returns">
      <div class="c-box">
        <div class="c-text">
          <p>邮寄姓名：{{ data.maddr.addr_contact_person }}</p>
          <p>邮寄电话：{{ data.maddr.addr_contact_phone }}</p>
          <p>邮寄地址：{{ data.maddr.addr_shipping_addr }}</p>
        </div>
        <div class="c-code">
          <p class="c-title">物流单号：</p>
          <el-input
            v-model="shipmentNumber"
            placeholder="请输入物流单号"
          ></el-input>
        </div>
        <div class="c-code">
          <p class="c-title">物流公司：</p>
          <el-input
            v-model="shipmentcoment"
            placeholder="请填写物流公司："
          ></el-input>
        </div>
      </div>
      <div class="c-btn-box">
        <p class="c-btn" @click="returnSubmit">提交</p>
        <p class="c-btn" @click="cancelOrder()">取消退换货</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "CustomerReturns",
  data() {
    return {
      shipmentNumber: "",
      shipmentcoment:'',
      data: {},
    };
  },
  components: {},
  created() {
    this.getOrderInfo();
  },
  methods: {
    // 提交
    returnSubmit() {
      if (this.shipmentNumber == "") {
        this.$message({
          showClose: true,
          message: "请输入物流单号!",
          type: "error",
        });
        return false;
      }
      if (this.shipmentcoment == "") {
        this.$message({
          showClose: true,
          message: "请填写物流公司!",
          type: "error",
        });
        return false;
      }
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=after_service_update&_ajax=1", {
          order_id: this.$route.query.id,
          service_id: this.$route.query.service_id,
          delivery: {
            code: this.shipmentNumber,
            name: this.shipmentcoment
          },
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          setTimeout(() => {
            this.$router.push({
              name: "ExchangeRefund",
              query: {
                id: this.$route.query.id,
                unified_number: this.$route.query.unified_number,
                service_id: this.$route.query.service_id,
              },
            });
          }, 2000);
        });
    },
    //订单详情
    getOrderInfo() {
      this.$axios
        .get(
          "/api/index.php?m=user&c=Shop&a=after_service_details&service_id=" +
            this.$route.query.service_id
        )
        .then((res) => {
          this.data = res.data.res;
          console.log(this.data);
        });
    },
    // 取消订单
    cancelOrder() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=after_service_details&_ajax=1", {
          details_id: this.data.field.details_id,
          order_id: this.$route.query.id,
          service_id: this.$route.query.service_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          setTimeout(() => {
            this.$router.push({
              name: "OrderList",
            });
          }, 2000);
        });
    },
  },
};
</script>
<style scoped lang="scss">
// 客户退货
.c-list-box {
  margin: 40px 0;
  position: relative;
  .c-line {
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 2px;
    background: #e5e5e5;
  }
  .c-list {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: flex-start;
    li {
      width: 25%;
      text-align: center;
      .c-dot {
        margin: 0 auto 10px;
        width: 26px;
        height: 26px;
        border: 8px solid transparent;
        border-radius: 50%;
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: #c1c1c1;
          border-radius: 50%;
        }
      }
      .c-text {
        font-weight: bold;
        line-height: 1;
      }
      &.on {
        .c-dot {
          background: #e8f4f8;
          &::before {
            background: #208fb9;
          }
        }
        .c-text {
          color: #208fb9;
        }
      }
    }
  }
}
.c-returns {
  .c-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
    .el-input {
      width: 260px;
    }
    .c-text {
      padding-bottom: 10px;
      width: 340px;
      line-height: 1.5;
      p {
        margin-bottom: 10px;
      }
    }
  }
  .c-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .c-btn {
    margin: 0 10px;
    display: block;
    width: 160px;
    line-height: 48px;
    text-align: center;
    background: #208fb9;
    border: 1px solid #208fb9;
    color: #fff;
    cursor: pointer;
  }
  .c-code {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }
}
.c-returns ::v-deep .el-input__inner {
  border: 1px solid #ccc;
}
.c-returns ::v-deep .el-input__inner:focus {
  border-color: #208fb9;
}
</style>
