<template>
  <!-- 订单详情 -->
  <div id="c-order">
    <ul class="c-list2">
      <li>
        <div class="c-title-box">
          <div class="c-lt">
            <p class="c-title">
              <strong>添加评论</strong>
            </p>
          </div>
        </div>
        <div class="c-evaluation">
          <div class="c-lt">
            <div class="c-img">
              <img :src="orderInfo.litpic" :alt="orderInfo.product_name" />
            </div>
            <p class="c-text">{{ orderInfo.product_name }}</p>
          </div>
          <div class="c-gt">
            <div class="c-rate c-dt">
              <div class="c-lt2">
                <span class="c-text">评论等级</span>
                <el-rate
                  v-model="num1"
                  @change="setNum2()"
                  text-color="#ff9900"
                >
                </el-rate>
              </div>
              <div class="c-gt2">
                <el-checkbox v-model="anonymous">匿名评论</el-checkbox>
              </div>
            </div>
            <div class="c-text-box2">
              <el-input
                type="textarea"
                placeholder="请输入评论内容"
                v-model="content"
                maxlength="500"
                show-word-limit
              >
              </el-input>
              <div class="c-upload">
                <el-upload
                  action="/api/index.php?m=user&c=Uploadify&a=imageUp"
                  list-type="picture-card"
                  :multiple="true"
                  :limit="maxUpload"
                  :on-preview="handlePictureCardPreview"
                  :on-remove="handleRemove"
                  :before-upload="beforeAvatarUpload"
                  :on-exceed="uploadLimit"
                  :on-success="handleSuccess"
                >
                  <div class="c-wrap">
                    <img src="~images/c-pz-ico.png" alt="" />
                    <p class="c-text3">上传照片</p>
                  </div>
                </el-upload>
                <el-dialog :visible.sync="dialogVisible">
                  <img width="100%" :src="dialogImageUrl" alt="" />
                </el-dialog>
                <button type="button" class="c-btn" @click="submit()">
                  发表
                </button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <router-link
          :to="{ name: 'OrderDetails', query: { id: this.$route.query.id } }"
          class="c-return"
          >返回订单</router-link
        >
      </li>
    </ul>
  </div>
</template>
<script>
import moment from "moment";
export default {
  name: "Evaluate",
  data() {
    return {
      anonymous: false, //是否匿名评论
      isImg: false, //是否有上传图片
      dialogImageUrl: "", //放大图的url
      dialogVisible: false, //是否显示放大图
      content: "", //评论内容
      maxUpload: 6, //最大上传几张图
      orderInfo: [], //订单详情
      is_comment: 0,
      apply_service: 0,
      imgUrl: [],
      num1: 5,
      num2: 1,
    };
  },
  components: {},
  created() {
    this.getOrderInfo();
  },
  methods: {
    moment,
    //订单详情
    getOrderInfo() {
      this.$axios
        .get(
          "/api/index.php?m=user&c=Shop&a=comment&details_id=" +
            this.$route.query.details_id
        )
        .then((res) => {
          console.log(res);
          this.orderInfo = res.data.res;
        });
    },

    // 提交评价
    submit() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=comment", {
          order_id: this.orderInfo.order_id,
          order_code: this.orderInfo.order_code,
          details_id: this.orderInfo.details_id,
          product_id: this.orderInfo.product_id,
          total_score: this.num2,
          content: this.content,
          upload_img: this.imgUrl,
          is_anonymous: this.anonymous == true ? 1 : 0,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          setTimeout(() => {
            this.$router.push({
              name: "OrderDetails",
              query: { id: this.$route.query.id },
            });
          }, 2000);
        });
    },

    // 设置评分
    setNum2() {
      if (this.num1 == 1) {
        this.num2 = 3;
      } else if (this.num1 == 2 || this.num1 == 3) {
        this.num2 = 2;
      } else {
        this.num2 = 1;
      }
    },

    // 删除图片
    handleRemove(file, fileList) {
      if (fileList.length == 0) {
        this.isImg = false;
      }
      this.imgUrl = [];
      fileList.forEach((element) => {
        this.imgUrl.push(element.response.url);
      });
    },
    // 设置预览图片
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    // 上传验证
    beforeAvatarUpload(file) {
      const isJPG =
        file.type === "image/jpeg" ||
        file.type === "image/png" ||
        file.type === "image/jpg" ||
        file.type === "application/pdf";
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isJPG) {
        this.$message({
          showClose: true,
          message: "请上传正确的图片格式!",
          type: "error",
        });
      }
      if (!isLt2M) {
        this.$message({
          showClose: true,
          message: "上传图片大小不能超过 2MB!",
          type: "error",
        });
      }
      return isJPG && isLt2M;
    },
    // 上传成功
    handleSuccess(file) {
      this.isImg = true;
      this.imgUrl.push(file.url);
    },
    // 上传限制
    uploadLimit() {
      this.$message({
        showClose: true,
        message: "最大上传" + this.maxUpload + "张照片！",
        type: "error",
      });
    },
  },
};
</script>
<style scoped lang="scss">
// 订单详情
#c-order {
  padding: 40px;
  min-height: 912px;
  background-color: #fff;
  .c-state {
    margin-bottom: 40px;
    position: relative;
    .c-line-box {
      position: absolute;
      top: 12px;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 2px;
      background: #bbbbbb;
      .c-line {
        width: 0;
        height: 100%;
        background: #208fb9;
        &.on1 {
          width: 10%;
        }
        &.on2 {
          width: 30%;
        }
        &.on3 {
          width: 50%;
        }
        &.on4 {
          width: 70%;
        }
        &.on5 {
          width: 100%;
        }
      }
    }
    .c-list1 {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: flex-start;
      li {
        width: 20%;
        text-align: center;
        .c-box {
          margin: 0 auto 10px;
          width: 26px;
          height: 26px;
          background: #bbbbbb;
          border: 2px solid #bbbbbb;
          border-radius: 50%;
          font-size: 14px;
          text-align: center;
          line-height: 22px;
          color: #fff;
          .el-icon-check {
            display: none;
          }
        }
        .c-text {
          font-size: 14px;
          color: #999;
        }
        &.on {
          .c-box {
            background: #208fb9;
            border-color: #208fb9;
            .el-icon-check {
              display: inline-block;
            }
            .c-num {
              display: none;
            }
          }
          .c-text {
            color: #208fb9;
          }
        }
      }
    }
  }
  .c-list2 {
    li {
      margin-bottom: 35px;
      &:last-child {
        margin-bottom: 0;
      }
      .c-title-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;
        background: #f5f5f5;
        .c-title {
          color: #666;
          strong {
            color: #333;
          }
        }
        .c-gt {
          display: flex;
          align-items: center;
          font-size: 14px;
          .c-text {
            color: #666;
          }
          .c-btn1 {
            color: #208fb9;
            text-decoration: underline;
          }
          .c-btn2 {
            margin-left: 10px;
            width: 100px;
            height: 32px;
            border: 1px solid #666666;
            border-radius: 16px;
            line-height: 30px;
            text-align: center;
            color: #666;
            cursor: pointer;
            &.c-dt {
              color: #fff;
              background: #208fb9;
              border-color: #208fb9;
            }
          }
        }
      }
      .c-text-box {
        padding: 15px 20px 0;
        color: #666;
        font-size: 14px;
        line-height: 1.8;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        th {
          white-space: nowrap;
        }
        th,
        td {
          padding: 15px 20px;
          border: 1px solid #eeeeee;
          font-weight: normal;
          text-align: center;
          line-height: 1.5;
          &:nth-child(1) {
            width: 13%;
          }
          // &:nth-child(3) {
          //   width: 24%;
          // }
          .c-text {
            font-size: 14px;
            color: #666;
          }
        }
        td {
          font-size: 14px;
          color: #666;
          &:last-child {
            white-space: nowrap;
          }
          &:nth-child(3) {
            span {
              color: #333;
            }
          }
          .c-img {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            text-align: center;
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
          .c-btn {
            &:hover {
              color: #208fb9;
              text-decoration: underline;
            }
          }
        }
      }
      .c-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 15px;
        line-height: 1.5;
        .c-lt {
          span {
            color: #666;
          }
        }
        .c-gt {
          color: #666;
          span {
            font-weight: bold;
            font-size: 24px;
            color: #f5002f;
          }
        }
      }
      .c-evaluation {
        padding-top: 20px;
        display: flex;
        align-items: flex-start;
        line-height: 1.5;
        .c-lt {
          flex-shrink: 0;
          width: 180px;
          .c-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 180px;
            border: 1px solid #dfdfdf;
            text-align: center;
            img {
              max-height: 100%;
              max-width: 100%;
            }
          }
          .c-text {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 60px;
            padding-top: 10px;
            font-size: 14px;
            text-align: center;
          }
        }
        .c-gt {
          padding-left: 20px;
          width: 100%;
          .c-text-box2 {
            .c-text {
              padding-bottom: 10px;
              font-size: 14px;
              line-height: 1.8;
              color: #666;
              min-height: 100px;
            }
            .c-img-list {
              display: flex;
              align-items: flex-start;
              .c-item {
                margin: 10px 10px 0 0;
                width: 70px;
                height: 70px;
                line-height: 68px;
                border: 1px solid #dfdfdf;
                text-align: center;
                overflow: hidden;
                img {
                  max-height: 100%;
                  max-width: 100%;
                }
              }
            }
            .c-wrap {
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              line-height: 1;
              img {
                margin-bottom: 5px;
                height: 16px;
              }
              .c-text3 {
                font-size: 12px;
                color: #bbbbbb;
              }
            }
          }
          .c-rate {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 16px;
            font-size: 14px;
            color: #666;
            &.c-dt {
              padding-top: 0;
            }
            .c-lt2 {
              display: flex;
              align-items: center;
              line-height: 36px;
              .c-text {
                margin-right: 10px;
              }
            }
            .c-gt2 {
              line-height: 1;
            }
          }
          .c-btn {
            flex-shrink: 0;
            margin-left: 20px;
            width: 120px;
            line-height: 36px;
            color: #fff;
            background: #208fb9;
            border-radius: 3px;
          }
          .c-upload {
            padding-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
      .c-return {
        margin: 0 auto;
        display: block;
        width: 140px;
        font-size: 14px;
        line-height: 36px;
        text-align: center;
        color: #208fb9;
        background: #ffffff;
        border: 1px solid #208fb9;
        border-radius: 3px;
      }
    }
  }
}
#c-order ::v-deep .el-textarea__inner {
  padding: 10px 15px;
  width: 100%;
  resize: none;
  overflow: auto;
  font-size: 14px;
  line-height: 1.8;
  color: #666;
  height: 144px;
  border: 1px solid #dfdfdf;
}
#c-order ::v-deep .el-textarea__inner:hover {
  border-color: #c0c4cc;
}
#c-order ::v-deep .el-textarea__inner:focus {
  border-color: #208fb9;
}
#c-order ::v-deep .el-upload {
  position: relative;
  border-radius: 0;
}
#c-order ::v-deep .el-upload--picture-card,
#c-order ::v-deep .el-upload-list--picture-card .el-upload-list__item {
  width: 50px;
  height: 50px;
}
#c-order ::v-deep .el-upload-list--picture-card {
  display: inline-block;
  margin-bottom: -20px;
}
#c-order ::v-deep .el-upload-list--picture-card .el-upload-list__item-actions {
  font-size: 16px;
}
#c-order
  ::v-deep
  .el-upload-list--picture-card
  .el-upload-list__item-actions
  span
  + span {
  margin-left: 5px;
}
</style>
