<template>
  <!-- 换货/退款 -->
  <div>
    <div class="c-list-box">
      <div class="c-line"></div>
      <ul class="c-list">
        <li class="on">
          <div class="c-dot"></div>
          <p class="c-text">提交申请</p>
        </li>
        <li class="on">
          <div class="c-dot"></div>
          <p class="c-text">商家确认</p>
        </li>
        <li class="on">
          <div class="c-dot"></div>
          <p class="c-text">客户退货</p>
        </li>
        <li class="on">
          <div class="c-dot"></div>
          <p class="c-text">商家换货/退款</p>
        </li>
      </ul>
    </div>
    <div class="c-refund">
      <div class="c-box1">
        <p v-if="data.field.StatusName == '会员已发货'">等待商家收货</p>
        <p
          v-if="
            data.field.StatusName == '商家已收货' &&
            data.field.service_type == '换货'
          "
        >
          商家已收货,等待商家换货
        </p>
        <p
          v-if="
            data.field.StatusName == '换货完成' &&
            data.field.service_type == '换货'
          "
        >
          商家已换货,换货物流单号：{{ data.field.admin_delivery.code }}
          <br>
          物流快递：{{ data.field.admin_delivery.name }}
        </p>
        <p
          v-if="
            data.field.StatusName == '商家已收货' &&
            data.field.service_type == '退货'
          "
        >
          商家已收货,等待商家退款
        </p>
      </div>
      <div
        class="c-box2"
        v-if="
          data.field.StatusName == '退款完成' &&
          data.field.service_type == '退货'
        "
      >
        <p class="c-price">¥ {{ data.field.refund_total_price }}</p>
        <p class="c-text">已通过原渠道退回您的账户，请确认！</p>
      </div>
      <!-- <router-link :to="{ path: '/Personal/Order' }" class="c-btn"
        >确认</router-link> -->
    </div>
  </div>
</template>
<script>
export default {
  name: "ExchangeRefund",
  data() {
    return {
      data: {},
    };
  },
  created() {
    this.getOrderInfo();
  },
  methods: {
    //订单详情
    getOrderInfo() {
      this.$axios
        .get(
          "/api/index.php?m=user&c=Shop&a=after_service_details&service_id=" +
            this.$route.query.service_id
        )
        .then((res) => {
          this.data = res.data.res;
          console.log(this.data);
        });
    },
    // 取消订单
    cancelOrder() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=after_service_details&_ajax=1", {
          details_id: this.data.field.details_id,
          order_id: this.$route.query.id,
          service_id: this.$route.query.service_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          setTimeout(() => {
            this.$router.push({
              name: "OrderList",
            });
          }, 2000);
        });
    },
  },
};
</script>
<style scoped lang="scss">
// 商家换货/退款
.c-list-box {
  margin: 40px 0;
  position: relative;
  .c-line {
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 2px;
    background: #e5e5e5;
  }
  .c-list {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: flex-start;
    li {
      width: 25%;
      text-align: center;
      .c-dot {
        margin: 0 auto 10px;
        width: 26px;
        height: 26px;
        border: 8px solid transparent;
        border-radius: 50%;
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          background: #c1c1c1;
          border-radius: 50%;
        }
      }
      .c-text {
        font-weight: bold;
        line-height: 1;
      }
      &.on {
        .c-dot {
          background: #e8f4f8;
          &::before {
            background: #208fb9;
          }
        }
        .c-text {
          color: #208fb9;
        }
      }
    }
  }
}
.c-refund {
  text-align: center;
  .c-box1 {
    padding: 40px 0;
    // display: flex;
    // align-items: flex-start;
    // justify-content: center;
    color: #666;
    span {
      margin-right: 40px;
      color: #333;
    }
  }
  .c-box2 {
    padding: 40px 0;
    .c-price {
      font-size: 36px;
      color: #f5002f;
    }
    .c-text {
      font-size: 14px;
      color: #666;
    }
  }
  .c-btn {
    margin: 0 auto;
    display: block;
    width: 160px;
    line-height: 48px;
    text-align: center;
    background: #208fb9;
    border: 1px solid #208fb9;
    color: #fff;
    cursor: pointer;
  }
}
.c-returns ::v-deep .el-input__inner {
  border: 1px solid #ccc;
}
.c-returns ::v-deep .el-input__inner:focus {
  border-color: #208fb9;
}
</style>
