<template>
  <div>
    <!-- 个人信息 -->
    <div id="c-information">
      <h2 class="c-main-title">个人信息</h2>
      <ul class="c-list">
        <li>
          <p class="c-title">头像</p>
          <el-upload
            class="avatar-uploader"
            action="/api/index.php?m=user&c=Uploadify&a=imageUp"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img
              v-if="userIonf.head_pic"
              :src="userIonf.head_pic"
              class="avatar"
            />
            <i class="c-ico"></i>
          </el-upload>
        </li>
        <li>
          <p class="c-title">用户ID</p>
          <span class="c-id">{{ userIonf.users_id }}</span>
        </li>
        <li>
          <p class="c-title">密码</p>
          <el-input
            v-model="userIonf.password"
            placeholder=""
            :disabled="true"
            show-password
          ></el-input>
          <p class="c-revise" @click="showPop(1)">修改密码</p>
        </li>
        <li>
          <p class="c-title">用户昵称</p>
          <el-input
            v-model="userIonf.nickname"
            placeholder="请输入您的用户昵称"
          ></el-input>
        </li>
        <li>
          <p class="c-title">手机</p>
          <el-input
            v-model="userIonf.phone"
            placeholder=""
            :disabled="true"
          ></el-input>
          <p class="c-revise" @click="showPop(2)">更换</p>
        </li>
        <li>
          <p class="c-title">真实姓名</p>
          <el-input
            v-model="userIonf.username"
            placeholder="请输入真实姓名"
          ></el-input>
        </li>
        <li>
          <p class="c-title">邮箱</p>
          <el-input
            v-model="userIonf.email"
            placeholder=""
            :disabled="true"
          ></el-input>
          <p class="c-revise" @click="showPop(3)">绑定/更换</p>
        </li>
      </ul>
      <div class="c-btn-box">
        <p class="c-btn" @click="setInformation">保存</p>
      </div>
    </div>

    <!-- 修改密码 -->
    <div class="c-common-pop" v-if="isPassword">
      <div class="c-main">
        <div class="c-close" @click="closePop(1)"></div>
        <h2 class="c-title">修改密码</h2>
        <ul class="c-list">
          <li>
            <el-input
              placeholder="请输入验证的手机号"
              v-model="revisePasswordPhone"
            >
              <i slot="prefix" class="el-input__icon c-phone"></i>
            </el-input>
          </li>
          <li>
            <el-input
              placeholder="请输入短信验证码"
              v-model="revisePasswordPhoneCode"
            >
              <i slot="prefix" class="el-input__icon c-code"></i>
            </el-input>
            <p class="c-send" v-if="passwordshowloginCode" @click="getPasswordCode">发送验证码</p>
            <div v-else class="c-send">{{ passwordcount }}</div>
          </li>
          <li>
            <el-input
              placeholder="请输入新密码"
              v-model="revisePassword1"
              show-password
            >
              <i slot="prefix" class="el-input__icon c-password1"></i>
            </el-input>
          </li>
          <li>
            <el-input
              placeholder="确认新密码"
              v-model="revisePassword2"
              show-password
            >
              <i slot="prefix" class="el-input__icon c-password2"></i>
            </el-input>
          </li>
          <li><p class="c-btn" @click="setPassword">确认修改</p></li>
        </ul>
      </div>
    </div>

    <!-- 更换手机号 -->
    <div class="c-common-pop" v-if="isPhone">
      <div class="c-main">
        <div class="c-close" @click="closePop(2)"></div>
        <h2 class="c-title">更换手机号</h2>
        <ul class="c-list">
          <li>
            <el-input placeholder="请输入验证的手机号" v-model="revisePhone">
              <i slot="prefix" class="el-input__icon c-phone"></i>
            </el-input>
          </li>
          <li>
            <el-input placeholder="请输入新的绑定手机号" v-model="revisePhone2">
              <i slot="prefix" class="el-input__icon c-phone"></i>
            </el-input>
          </li>
          <li>
            <el-input placeholder="请输入短信验证码" v-model="revisePhoneCode">
              <i slot="prefix" class="el-input__icon c-code"></i>
            </el-input>
            <p class="c-send" @click="getPhoneCode">发送验证码</p>
          </li>

          <!-- <li>
            <el-input placeholder="确认新手机号" v-model="revisePhone3">
              <i slot="prefix" class="el-input__icon c-phone"></i>
            </el-input>
          </li> -->
          <li><p class="c-btn" @click="setPhone">确认修改</p></li>
        </ul>
      </div>
    </div>

    <!-- 绑定/更换邮箱 -->
    <div class="c-common-pop" v-if="isEmail">
      <div class="c-main">
        <div class="c-close" @click="closePop(3)"></div>
        <h2 class="c-title">绑定/更换邮箱</h2>
        <ul class="c-list">
          <li>
            <el-input placeholder="请输入新的邮箱地址" v-model="reviseEmail">
              <i slot="prefix" class="el-input__icon c-email"></i>
            </el-input>
          </li>
          <li>
            <el-input placeholder="请输入邮箱验证码" v-model="reviseEmailCode">
              <i slot="prefix" class="el-input__icon c-code"></i>
            </el-input>
            <p class="c-send" @click="getEmailCode">发送验证码</p>
          </li>
          <li><p class="c-btn" @click="setEmail">确认修改</p></li>
        </ul>
      </div>
    </div>

    <!-- 地址管理 -->
    <div id="c-address">
      <h2 class="c-title">收货地址管理</h2>
      <ul class="c-list">
        <li
          v-for="(item, index) in addressList"
          :key="index"
          :class="{ on: item.default == 1 }"
        >
          <div class="c-wrap">
            <div class="c-top2">
              <h3 class="c-title">{{ item.consignee }}</h3>
              <ul class="c-list2">
                <li v-if="item.is_default == 1"><p>默认</p></li>
                <li v-if="item.label">
                  <p>{{ item.label }}</p>
                </li>
              </ul>
            </div>
            <div class="c-center2">
              <div class="c-text">
                <p>
                  <span>电话：</span><span>{{ item.mobile }}</span>
                </p>
                <p>
                  <span>地址：</span
                  ><span
                    >{{ item.province }}{{ item.city }}{{ item.district
                    }}{{ item.street }}{{ item.address }}</span
                  >
                </p>
                <p>
                  <span>邮编：</span>
                  <span>{{ item.zipcode }}</span>
                </p>
              </div>
            </div>
            <div class="c-bottom2">
              <ul class="c-list2">
                <li v-if="item.is_default != 1">
                  <p @click="handleDefault(item.addr_id)">设为默认</p>
                </li>
                <li><p @click="handleEdit(item.addr_id)">修改</p></li>
                <li><p @click="handleDel(item.addr_id)">删除</p></li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="c-wrap" @click="handleAdd">
            <div class="c-add">
              <img src="~images/c-add-ico.png" alt="" />
              <p class="c-text">添加新地址</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- 修改/添加 -->
    <div class="c-common-box4" style="margin-top: 20px" v-show="!isAddress">
      <form action="">
        <h2 class="c-title" v-if="!isAddAddress">编辑收货地址</h2>
        <h2 class="c-title" v-if="isAddAddress">添加收货地址</h2>
        <ul class="c-list">
          <li>
            <el-input
              v-model="submitAddress.consignee"
              placeholder="收货人姓名"
            ></el-input>
          </li>
          <li>
            <el-input
              v-model="submitAddress.mobile"
              placeholder="手机号码"
            ></el-input>
          </li>
          <li>
            <el-input
              v-model="submitAddress.zipcode"
              placeholder="邮编号码"
            ></el-input>
          </li>
          <li>
            <el-input
              v-model="submitAddress.label"
              placeholder="地址标签"
            ></el-input>
          </li>
          <li>
            <el-select
              v-model="submitAddress.province"
              placeholder="选择省份"
              @change="changePr($event)"
            >
              <el-option
                v-for="(item, index) in provinceList"
                :key="index"
                :label="item.name"
                :value="item.id"
              >
              </el-option>
            </el-select>
          </li>
          <li>
            <el-select
              v-model="submitAddress.city"
              placeholder="选择市"
              @change="changeCi($event)"
            >
              <el-option
                v-for="(item, index) in cityList"
                :key="index"
                :label="item.name"
                :value="item.id"
              >
              </el-option>
            </el-select>
          </li>
          <li>
            <el-select
              v-model="submitAddress.district"
              placeholder="选择地区"
              @change="changeXian($event)"
            >
              <el-option
                v-for="(item, index) in regionList"
                :key="index"
                :label="item.name"
                :value="item.id"
              >
              </el-option>
            </el-select>
          </li>
          <li></li>
          <li>
            <textarea
              v-model="submitAddress.address"
              placeholder="详细地址"
            ></textarea>
          </li>
          <li>
            <button
              type="button"
              class="c-btn"
              v-if="!isAddAddress"
              @click="hanldeSubmit(1)"
            >
              保存
            </button>
            <button
              type="button"
              class="c-btn"
              v-if="isAddAddress"
              @click="hanldeSubmit(2)"
            >
              添加
            </button>
            <button type="reset" class="c-btn" @click="hanldeCancel">
              取消
            </button>
          </li>
        </ul>
      </form>
    </div>

    <!-- 身份认证 -->
    <div id="c-certification">
      <h2 class="c-main-title">
        身份认证
        <span v-if="identity.examine != 0 && identity.examine != 1">(未认证)</span>
        <span v-if="identity.examine == 0">(审核中)</span>
        <span v-if="identity.examine == 1">(已认证)</span>
      </h2>
      <ul class="c-list">
        <li>
          <p class="c-title">姓名</p>
          <el-input placeholder="" v-model="identity.username"></el-input>
        </li>
        <li>
          <p class="c-title">工作邮箱</p>
          <el-input placeholder="" v-model="identity.email"></el-input>
        </li>
        <li>
          <p class="c-title">公司名称</p>
          <el-input placeholder="" v-model="identity.company"></el-input>
        </li>
        <li>
          <p class="c-title">身份证号码</p>
          <el-input placeholder="" v-model="identity.identity_id"></el-input>
        </li>
        <li>
          <p class="c-title">纳税识别号</p>
          <el-input placeholder="" v-model="identity.pay_taxes"></el-input>
        </li>
        <li>
          <p class="c-title">职位</p>
          <el-input placeholder="" v-model="identity.position"></el-input>
        </li>
        <li class="imgslist" v-if="identity.picture != ''">
          <p class="c-title">证件照</p>
          <div class="c-gt">
            <span
              class="imgs"
              v-for="(item, index) of identity.picture"
              :key="index"
            >
              <img :src="item" alt="" />
            </span>
          </div>
        </li>

        <li>
          <p class="c-title">证件上传</p>
          <div class="c-gt">
            <el-upload
              action="/api/index.php?m=user&c=Uploadify&a=imageUp"
              list-type="picture-card"
              :on-preview="handlePictureCardPreview"
              :on-remove="handleRemove"
              :before-upload="beforeAvatarUpload"
              :limit="2"
              :on-success="handleSuccess"
              :on-exceed="maxLimit"
              :file-list="identityImgUrl"
              ref="uploadfiles"
            >
              <div class="c-wrap">
                <img src="~images/c-pz-ico.png" alt="" />
                <p class="c-text3">点击上传证件图</p>
              </div>
            </el-upload>
            <el-dialog :visible.sync="dialogVisible">
              <img width="100%" :src="dialogImageUrl" alt="" />
            </el-dialog>
            <div class="c-text2">
              <p>1、为保证顺利审核请上传包含注册手机号、注册邮箱的名片或工牌</p>
              <p>2、支持jpg、jpeg、png、pdf等格式，最大不超过2M</p>
              <p>3、进行身份认证之后可以免费申请样品</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="c-btn-box">
        <p class="c-btn" @click="setCertification">保存</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Information",
  data() {
    return {
      userIonf: {
        email: "",
        head_pic: "",
        nickname: "",
        password: "",
        phone: "",
        username: "",
        users_id: "",
      },
      imageUrl: "", //头像
      isImg: false, //是否上传证件成功
      dialogImageUrl: "", //证件预览图
      dialogVisible: false, //是否显示预览图
      isPassword: false, //是否显示修改密码弹窗
      isPhone: false, //是否显示修改手机弹窗
      isEmail: false, //是否显示修改邮箱弹窗
      revisePasswordPhone: "", //修改密码的手机号
      revisePasswordPhoneCode: "", //修改密码的手机验证码
      revisePassword1: "", //修改的新密码
      revisePassword2: "", //确认修改的新密码
      revisePhone: "", //确认修改的手机号
      revisePhone2: "", //新的绑定手机号
      // revisePhone3: "", //确认新手机号
      revisePhoneCode: "", //确认修改手机号的验证码
      reviseEmail: "", //确认修改的邮箱
      reviseEmailCode: "", //确认修改邮箱的验证码
      isAddress: true, //是否显示收货地址管理
      isAddAddress: true, //是否是添加地址
      passwordtimer: null, //定时器的开关
      passwordshowloginCode: true, //获取成功验证码后倒计时跟获取不成功后没有倒计时按钮的开关
      passwordcount: "", //倒计时
      identity: {
        //身份认证
        name: "",
        email: "",
        company: "",
        idCard: "",
        identifier: "",
        job: "",
        imgUrl: [],
      },
      identityImgUrl: [],
      addressList: [], //地址
      submitAddress: {
        consignee: "",
        mobile: "",
        zipcode: "",
        label: "",
        province: "",
        city: "",
        district: "",
        address: "",
        is_default: "",
        province_id: "",
        city_id: "",
        district_id: "",
      },
      addressData: [], //全国地址
      provinceList: [], // 存放省数据集合
      cityList: [], // 存放市数据集合
      regionList: [], // 存放区数据集合
      streetList: [], //存放街道数据集合
      addr_id: "",
    };
  },
  components: {},
  created() {
    this.change();
    this.ChangeShen();
    this.getAddressList();
  },
  methods: {
    // 获取个人信息
    change() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_list")
        .then((res) => {
          console.log(res);
          this.userIonf = res.data.users;
          this.revisePhone = this.userIonf.phone;
          this.revisePasswordPhone = this.userIonf.phone;
          this.identity = res.data.identity;
          if (this.identity.picture == "") {
            this.identity.picture = [];
          } else {
            this.dialogImageUrl = this.identity.picture;
          }
          this.identityImgUrl = [];
          this.dialogImageUrl = "";
          this.$refs.uploadfiles.clearFiles();
          console.log(this.identityImgUrl);
        });
    },

    // 绑定城市
    //获取省份数据
    ChangeShen() {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region")
        .then((res) => {
          this.provinceList = res.data.res;
        });
    },

    // 省-市
    changePr(e) {
      this.submitAddress.province_id = e;
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region_data", {
          parent_id: e,
        })
        .then((res) => {
          this.cityList = res.data;
          let on = true;
          for (var i = 0; i < this.cityList.length; i++) {
            if (this.submitAddress.city_id == this.cityList[i].id) {
              this.submitAddress.city = this.cityList[i].name;
              on = false;
              break;
            } else {
              on = true;
            }
          }
          if (on) {
            this.submitAddress.city_id = this.cityList[0].id;
            this.submitAddress.city = this.cityList[0].name;
          }
          this.changeCi(this.submitAddress.city_id);
        });
    },
    // 市-县
    changeCi(e) {
      this.submitAddress.city_id = e;
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=get_region_data", {
          parent_id: e,
        })
        .then((res) => {
          this.regionList = res.data;
          let on2 = true;
          for (var i = 0; i < this.regionList.length; i++) {
            if (this.submitAddress.district_id == this.regionList[i].id) {
              this.submitAddress.district = this.regionList[i].name;
              on2 = false;
              break;
            } else {
              on2 = true;
            }
          }
          if (on2) {
            this.submitAddress.district = this.regionList[0].name;
            this.submitAddress.district_id = this.regionList[0].id;
          }
          this.changeXian(this.submitAddress.district_id);
        });
    },
    // 县
    changeXian(e) {
      this.submitAddress.district_id = e;
    },

    // 修改头像
    handleAvatarSuccess(res) {
      this.imageUrl = res.url;
      this.userIonf.head_pic = this.imageUrl;
    },
    // 删除证件图片
    handleRemove(file, fileList) {
      if (fileList.length == 0) {
        this.isImg = false;
      }
      this.identity.picture = fileList;
    },
    // 设置证件预览图片
    handlePictureCardPreview(file) {
      this.dialogImageUrl = file.url;
      this.dialogVisible = true;
    },
    // 上传验证
    beforeAvatarUpload(file) {
      const isJPG =
        file.type === "image/jpeg" ||
        file.type === "image/png" ||
        file.type === "image/jpg" ||
        file.type === "application/pdf";
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!isJPG) {
        this.$message({
          showClose: true,
          message: "请上传正确的图片格式!",
          type: "error",
        });
      }
      if (!isLt2M) {
        this.$message({
          showClose: true,
          message: "上传图片大小不能超过 2MB!",
          type: "error",
        });
      }
      return isJPG && isLt2M;
    },
    // 上传证件成功
    handleSuccess(file) {
      this.isImg = true;
      // this.identity.picture.push(file.url);
      this.identityImgUrl.push(file.url);
      console.log(this.identityImgUrl);
    },
    // 上传数量限制
    maxLimit() {
      this.$message({
        showClose: true,
        message: "上传图片数量不能超过2张!",
        type: "error",
      });
    },
    // 显示弹窗
    showPop(index) {
      // 修改密码
      if (index == 1) {
        this.isPassword = true;
      }
      // 修改手机
      if (index == 2) {
        this.isPhone = true;
      }
      // 修改邮箱
      if (index == 3) {
        this.isEmail = true;
      }
    },
    // 关闭弹窗
    closePop(index) {
      // 修改密码
      if (index == 1) {
        this.isPassword = false;
      }
      // 修改手机
      if (index == 2) {
        this.isPhone = false;
      }
      // 修改邮箱
      if (index == 3) {
        this.isEmail = false;
      }
    },
    // 设置用户信息

    // 设置密码
    getPasswordCode() {
      //获取验证码
      if (!this.revisePasswordPhone) {
        this.$message({
          showClose: true,
          message: "请输入正确的手机号",
          type: "warning",
        });
        return false;
      }

      this.$axios
        .post("/api/index.php?m=user&c=Users&a=code", {
          phone: this.revisePasswordPhone,
          model: "0",
          status: 4,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          
          // 当验证码发送成功，开始60秒倒计时
          this.$message.success("验证码发送成功！");
          const time = 60;
          if (!this.passwordtimer) {
            this.passwordshowloginCode = false;
            this.passwordcount = time;
            this.passwordtimer = setInterval(() => {
              if (this.passwordcount > 0 && this.passwordcount <= time) {
                this.passwordcount -= 1;
              } else {
                this.passwordshowloginCode = true;
                clearInterval(this.passwordtimer);
                this.passwordtimer = null;
              }
            }, 1000);
          }
        });
    },
    getPhoneCode() {
      //获取验证码
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=code", {
          phone: this.revisePhone2,
          model: "0",
          status: 6,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
        });
    },
    setPassword() {
      //密码正则
      let regPassword = new RegExp(
        "^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$)^.{8,16}$"
      );
      let sjh1 = /^((12|13|14|15|16|17|18|19)+\d{9})$/;
      if (this.revisePasswordPhone == "") {
        this.$message({
          showClose: true,
          message: "请输入验证的手机号!",
          type: "error",
        });
        return false;
      }
      if (!sjh1.test(this.revisePasswordPhone)) {
        this.$message({
          showClose: true,
          message: "请输入正确的手机号!",
          type: "error",
        });
        return false;
      }
      if (this.revisePasswordPhoneCode == "") {
        this.$message({
          showClose: true,
          message: "请输入验证码!",
          type: "error",
        });
        return false;
      }
      if (this.revisePassword1 == "") {
        this.$message({
          showClose: true,
          message: "请输入新密码!",
          type: "error",
        });
        return false;
      }
      if (!regPassword.test(this.revisePassword1)) {
        this.$message({
          showClose: true,
          message: "請輸入8-16位密碼（含字母/數字/符號2種及以上的組合）!",
          type: "error",
        });
        return false;
      }
      if (this.revisePassword2 == "") {
        this.$message({
          showClose: true,
          message: "确认的新密码不能为空!",
          type: "error",
        });
        return false;
      }
      if (this.revisePassword1 != this.revisePassword2) {
        this.$message({
          showClose: true,
          message: "2次输入的密码不一致!",
          type: "error",
        });
        return false;
      }
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_pass", {
          phone: this.revisePasswordPhone,
          code: this.revisePasswordPhoneCode,
          password: this.revisePassword1,
          password2: this.revisePassword2,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
          }
          this.$message.success(res.data.msg);
          this.change();
        });
      // this.$message({
      //   showClose: true,
      //   message: "修改成功!",
      //   type: "success",
      // });
      this.isPassword = false;
    },
    // 设置手机号
    setPhone() {
      let sjh1 = /^((12|13|14|15|16|17|18|19)+\d{9})$/;
      if (this.revisePhone == "") {
        this.$message({
          showClose: true,
          message: "请输入验证的手机号!",
          type: "error",
        });
        return false;
      }
      if (!sjh1.test(this.revisePhone)) {
        this.$message({
          showClose: true,
          message: "请输入正确的手机号!",
          type: "error",
        });
        return false;
      }
      if (this.revisePhone2 == "") {
        this.$message({
          showClose: true,
          message: "请输入绑定的新手机号!",
          type: "error",
        });
        return false;
      }
      if (!sjh1.test(this.revisePhone2)) {
        this.$message({
          showClose: true,
          message: "请输入正确的新手机号!",
          type: "error",
        });
        return false;
      }
      if (this.revisePhoneCode == "") {
        this.$message({
          showClose: true,
          message: "请输入验证码!",
          type: "error",
        });
        return false;
      }

      // if (this.revisePhone3 == "") {
      //   this.$message({
      //     showClose: true,
      //     message: "请输入确认的新手机号!",
      //     type: "error",
      //   });
      //   return false;
      // }
      // if (this.revisePhone2 != this.revisePhone3) {
      //   this.$message({
      //     showClose: true,
      //     message: "2次输入的的新手机号不一致!",
      //     type: "error",
      //   });
      //   return false;
      // }
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_phone", {
          phone: this.revisePhone2,
          code: this.revisePhoneCode,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.change();
        });
      this.isPhone = false;
    },
    // 设置邮箱
    getEmailCode() {
      //获取验证码
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=email_code", {
          email: this.reviseEmail,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
        });
    },
    setEmail() {
      // 邮箱正则
      let yx1 =
        /^([a-zA-Z0-9]+[_|.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
      if (this.reviseEmail == "") {
        this.$message({
          showClose: true,
          message: "请输入邮箱地址!",
          type: "error",
        });
        return false;
      }
      if (!yx1.test(this.reviseEmail)) {
        this.$message({
          showClose: true,
          message: "请输入正确的邮箱地址!",
          type: "error",
        });
        return false;
      }
      if (this.reviseEmailCode == "") {
        this.$message({
          showClose: true,
          message: "请输入验证码!",
          type: "error",
        });
        return false;
      }
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_email", {
          email: this.reviseEmail,
          email_code: this.reviseEmailCode,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.change();
        });
      this.isEmail = false;
    },
    // 身份验证
    setCertification() {
      console.log({
        username: this.identity.username,
        email: this.identity.email,
        company: this.identity.company,
        identity_id: this.identity.identity_id,
        pay_taxes: this.identity.pay_taxes,
        position: this.identity.position,
        picture: this.identity.picture,
      });
      // 邮箱正则
      let yx1 =
        /^([a-zA-Z0-9]+[_|.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
      let sfz1 = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;

      if (this.identity.username == "") {
        this.$message({
          showClose: true,
          message: "请输入您的姓名!",
          type: "error",
        });
        return false;
      }

      if (this.identity.email == "" || !yx1.test(this.identity.email)) {
        this.$message({
          showClose: true,
          message: "请输入正确的邮箱地址!",
          type: "error",
        });
        return false;
      }
      if (this.identity.company == "") {
        this.$message({
          showClose: true,
          message: "请输入您的公司名称!",
          type: "error",
        });
        return false;
      }
      if (
        this.identity.identity_id == "" ||
        !sfz1.test(this.identity.identity_id)
      ) {
        this.$message({
          showClose: true,
          message: "请输入正确的身份证号码!",
          type: "error",
        });
        return false;
      }
      if (this.identity.pay_taxes == "") {
        this.$message({
          showClose: true,
          message: "请输入纳税识别号!",
          type: "error",
        });
        return false;
      }
      if (this.identity.position == "") {
        this.$message({
          showClose: true,
          message: "请输入您的职位!",
          type: "error",
        });
        return false;
      }
      if (
        this.identity.picture.length == 0 &&
        this.identityImgUrl.length == 0
      ) {
        this.$message({
          showClose: true,
          message: "请上传证件图!",
          type: "error",
        });
        return false;
      }
      if (this.identityImgUrl.length != 0) {
        this.identity.picture = this.identityImgUrl;
      }
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_identity", {
          username: this.identity.username,
          email: this.identity.email,
          company: this.identity.company,
          identity_id: this.identity.identity_id,
          pay_taxes: this.identity.pay_taxes,
          position: this.identity.position,
          picture: this.identity.picture,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.change();
          // window.location.href = "";
        });
    },

    // 获取地址列表
    getAddressList() {
      this.$axios.post("/api/index.php?m=user&c=Shop&a=addlist").then((res) => {
        this.addressList = res.data.res;
      });
    },

    // 修改地址
    handleEdit(id) {
      this.$axios
        .get("/api/index.php?m=user&c=Shop&a=shop_edit_address&addr_id=" + id)
        .then((res) => {
          this.addr_id = res.data.res.field.addr_id,
          this.submitAddress.consignee = res.data.res.field.consignee,
          this.submitAddress.mobile = res.data.res.field.mobile,
          this.submitAddress.zipcode = res.data.res.field.zipcode,
          this.submitAddress.label = res.data.res.field.label,
          this.submitAddress.province_id = res.data.res.field.province,
          this.submitAddress.city_id = res.data.res.field.city,
          this.submitAddress.district_id = res.data.res.field.district,
          this.submitAddress.address = res.data.res.field.address,
          this.submitAddress.is_default = res.data.res.field.is_default;

          for (var i = 0; i < this.provinceList.length; i++) {
            if (this.submitAddress.province_id == this.provinceList[i].id) {
              this.submitAddress.province = this.provinceList[i].name;

              this.changePr(this.submitAddress.province_id);
            }
          }
        });

      this.isAddress = false;
      this.isAddAddress = false;
    },
    // 添加地址
    handleAdd() {
      (this.submitAddress = {
        id: "",
        default: "",
        name: "",
        tag: "",
        phone: "",
        postcode: "",
        province: "",
        city: "",
        region: "",
        street: "",
        address: "",
      }),
      this.isAddress = false;
      this.isAddAddress = true;
    },
    // 取消修改添加
    hanldeCancel() {
      this.isAddress = true;
    },
    // 提交添加新增地址
    hanldeSubmit(index) {
      if (index == 1) {
        //修改地址保存
        if (this.submitAddress.consignee == undefined) {
          this.$message.error("姓名不能为空");
          return false;
        }
        if (this.submitAddress.mobile == undefined) {
          this.$message.error("手机号码不能为空");
          return false;
        }
        const telz = /^[1][3,4,5,6,7,8][0-9]{9}$/;
        if (!telz.test(this.submitAddress.mobile)) {
          this.$message.error("请填写正确手机号码!");
          return false;
        }
        if (this.submitAddress.zipcode != "") {   //邮政编码判断
          let pattern = /^[0-9]{6}$/;
          if (!pattern.test(this.submitAddress.zipcode)) {
              this.$message({
                showClose: true,
                message: "请填写正确的邮政编码!",
                type: "error",
              });
              return false;
          }
        }
        if (this.submitAddress.province_id == undefined) {
          this.$message.error("请选择省份！");
          return false;
        }
        if (this.submitAddress.city_id == undefined) {
          this.$message.error("请选择城市！");
          return false;
        }
        if (this.submitAddress.district_id == undefined) {
          this.$message.error("请选择县城！");
          return false;
        }
        if (this.submitAddress.address == "") {
          this.$message.error("请填写详细地址！");
          return false;
        }
        this.$axios
          .post(
            "/api/index.php?m=user&c=Shop&a=shop_edit_address&addr_id=" +
              this.addr_id,
            {
              addr_id: this.addr_id,
              consignee: this.submitAddress.consignee,
              mobile: this.submitAddress.mobile,
              zipcode: this.submitAddress.zipcode,
              label: this.submitAddress.label,
              province: this.submitAddress.province_id,
              city: this.submitAddress.city_id,
              district: this.submitAddress.district_id,
              address: this.submitAddress.address,
              is_default: this.submitAddress.is_default,
            }
          )
          .then((res) => {
            if (res.data.status != 1) {
              this.$message.error(res.data.msg);
              return false;
            }
            this.$message.success(res.data.msg);
            this.getAddressList();
          });
      }
      if (index == 2) {
        console.log(this.submitAddress.consignee);
        //提交新增地址
        if (this.submitAddress.consignee == undefined) {
          this.$message.error("姓名不能为空");
          return false;
        }
        if (this.submitAddress.mobile == undefined) {
          this.$message.error("手机号码不能为空");
          return false;
        }
        const telz = /^[1][3,4,5,6,7,8][0-9]{9}$/;
        if (!telz.test(this.submitAddress.mobile)) {
          this.$message.error("请填写正确手机号码!");
          return false;
        }
        if (this.submitAddress.zipcode != "") {   //邮政编码判断
          let pattern = /^[0-9]{6}$/;
          if (!pattern.test(this.submitAddress.zipcode)) {
              this.$message({
                showClose: true,
                message: "请填写正确的邮政编码!",
                type: "error",
              });
              return false;
          }
        }
        if (this.submitAddress.province_id == undefined) {
          this.$message.error("请选择省份！");
          return false;
        }
        if (this.submitAddress.city_id == undefined) {
          this.$message.error("请选择城市！");
          return false;
        }
        if (this.submitAddress.district_id == undefined) {
          this.$message.error("请选择县城！");
          return false;
        }
        if (this.submitAddress.address == "") {
          this.$message.error("请填写详细地址！");
          return false;
        }
        this.$axios
          .post("/api/index.php?m=user&c=Shop&a=shop_add_address", {
            consignee: this.submitAddress.consignee, //收货人姓名
            mobile: this.submitAddress.mobile, //手机号
            province: this.submitAddress.province_id, //省份id
            city: this.submitAddress.city_id, //市id
            district: this.submitAddress.district_id, //县id
            address: this.submitAddress.address, //详细地址
            zipcode: this.submitAddress.zipcode, //邮编
            is_default: 0, //是否默认 0:否 1:是
            label: this.submitAddress.label, //标签
          })
          .then((res) => {
            if (res.data.status != 1) {
              this.$message.error(res.data.msg);
              return false;
            }
            this.$message.success(res.data.msg);
            this.getAddressList();
          });
      }
      this.isAddress = true;
    },

    // 设置默认地址
    handleDefault(id) {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=shop_set_default_address", {
          addr_id: id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getAddressList();
        });
    },

    // 删除地址
    handleDel(id) {
      this.$axios
        .post("/api/index.php?m=user&c=Shop&a=shop_del_address", {
          addr_id: id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getAddressList();
        });
    },

    //提交个人信息
    setInformation() {
      if (this.userIonf.nickname == "") {
        this.$message.error("请输入您的用户昵称");
        return false;
      }
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=edit_users", {
          users_id: this.userIonf.users_id,
          head_pic: this.userIonf.head_pic, //用户头像
          nickname: this.userIonf.nickname, //用户昵称
          userna: this.userIonf.username, //真实姓名
          status: 2,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.change();
          this.$emit("getInfo");
        });
    },
  },
};
</script>
<style scoped lang="scss">
// 公共标题
.c-main-title {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 22px;
}
// 公共按钮
.c-btn-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  .c-btn {
    width: 120px;
    line-height: 38px;
    border: 1px solid #208fb9;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    &:last-child {
      margin-left: 20px;
      border-color: #208fb9;
      background: #208fb9;
      color: #fff;
    }
  }
}
// 个人信息
#c-information {
  margin-bottom: 20px;
  padding: 40px;
  background: #fff;
  .c-list {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      display: flex;
      align-items: flex-start;
      font-size: 14px;
      margin-bottom: 20px;
      &:nth-child(1) {
        width: 100%;
        align-items: center;
      }
      .c-id {
        width: 200px;
        line-height: 40px;
      }
      .c-title {
        padding-right: 20px;
        flex-shrink: 0;
        width: 80px;
        line-height: 40px;
        text-align: right;
      }
      .c-revise {
        padding-left: 20px;
        flex-shrink: 0;
        width: 80px;
        line-height: 40px;
        color: #208fb9;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
#c-information .c-list li ::v-deep .el-input__inner {
  width: 360px;
  @media (max-width: 1580px) {
    width: 260px;
  }
}
#c-information .c-list li:nth-child(odd) ::v-deep .el-input__inner {
  width: 260px;
}
::v-deep .avatar-uploader .el-upload {
  cursor: pointer;
  position: relative;
  width: 90px;
  height: 90px;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  background: #208fb9;
}
::v-deep .avatar-uploader .el-upload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
::v-deep .avatar-uploader .el-upload .c-ico {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(~images/c-pz-ico2.png) no-repeat center / auto 20px;
  opacity: .5;
}

// 身份认证
#c-certification {
  margin-top: 20px;
  padding: 40px;
  background: #fff;
  .c-text2 {
    margin: 20px 0 30px;
    color: #bbb;
    line-height: 24px;
  }
  .c-wrap {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1;
    img {
      margin-bottom: 15px;
      height: 30px;
    }
    .c-text3 {
      color: #bbbbbb;
    }
  }
  .c-list {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: -20px;
    li {
      display: flex;
      align-items: flex-start;
      font-size: 14px;
      margin-bottom: 20px;
      &.imgslist {
        width: 100%;
        .c-gt {
          display: flex;
        }
      }
      .c-title {
        padding-right: 20px;
        flex-shrink: 0;
        width: 100px;
        line-height: 40px;
        text-align: right;
      }
      .c-gt {
        .imgs {
          width: 215px;
          height: 120px;
          display: flex;
          margin-right: 10px;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
      .c-revise {
        padding-left: 20px;
        flex-shrink: 0;
        width: 80px;
        color: #208fb9;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
#c-certification .c-list li ::v-deep .el-input__inner {
  width: 360px;
  @media (max-width: 1580px) {
    width: 260px;
  }
}
#c-certification ::v-deep .el-upload {
  position: relative;
  border-radius: 0;
}
::v-deep .el-input__inner {
  width: 100%;
  border: 1px solid #e5e5e5;
  &:hover {
    border-color: #c0c4cc;
  }
  &:focus {
    border-color: #208fb9;
  }
}

// 公共模块
.c-common-pop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  .c-main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 440px;
    padding: 40px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    font-size: 14px;
    .c-close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 20px;
      height: 20px;
      background: url(~images/c-close2.png) no-repeat center / 15px;
      cursor: pointer;
    }
    .c-title {
      margin-bottom: 30px;
      font-weight: normal;
      font-size: 22px;
    }
    .c-list {
      li {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        &:last-child {
          margin-bottom: 0;
        }
        .c-send {
          margin-left: 20px;
          flex-shrink: 0;
          width: 100px;
          line-height: 38px;
          border: 1px solid #e5e5e5;
          text-align: center;
          cursor: pointer;
        }
      }
    }
    .c-password1 {
      background: url(~images/c-password-ico.png) no-repeat center / 14px auto;
    }
    .c-password2 {
      background: url(~images/c-password-ico2.png) no-repeat center / 18px auto;
    }
    .c-phone {
      background: url(~images/c-phone-ico.png) no-repeat center / 14px auto;
    }
    .c-code {
      background: url(~images/c-code-ico.png) no-repeat center / 18px auto;
    }
    .c-email {
      background: url(~images/c-msg-ico.png) no-repeat center / 18px auto;
    }
    .c-btn {
      width: 100%;
      color: #fff;
      line-height: 40px;
      text-align: center;
      background: #208fb9;
      cursor: pointer;
    }
  }
}
.c-common-pop ::v-deep .el-input__prefix {
  left: 0;
}
.c-common-pop ::v-deep .el-input--prefix .el-input__inner {
  padding-left: 50px;
}
.c-common-pop ::v-deep .el-input__icon {
  display: block;
  width: 50px;
  height: 40px;
}

// 地址管理
#c-address {
  padding: 30px;
  background: #fff;
  .c-title {
    font-size: 22px;
  }
  .c-list {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -10px;
    & > li {
      width: 33.333333%;
      padding: 20px 10px 0;
      @media (max-width: 1580px) {
        width: 50%;
      }
      .c-wrap {
        position: relative;
        border: 1px solid #e5e5e5;
        padding: 30px;
        &::before {
          opacity: 0;
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 0;
          height: 0;
          border-bottom: 6px solid #208fb9;
          border-left: 6px solid transparent;
        }
        .c-top2 {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          line-height: 26px;
          .c-name {
            max-width: 50%;
            flex-shrink: 0;
            font-weight: normal;
            font-size: 18px;
          }
          .c-list2 {
            display: flex;
            align-content: flex-start;
            max-width: 50%;
            margin: 0 -2px -4px;
            li {
              padding: 0 2px 4px;
              p {
                padding: 0 10px;
                font-size: 14px;
                line-height: 24px;
                border: 1px solid #208fb9;
                border-radius: 2px;
                color: #208fb9;
              }
            }
          }
        }
        .c-center2 {
          .c-text {
            padding-right: 35px;
            font-size: 14px;
            color: #666;
            height: 90px;
            line-height: 1.5;
            p {
              display: flex;
              margin-top: 10px;
              span {
                &:first-child {
                  flex-shrink: 0;
                }
                &:last-child {
                  width: 100%;
                }
              }
            }
          }
        }
        .c-bottom2 {
          .c-list2 {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            margin-top: 10px;
            li {
              padding-left: 15px;
              font-size: 14px;
              color: #666;
              text-decoration: underline;
              &:first-child {
                color: #208fb9;
              }
              &.on {
                &:first-child {
                  color: #666;
                }
              }
              p {
                cursor: pointer;
              }
            }
          }
        }
      }
      &.on {
        .c-wrap {
          border-color: #208fb9;
          &::before {
            opacity: 1;
          }
        }
      }
      &:last-child {
        .c-wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          height: 212px;
          font-size: 14px;
          cursor: pointer;
          img {
            margin-bottom: 15px;
            width: 40px;
          }
          .c-text {
            color: #999;
          }
        }
      }
    }
  }
}
</style>
