<template>
  <!-- 退换货申请 -->
  <div id="c-apply">
    <div class="c-title-box">
      <div class="c-lt">
        <p class="c-title">
          <strong>处理订单：</strong>{{ this.$route.query.unified_number }}
        </p>
      </div>
      <div class="c-gt">
        <router-link
          class="c-btn2"
          :to="{
            path: '/Personal/Order/OrderDetails',
            query: { id: this.$route.query.id },
          }"
          >返回订单详情</router-link
        >
      </div>
    </div>
    <router-view />
  </div>
</template>
<script>
export default {
  name: "ProductReturn",
  data() {
    return {};
  },
  components: {},
  methods: {},
};
</script>
<style scoped lang="scss">
// 退换货申请
#c-apply {
  padding: 40px;
  min-height: 912px;
  background-color: #fff;
  .c-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background: #f5f5f5;
    .c-title {
      color: #666;
      strong {
        color: #333;
      }
    }
    .c-gt {
      display: flex;
      align-items: center;
      font-size: 14px;
      .c-text {
        color: #666;
      }
      .c-btn2 {
        margin-left: 10px;
        width: 120px;
        height: 32px;
        border: 1px solid #666666;
        border-radius: 16px;
        line-height: 30px;
        text-align: center;
        color: #666;
        cursor: pointer;
        &.c-dt {
          color: #fff;
          background: #208fb9;
          border-color: #208fb9;
        }
      }
    }
  }
}
</style>
