<template>
  <!-- 我的样品 -->
  <div id="c-sample">
    <div class="c-top">
      <div class="c-title-box">
        <h2 class="c-title">样品项目信息</h2>
        <router-link to="/Personal/Sample">返回样品列表</router-link>
      </div>
      <div class="c-text">
        <p>研发项目名称：{{ sampleInfo.company }}</p>
        <p>项目信息：{{ sampleInfo.information }}</p>
      </div>
    </div>
    <div class="c-boxs">
      <div class="c-title-box">
        <div class="c-lt">
          <p class="c-title"><strong>配送信息：</strong>快递配送</p>
        </div>
        <div class="c-gt">
          <p class="c-text" v-if="sampleInfo.express_order">
            快递单号：{{ sampleInfo.express_order }}
          </p>
        </div>
      </div>
      <div class="c-text-box">
        <p>
          收货地址：{{ sampleInfo.province }}{{ sampleInfo.city
          }}{{ sampleInfo.district }}{{ sampleInfo.address_name }}
        </p>
        <p>收货人：{{ sampleInfo.username }}</p>
        <p>手机：{{ sampleInfo.phone }}</p>
      </div>
    </div>
    <div class="c-bottom">
      <div class="c-title-box">
        <h2 class="c-title">状态</h2>
        <router-link to="/Personal/Sample"></router-link>
      </div>
      <ul class="c-list">
        <li>
          <p class="c-process">2</p>
          <p class="c-title">审批</p>
          <div class="c-text">
            <p v-if="sampleInfo.examine_time != 0">
              审批时间：{{
                moment(sampleInfo.examine_time * 1000).format(
                  "YYYY.MM.DD h:mm:ss"
                )
              }}
            </p>
            <p>
              <span>{{ sampleInfo.statuse }}</span>
            </p>
            <p>
              <span
                class="receipt"
                @click="receiptProduct(sampleInfo.id)"
                v-if="sampleInfo.sample_status == 2"
                >确认收货</span
              >
            </p>
          </div>
          <table>
            <thead>
              <tr>
                <th>型号</th>
                <th>厂牌</th>
                <th>申请数量</th>
                <th>状态</th>
                <th>确认审批数量</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ sampleInfo.product_name }}</td>
                <td>{{ sampleInfo.brand_name }}</td>
                <td>{{ sampleInfo.num }}</td>
                <td>
                  <span>{{ sampleInfo.statuse }}</span>
                </td>
                <td>{{ sampleInfo.num }}</td>
              </tr>
            </tbody>
          </table>
        </li>
        <li>
          <p class="c-process el-icon-check"></p>
          <p class="c-title">发起申请</p>
          <div class="c-text">
            <p>
              申请时间：{{
                moment(sampleInfo.add_time * 1000).format("YYYY.MM.DD h:mm:ss")
              }}
            </p>
            <p>单号：{{ sampleInfo.numbers }}</p>
          </div>
          <table>
            <thead>
              <tr>
                <th>型号</th>
                <th>厂牌</th>
                <th>申请数量</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ sampleInfo.product_name }}</td>
                <td>{{ sampleInfo.brand_name }}</td>
                <td>{{ sampleInfo.num }}</td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import moment from "moment";
export default {
  name: "SampleDetails",
  data() {
    return {
      listNumbers: "", //单号
      listTitle: "", //型号
      sampleInfo: [], //详情
    };
  },
  components: {},
  mounted() {
    this.listNumbers = this.$route.query.numbers;
    this.listTitle = this.$route.query.title;
    this.getSampleInfo();
  },
  methods: {
    moment,
    // 获取样品详情
    getSampleInfo() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_view_sample", {
          id: this.$route.query.id,
        })
        .then((res) => {
          console.log(res);
          this.sampleInfo = res.data.res;
        });
    },
    // 确认收货
    receiptProduct(id) {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=order_mark_status", {
          id: id,
        })
        .then((res) => {
          console.log(res);
          this.getSampleInfo();
        });
    },
  },
};
</script>
<style scoped lang="scss">
// 我的样品
#c-sample {
  min-height: 912px;
  padding: 40px;
  background-color: #fff;
  .c-top {
    margin-bottom: 20px;
    .c-text {
      padding: 15px 20px;
      color: #666;
      line-height: 1.8;
    }
  }
  .c-boxs {
    margin-bottom: 20px;
    .c-title-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      background: #f5f5f5;
      .c-title {
        color: #666;
        strong {
          color: #333;
        }
      }
      .c-gt {
        display: flex;
        align-items: center;
        font-size: 14px;
        .c-text {
          color: #666;
        }
        .c-btn1 {
          color: #208fb9;
          text-decoration: underline;
        }
        .c-btn2 {
          margin-left: 10px;
          width: 100px;
          height: 32px;
          border: 1px solid #666666;
          border-radius: 16px;
          line-height: 30px;
          text-align: center;
          color: #666;
          cursor: pointer;
          &.c-dt {
            color: #fff;
            background: #208fb9;
            border-color: #208fb9;
          }
        }
      }
    }
    .c-text-box {
      padding: 15px 20px 0;
      color: #666;
      font-size: 14px;
      line-height: 1.8;
    }
  }
  .c-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    line-height: 60px;
    background: #f5f5f5;
    .c-title {
      font-weight: bold;
      font-size: 16px;
    }
    a {
      color: #208fb9;
    }
  }
  .c-list {
    position: relative;
    padding-left: 20px;
    &::before {
      content: "";
      position: absolute;
      top: 30px;
      left: 28px;
      height: calc(100% - 30px);
      border-left: 1px solid #208fb9;
    }
    li {
      position: relative;
      padding: 20px 20px 20px 42px;
      &:nth-child(1) {
        .c-process {
          color: #fff;
          background: #208fb9;
        }
        .c-title {
          color: #208fb9;
        }
        .c-text {
          p:last-child {
            color: #208fb9;
            margin-right: 0;
          }
        }
        .receipt {
          cursor: pointer;
          border: 1px solid #208fb9;
          padding: 5px 10px;
          border-radius: 3px;
          transition: all ease 0.3s;
          &:hover {
            background: #208fb9;
            color: #fff;
          }
        }
        table {
          width: 100%;
        }
      }
      &:last-child {
        padding-bottom: 0;
      }
      .c-process {
        position: absolute;
        top: 25px;
        left: 0;
        width: 16px;
        height: 16px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #208fb9;
        background: #ffffff;
        border: 2px solid #208fb9;
        border-radius: 50%;
      }
      .c-title {
        line-height: 26px;
      }
      .c-text {
        display: flex;
        align-items: flex-start;
        padding: 10px 0 15px;
        font-size: 14px;
        color: #666;
        p {
          margin-right: 40px;
        }
      }
      table {
        width: 60%;
        border-collapse: collapse;
        th,
        td {
          width: 20%;
          font-weight: normal;
          text-align: center;
          padding: 15px 20px;
          border: 1px solid #dfdfdf;
        }
      }
    }
  }
}
</style>
