<template>
  <!-- 我的样品 -->
  <router-view />
</template>
<script>
export default {
  name: "Sample",
  data() {
    return {};
  },
  components: {},
  methods: {},
};
</script>
<style scoped lang="scss"></style>
