<template>
  <!-- 会员 -->
  <div id="c-vip">
    <div class="c-top">
      <div class="c-lt">
        <div class="c-photo">
          <img :src="userIonf.head_pic" alt="" />
        </div>
        <div class="c-text-box">
          <h2 class="c-name">{{ userIonf.nickname }}</h2>
          <p class="c-text">
            您好，您已经是我们的
            <span class="color1" v-if="level_name == '会员'">{{
              level_name
            }}</span>
            <span class="color2" v-if="level_name == '黄金会员'">{{
              level_name
            }}</span>
            <span class="color3" v-if="level_name == '铂金会员'">{{
              level_name
            }}</span>
            <span class="color4" v-if="level_name == '钻石会员'">{{
              level_name
            }}</span>
          </p>
        </div>
      </div>
      <div class="c-gt">
        <div class="c-img">
          <img
            v-if="level_name == '会员'"
            src="~images/c-vip-ico1-2.png"
            alt=""
          />
          <img
            v-if="level_name == '黄金会员'"
            src="~images/c-vip-ico2-2.png"
            alt=""
          />
          <img
            v-if="level_name == '铂金会员'"
            src="~images/c-vip-ico3-2.png"
            alt=""
          />
          <img
            v-if="level_name == '钻石会员'"
            src="~images/c-vip-ico4-2.png"
            alt=""
          />
        </div>
        <div class="c-text-box">
          <p class="c-num">
            {{ total_amount }}
          </p>
          <p class="c-text">当前消费值</p>
        </div>
      </div>
    </div>
    <div class="c-center">
      <ul class="c-list">
        <li>
          <img src="~images/c-vip-ico1-2.png" alt="" />
          <p class="c-title">会员</p>
          <div class="c-dot"></div>
        </li>
        <li>
          <img src="~images/c-vip-ico2-2.png" alt="" />
          <p class="c-title">黄金会员</p>
          <div class="c-dot"></div>
        </li>
        <li>
          <img src="~images/c-vip-ico3-2.png" alt="" />
          <p class="c-title">铂金会员</p>
          <div class="c-dot"></div>
        </li>
        <li>
          <img src="~images/c-vip-ico4-2.png" alt="" />
          <p class="c-title">钻石会员</p>
          <div class="c-dot"></div>
        </li>
      </ul>
      <div class="c-line-box">
        <div
          class="c-line color1"
          v-if="level_name == '会员'"
          :style="{ width: lineWidth + '%' }"
        ></div>
        <div
          class="c-line color2"
          v-if="level_name == '黄金会员'"
          :style="{ width: lineWidth + '%' }"
        ></div>
        <div
          class="c-line color3"
          v-if="level_name == '铂金会员'"
          :style="{ width: lineWidth + '%' }"
        ></div>
        <div
          class="c-line color4"
          v-if="level_name == '钻石会员'"
          :style="{ width: lineWidth + '%' }"
        ></div>
      </div>
    </div>
    <div class="c-bottom">
      <div class="c-top2">
        <div class="c-lt">
          <span class="c-title">我的会员权益</span>
          <span class="c-text">{{ this.AllPrivilege.length }} / 10</span>
        </div>
        <div class="c-gt">
          <p class="c-text">
            再获得<span>{{ AllLv[level_id].level_value - total_amount }}</span
            >消费值即可升至下一级
          </p>
        </div>
      </div>
      <div class="c-bottom2">
        <ul class="c-list">
          <li class="get" v-for="(item, index) of AllPrivilege" :key="index">
            <img :src="item.litpic" alt="" />
            <p class="c-title">{{ item.title }}</p>
            <p class="c-text">{{ item.explain }}</p>
          </li>

          <li v-for="(item, index) of interest" :key="index">
            <img src="~images/c-hytq-ico5.png" alt="" />
            <p class="c-title">更多特权</p>
            <p class="c-text">待解锁</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Vip",
  data() {
    return {
      userIonf: {
        email: "",
        head_pic: "",
        nickname: "",
        password: "",
        phone: "",
        username: "",
        users_id: "",
      },
      level_name: "", //会员等级
      level_id: 1, //会员等级id
      total_amount: "", //用户消费值
      AllLv: [], //全会员等级
      AllPrivilege: [], //会员权益
      interest: "0", //会员权益差
      lineWidth: 0, //成长值长度
      // consumption:0,
    };
  },
  components: {},
  created() {
    this.change();
    this.getVipLv();
    this.getAllLv();
    this.getVipPrivilege();
  },
  methods: {
    // 获取个人信息
    change() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_list")
        .then((res) => {
          this.userIonf = res.data.users;
        });
    },
    // 获取会员等级
    getVipLv() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=interests")
        .then((res) => {
          console.log(res);
          this.level_name = res.data.res.level_name;
          this.total_amount = res.data.res.total_amount;
        });
    },
    getAllLv() {
      this.$axios.post("/api/index.php?m=user&c=Users&a=level").then((res) => {
        console.log(res);
        this.AllLv = res.data.res;
        console.log(this.AllLv);

        // 设置成长值长度
        let width1 = 100 / this.AllLv.length / 2; //初始长度
        let width2 = 0; //当前等级的到初始长度的长度
        let width3 = 0; //当前消费值在当前等级到下个等级的长度
        this.AllLv.forEach((item, index) => {
          if (this.level_name == item.level_name) {
            this.level_id = Number(item.level_id);
          }
          if (this.total_amount >= item.level_value) {
            console.log(21);
            width2 = width1 + (index * 100) / this.AllLv.length;
            if (index == this.AllLv.length - 1) {
              width3 = width1;
            } else {
              width3 =
                ((this.total_amount - this.AllLv[index].level_value) /
                  (this.AllLv[index + 1].level_value -
                    this.AllLv[index].level_value)) *
                (100 / this.AllLv.length);
            }
            this.lineWidth = width3 + width2;
          }else{
            this.lineWidth = width1;
            console.log(width1);
          }
        });
      });
      
      
    },
    // 获取会员权益
    getVipPrivilege() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_interests")
        .then((res) => {
          console.log(res);
          this.AllPrivilege = res.data.res;
          this.interest = 10 - this.AllPrivilege.length;
        });
    },
  },
};
</script>
<style scoped lang="scss">
// 会员
#c-vip {
  padding: 40px;
  min-height: 912px;
  background: #fff;
  .c-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid #f5f5f5;
    .c-lt {
      display: flex;
      align-items: center;
      .c-photo {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .c-text-box {
        padding-left: 20px;
        .c-name {
          font-size: 18px;
        }
        .c-text {
          font-size: 14px;
          color: #999;
          span {
            color: #6caaf2;
            &.color1 {
              color: #6caaf2;
            }
            &.color2 {
              color: #f7bc40;
            }
            &.color3 {
              color: #fc7c58;
            }
            &.color4 {
              color: #ec4b52;
            }
          }
        }
      }
    }
    .c-gt {
      display: flex;
      align-items: center;
      .c-img {
        width: 60px;
        img {
          width: 100%;
        }
      }
      .c-text-box {
        padding-left: 20px;
        .c-num {
          margin-bottom: 5px;
          font-size: 28px;
          line-height: 1;
          color: #6caaf2;
        }
        .c-text {
          font-size: 14px;
          line-height: 1;
          color: #666;
        }
      }
    }
  }
  .c-center {
    padding: 40px 0;
    .c-list {
      position: relative;
      z-index: 10;
      display: flex;
      align-items: flex-start;
      li {
        width: 25%;
        text-align: center;
        color: #666;
        img {
          height: 28px;
        }
        .c-title {
          padding: 10px 0;
        }
        .c-dot {
          margin: 0 auto;
          width: 16px;
          height: 16px;
          background: #ffffff;
          border: 2px solid #e5e5e5;
          border-radius: 50%;
        }
      }
    }
    .c-line-box {
      position: relative;
      top: -10px;
      z-index: 1;
      height: 4px;
      background: #e5e5e5;
      .c-line {
        width: 50%;
        height: 100%;
        background: #6caaf2;
        &.color1 {
          background: #6caaf2;
        }
        &.color2 {
          background: #f7bc40;
        }
        &.color3 {
          background: #fc7c58;
        }
        &.color4 {
          background: #ec4b52;
        }
      }
    }
  }
  .c-bottom {
    padding: 30px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    .c-top2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 1px solid #e5e5e5;
      .c-lt {
        .c-text {
          margin-left: 5px;
          font-size: 14px;
          color: #999;
        }
      }
      .c-gt {
        font-size: 14px;
        color: #999;
        span {
          color: #6caaf2;
        }
      }
    }
    .c-bottom2 {
      .c-list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-bottom: 20px;
        li {
          margin-top: 40px;
          width: 20%;
          text-align: center;
          img {
            height: 40px;
          }
          .c-title {
            padding: 10px 0;
            color: #bbb;
          }
          .c-text {
            display: inline-block;
            padding: 0 5px;
            line-height: 18px;
            border: 1px solid #bbb;
            border-radius: 3px;
            font-size: 14px;
            color: #bbb;
          }
          &.get {
            .c-title {
              color: #333;
            }
            .c-text {
              color: #f7bc40;
              border: 1px solid #f7bc40;
            }
          }
        }
      }
    }
  }
}
</style>
