<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <!-- 私信 -->
    <div class="PrivateLetters">
      <div class="container">
        <div class="menu">
          <div class="search">
            <input
              type="text"
              name=""
              id="searchVal"
              class="searchVal"
              placeholder="请搜索联系人"
            />
            <input type="button" value="" class="button" />
          </div>
          <div class="list">
            <ul>
              <li class="active">
                <div class="avatar">
                  <img src="~images/avatar-img5.png" alt="" />
                </div>
                <div class="txtBox">
                  <div class="user">感算小管家</div>
                  <div class="news">常见使用问题可进入...</div>
                </div>
                <div class="time">13:46</div>
              </li>
              <li>
                <div class="avatar">
                  <img src="~images/avatar-img4.png" alt="" /> <span>1</span>
                </div>
                <div class="txtBox">
                  <div class="user">吃瓜群众</div>
                  <div class="news">[吃瓜]</div>
                </div>
                <div class="time">11:46</div>
              </li>
              <li>
                <div class="avatar">
                  <img src="~images/avatar-img6.png" alt="" />
                </div>
                <div class="txtBox">
                  <div class="user">创作者中心</div>
                  <div class="news">欢迎加入知乎创作者阵营！</div>
                </div>
                <div class="time">11:46</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="content"></div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
export default {
  name: "PrivateLetters",
  data() {
    return {
      path: "ws://localhost:9596",
      // socket:""
    };
  },
  components: {
    //定义组件
    CommunityHeader,
    webFooter,
  },
  mounted() {
    // 初始化
    this.init();
  },
  methods: {
    init: function () {
      if (typeof WebSocket === "undefined") {
        alert("您的浏览器不支持socket");
      } else {
        // 实例化socket
        this.socket = new WebSocket(this.path);
        // 监听socket连接
        this.socket.onopen = this.open;
        // 监听socket错误信息
        this.socket.onerror = this.error;
        // 监听socket消息
        this.socket.onmessage = this.getMessage;
      }
    },
    open: function () {
      console.log("socket连接成功");
    },
    error: function () {
      console.log("连接错误");
    },
    getMessage: function (msg) {
      console.log(msg.data);
    },
    send: function () {
      // this.socket.send(params)
    },
    close: function () {
      console.log("socket已经关闭");
    },
  },
  destroyed() {
    // 销毁监听
    this.socket.onclose = this.close;
  },
};
</script>
<style lang="scss" scoped>
.PrivateLetters {
  width: 100%;
  padding: 70px 0;
  background: #f5f5f5;
  min-height: 65vh;
  .container {
    display: flex;
    justify-content: space-between;
    .menu {
      width: 26.8%;
      background: #fff;
      .search {
        width: 100%;
        padding: 30px 30px 20px;
        display: flex;
        position: relative;
        .searchVal {
          width: 100%;
          height: 50px;
          background: #eee;
          border-radius: 3px;
          padding-left: 20px;
          font-size: 14px;
          color: #333;
          &::placeholder {
            color: #999;
          }
        }
        .button {
          width: 56px;
          height: 50px;
          position: absolute;
          right: 30px;
          top: 30px;
          z-index: 2;
          background: #eee url(~images/search.png) center center no-repeat;
          cursor: pointer;
        }
      }
      .list {
        width: 100%;
        ul {
          li {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 15px 40px;
            cursor: context-menu;
            .avatar {
              width: 50px;
              height: 50px;
              position: relative;
              flex-shrink: 0;
              img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
              }
              span {
                width: 16px;
                height: 16px;
                font-size: 12px;
                background: #f5002f;
                border-radius: 100%;
                position: absolute;
                top: -1px;
                right: -2px;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
              }
            }
            .txtBox {
              width: 100%;
              margin: 0 20px;
              .user {
                font-size: 16px;
                color: #333;
                line-height: 20px;
              }
              .news {
                font-size: 13px;
                color: #999;
                line-height: 20px;
              }
            }
            .time {
              flex-shrink: 0;
              font-size: 14px;
              color: #999;
            }
            &:hover,
            &.active {
              background: #eee;
            }
          }
        }
      }
    }
    .content {
      width: 71.6%;
      background: #fff;
    }
  }
}
</style>
