<template>
  <div>
    <CommunityHeader ref="newsNums"></CommunityHeader>

    <!-- 私信 -->
    <div class="PrivateLetters">
      <div class="container">
        <div class="menu">
          <div class="search">
            <input
              type="text"
              v-model="searchName"
              class="searchVal"
              @keypress.prevent.13="transferParameters"
              placeholder="请搜索联系人"
            />
            <input type="button" @click="getSearchEnd" class="button" />
          </div>
          <div class="list">
            <ul>
              <li
                :class="{ active: Number(item.status) == 1 }"
                v-for="(item, index) of MsgList"
                :key="index"
                @click="clickMsg(item.users_id)"
              >
                <div class="avatar">
                  <img :src="item.head_pic" alt="" />
                </div>
                <div class="txtBox">
                  <div class="user">{{ item.nickname }}</div>
                  <div class="news" v-html="item.title"></div>
                </div>
                <div class="time">
                  {{ moment(item.add_time * 1000).format("YYYY.MM.DD") }}
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="content">
          <div class="ask-title">{{ talkUsers }}</div>
          <div class="msgList">
            <ul>
              <li v-for="(item, index) of MsgContent" :key="index">
                <div class="msgbox" :class="{ users: Number(item.zj) == 0 }">
                  <div class="time">{{ item.add_time | dateDiff }}</div>
                  <div class="avatar">
                    <img :src="item.head_pic" alt="" v-if="item.zj != 0" />
                    <img :src="item.head_pic" alt="" v-else />
                  </div>
                  <div class="msg-content" v-html="item.content">
                    <!-- {{item.content}} -->
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="send-msg">
            <!-- 富文本 -->
            <div id="editor" @keypress.prevent.13="replyMsg"></div>
            <div class="checbox">
              <span>按下Enter发送消息</span
              ><button class="send" @click="replyMsg()">发送</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
import E from "wangeditor";
import moment from "moment";
export default {
  name: "PrivateLetters",
  data() {
    return {
      websock: null,
      username: "", //用户名
      head_pic: "", //头像
      users_id: "", //用户id
      MsgList: [],
      talkUsers: "",
      MsgContent: [],
      checked: false,
      private_id: "",
      listIndex: 0,
      searchName: "",
    };
  },
  components: {
    //定义组件
    CommunityHeader,
    webFooter,
  },
  created() {
    this.private_id = this.$route.query.users_id;
  },
  mounted() {
    //   wangediter
    this.editor = new E("#editor");
    //  上传图片到服务器，base64形式
    this.editor.config.uploadImgShowBase64 = true;
    //  配置 server 接口地址
    this.editor.config.uploadImgServer =
      "/api/index.php?m=user&c=Uploadify&a=imageUp2";
    this.editor.config.uploadFileName = "file";
    // 配置菜单栏，删减菜单，调整顺序
    this.editor.config.menus = ["emoticon", "image"];

    //  隐藏网络图片
    this.editor.config.showLinkImg = false;
    //  隐藏全屏按钮
    this.editor.config.showFullScreen = false;
    //  创建富文本编辑器
    this.editor.create();
    //  富文本内容
    this.editor.txt.html();

    this.getUsersInfo();
    this.onceGetMsgList();
    this.timer = window.setInterval(() => {
      setTimeout(() => {
        this.onceGetMsgList();
      }, 0);
    }, 10000);
  },
  updated() {
    this.scrollToBottom();
  },
  destroyed() {
    window.clearInterval(this.timer);
  },
  methods: {
    moment,

    //获取用户信息
    getUsersInfo() {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=users_info")
        .then((res) => {
          this.username = res.data.res.nickname;
          this.head_pic = res.data.res.head_pic;
          this.users_id = res.data.res.users_id;
        });
    },

    getSearchEnd() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=search_letter", {
          nickname: this.searchName,
        })
        .then((res) => {
          console.log(res);
          if (res.data.res != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
        });
    },

    //消息
    onceGetMsgList() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=list_letter", {
          users_id: this.private_id,
        })
        .then((res) => {
          console.log(res);
          this.listIndex = this.private_id;
          this.MsgList = res.data.res.list;
          // this.MsgList[listIndex].status = 1;

          this.MsgList.forEach((item) => {
            if (item.users_id == this.listIndex) {
              item.status = 1;
              this.private_id = item.users_id;

              this.$axios
                .post("/api/index.php?m=user&c=Users&a=private_list", {
                  users_id: this.listIndex,
                })
                .then((res) => {
                  console.log(res);
                  this.talkUsers = item.nickname;
                  this.MsgContent = res.data.res;
                  this.private_id = item.users_id;
                });
            } else {
              item.status = 0;
            }
          });

          this.$refs.newsNums.getNewsNum();
        });
    },

    // 切换聊天对象
    clickMsg(index1) {
      console.log(index1);
      // this.getMsgList();
      this.MsgList.forEach((item) => {
        if (item.users_id == index1) {
          item.status = 1;
          this.private_id = item.users_id;
          this.listIndex = index1;
          this.$axios
            .post("/api/index.php?m=user&c=Users&a=news", {
              private_id: this.private_id,
            })
            .then((res) => {
              console.log(res);
              this.$refs.newsNums.getNewsNum();
            });
          this.$axios
            .post("/api/index.php?m=user&c=Users&a=private_list", {
              users_id: this.private_id,
            })
            .then((res) => {
              this.talkUsers = item.nickname;
              this.MsgContent = res.data.res;
            });
        } else {
          item.status = 0;
        }
      });
    },

    // 发送消息
    replyMsg() {
      if (this.editor.txt.html() == "") {
        return false;
      }
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=private_letter", {
          private_id: this.private_id,
          content: this.editor.txt.html(),
        })
        .then((res) => {
          console.log(res);
          this.onceGetMsgList();
          this.editor.txt.html("");
        });
    },
    scrollToBottom() {
      this.$nextTick(() => {
        var container = this.$el.querySelector(".msgList ul");
        container.scrollTop = container.scrollHeight;
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.PrivateLetters {
  width: 100%;
  padding: 20px 0;
  background: #f5f5f5;
  min-height: 65vh;
  .container {
    display: flex;
    justify-content: space-between;
    .menu {
      width: 26.8%;
      background: #fff;
      .search {
        width: 100%;
        padding: 30px 30px 20px;
        display: flex;
        position: relative;
        .searchVal {
          width: 100%;
          height: 50px;
          background: #eee;
          border-radius: 3px;
          padding-left: 20px;
          font-size: 14px;
          color: #333;
          &::placeholder {
            color: #999;
          }
        }
        .button {
          width: 56px;
          height: 50px;
          position: absolute;
          right: 30px;
          top: 30px;
          z-index: 2;
          background: #eee url(~images/search.png) center center no-repeat;
          cursor: pointer;
        }
      }
      .list {
        width: 100%;
        height: 650px;
        position: relative;
        overflow: hidden;
        ul {
          position: absolute;
          left: 0;
          top: 0;
          right: -17px;
          bottom: 0;
          overflow-x: hidden;
          overflow-y: scroll;
          li {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 15px 40px;
            .avatar {
              width: 50px;
              height: 50px;
              position: relative;
              flex-shrink: 0;
              img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
              }
              span {
                width: 16px;
                height: 16px;
                font-size: 12px;
                background: #f5002f;
                border-radius: 100%;
                position: absolute;
                top: -1px;
                right: -2px;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
              }
            }
            .txtBox {
              width: 50%;
              margin: 0 20px;
              @media (max-width: 1600px) {
                margin: 0 20px 0 10px;
              }
              .user {
                font-size: 16px;
                color: #333;
                line-height: 20px;
              }
              .news {
                font-size: 13px;
                color: #999;
                line-height: 20px;
                white-space: nowrap;
                letter-spacing: normal;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
            .time {
              flex-shrink: 0;
              font-size: 14px;
              color: #999;
            }
            &:hover,
            &.active {
              background: #eee;
            }
          }
        }
      }
    }
    .content {
      width: 71.6%;
      background: #fff;
      .ask-title {
        width: 100%;
        font-size: 18px;
        color: #333;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .msgList {
        width: 100%;
        border-top: 1px solid #f5f5f5;
        position: relative;
        overflow: hidden;
        height: 500px;
        ul {
          position: absolute;
          left: 0;
          top: 0;
          right: -17px;
          bottom: 0;
          overflow-x: hidden;
          overflow-y: scroll;
          padding: 35px 30px;
          li {
            width: 100%;
            .msgbox {
              width: 100%;
              position: relative;
              display: flex;
              padding-top: 25px;
              margin-top: 30px;
              .time {
                color: #bbb;
                font-size: 13px;
                width: 100%;
                text-align: center;
                position: absolute;
                left: 0;
                top: 0;
              }
              .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 27px 0 0;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
              .msg-content {
                max-width: 69%;
                padding: 10px 30px;
                font-size: 14px;
                line-height: 28px;
                color: #333;
                background: #eee;
                border-radius: 3px;
                position: relative;
                &::before {
                  content: "";
                  width: 0;
                  height: 0;
                  border-right: 8px solid #eee;
                  border-top: 8px solid transparent;
                  border-bottom: 8px solid transparent;
                  position: absolute;
                  right: 100%;
                  top: 15px;
                }
              }
              &.users {
                flex-direction: row-reverse;
                .avatar {
                  margin: 0 0 0 27px;
                }
                .msg-content {
                  color: #fff;
                  background: #208fb9;
                  &::before {
                    content: "";
                    width: 0;
                    height: 0;
                    border-right: none;
                    border-left: 8px solid #208fb9;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    position: absolute;
                    left: 100%;
                    top: 15px;
                  }
                }
              }
            }
          }
        }
      }
      #editor {
        ::v-deep .w-e-toolbar {
          border: none !important;
          border-top: 1px solid #ddd !important;
        }
        ::v-deep .w-e-text-container {
          border: none !important;
          height: 90px !important;
        }
        ::v-deep .w-e-toolbar {
          padding: 0 15px !important;
        }
        ::v-deep .w-e-text {
          padding: 0 25px !important;
        }
        ::v-deep .placeholder {
          padding: 0 15px !important;
        }
      }
      .checbox {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 30px 30px;
        span {
          font-size: 12px;
          color: #ccc;
        }
        .send {
          width: 80px;
          height: 32px;
          border-radius: 3px;
          color: #fff;
          background: #208fb9;
          margin-left: 24px;
        }
      }
    }
  }
}
</style>
