<template>
  <!-- // 消息中心左侧菜单 -->
  <div class="MessageMenu">
    <el-row class="tac">
      <el-col :span="24">
        <el-menu
          default-active="1"
          class="el-menu-vertical-demo"
          @open="handleOpen"
          @close="handleClose"
        >
          <el-menu-item index="1">
            <router-link to="/MessageCenter"
              >官方消息 <img src="~images/arrow-r4.png" alt=""
            /></router-link>
          </el-menu-item>
          <el-menu-item index="2">
            <router-link to="/Comment"
              >评论 <img src="~images/arrow-r4.png" alt=""
            /></router-link>
          </el-menu-item>
          <el-menu-item index="3">
            <router-link to="/Focus"
              >关注 <img src="~images/arrow-r4.png" alt=""
            /></router-link>
          </el-menu-item>
          <el-menu-item index="4">
            <router-link to="/Like"
              >点赞 <img src="~images/arrow-r4.png" alt=""
            /></router-link>
          </el-menu-item>
        </el-menu>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
  name: "MessageMenu",
  data() {
    return {};
  },
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    },
  },
};
</script>
<style lang="scss" scoped>
// 消息中心左侧菜单

.MessageMenu {
  width: 100%;
  background: #fff;
}
.MessageMenu ::v-deep .el-row {
  .el-menu {
    border-right: none;
    .el-menu-item {
      height: 60px;
      line-height: 60px;
      padding: 0 20px 0 27px !important;
      border-left: 3px solid transparent;
      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        color: #333;
        img {
          display: none;
        }
      }
      &.is-active {
        border-left: 3px solid #208fb9;
        a {
          color: #208fb9;
          font-weight: bold;
          img {
            display: block;
          }
        }
      }
    }
  }
}
</style>
