<template>
  <!-- 论坛右侧图片轮播 -->
  <div class="box2">
    <div class="recommendPage">
      <swiper :options="swiperOption" ref="mySwiper">
        <swiper-slide><img src="~images/c-img3.jpg" alt="" /></swiper-slide>
        <swiper-slide><img src="~images/c-img3.jpg" alt="" /></swiper-slide>
        <swiper-slide><img src="~images/c-img3.jpg" alt="" /></swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
        <!-- <div class="swiper-button-prev" slot="button-prev"></div>
                    <div class="swiper-button-next" slot="button-next"></div> -->
      </swiper>
    </div>
  </div>
</template>
<script>
import { swiper, swiperSlide } from "vue-awesome-swiper";
import "swiper/dist/css/swiper.css";
export default {
  name: "rightSwiper",
  data() {
    return {
      swiperOption: {
        loop: true,
        autoplay: {
          delay: 3000,
          stopOnLastSlide: false,
          disableOnInteraction: false,
        },
        // 显示分页
        pagination: {
          el: ".swiper-pagination",
          clickable: true, //允许分页点击跳转
        },
      },
    };
  },
  components: {
    //定义组件
    swiper,
    swiperSlide,
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    },
  },
  mounted() {},
};
</script>
<style lang="scss" scoped>
.box2 {
  width: 100%;
  margin-bottom: 20px;
  .swiper-slide {
    width: 100%;
    height: 320px;
    @media (max-width: 1560px) {
      height: 274px;
    }
  }
}

.recommendPage ::v-deep .swiper-container {
  position: relative;
  width: 100%;
}
.recommendPage ::v-deep .swiper-container .swiper-slide {
  width: 100%;
}
.recommendPage ::v-deep .swiper-pagination {
  font-size: 0;
  bottom: 20px;
}
.recommendPage ::v-deep .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  background: none;
  opacity: 1;
}
.recommendPage ::v-deep .swiper-pagination-bullet-active {
  background: #fff;
}
</style>
