<template>
  <div class="box1">
    <div class="checkBox">
      <router-link to="/write" class="item">
        <div class="icon">
          <img src="~images/icon10.png" alt="" /><img
            src="~images/icon10-1.png"
            alt=""
          />
        </div>
        <div class="txt">写文章</div>
      </router-link>
      <router-link to="/ask" class="item">
        <div class="icon">
          <img src="~images/icon11.png" alt="" /><img
            src="~images/icon11-1.png"
            alt=""
          />
        </div>
        <div class="txt">去提问</div>
      </router-link>
    </div>
    <div class="checkBox2">
      <router-link to="/WriteDraft" class="draft"
        ><span
          ><img src="~images/icon12.png" alt="" /><img
            src="~images/icon12-1.png"
            alt=""
        /></span>
        草稿箱 <span v-if="DraftList.length > 0">({{ DraftList.length }})</span>
      </router-link>
    </div>
  </div>
</template>
<script>
export default {
  name: "rightMenu",
  data() {
    return {
      DraftList: [], //草稿列表
    };
  },
  mounted() {
    this.getDetailList();
  },
  methods: {
    getDetailList() {
      // 获取草稿列表
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=list_drafts", {
          page: 1,
          limit: 100,
        })
        .then((res) => {
          console.log(res);
          this.DraftList = res.data.res;
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.box1 {
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  padding: 0 30px 30px;
  .checkBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 17px 0 11px;
    .item {
      margin-right: 63px;
      padding: 10px 0;
      @media (max-width: 1600px) {
        margin-right: 30px;
      }
      .icon {
        width: 30px;
        margin: auto;
        img {
          width: 100%;
          &:last-child {
            display: none;
          }
        }
      }
      .txt {
        font-size: 15px;
        color: #666;
        text-align: center;
        line-height: 23px;
      }
      &:hover {
        .icon {
          img {
            &:first-child {
              display: none;
            }
            &:last-child {
              display: block;
            }
          }
        }
        .txt {
          color: #208fb9;
        }
      }
    }
  }
  .checkBox2 {
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #f5f5f5;
    .draft {
      display: flex;
      align-items: center;
      color: #666;
      span {
        width: 18px;
        height: 14px;
        margin-right: 10px;
        display: flex;
        img {
          width: 100%;
          &:last-child {
            display: none;
          }
        }
      }
      &:hover {
        span {
          img {
            &:first-child {
              display: none;
            }
            &:last-child {
              display: block;
            }
          }
        }
        color: #208fb9;
      }
    }
  }
}
</style>
