html,
body,
figure,
dl,
dd,
img,
form,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input,
textarea,
a,
span,
em {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: "Microsoft YaHei", "PingFang SC", "Microsoft YaHei UI", "Source Han Sans CN", "Source Han Serif CN", "SimSun", "SimHei", "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  /* tap-highlight-color: transparent; */
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #fff;
}
@media (max-width: 1580px) {
  body {
    font-size: 14px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  object-fit: cover;
}
input,
textarea,
button {
  padding: 0;
  /* font-family: Verdana, Arial; */
  font-family: "Microsoft Yahei", "PingFang SC", "PingFangSC-Regular";
}
select {
  -webkit-appearance: none;
}
input[type="submit"],
input[type="text"],
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}
input[type="submit"],
button {
  cursor: pointer;
}
input:focus,
textarea:focus,
button:focus,
input:active {
  outline-color: transparent;
  border: 0;
}
select,
input,
select,
textarea {
  vertical-align: middle;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
ul,
ol,
li {
  list-style-type: none;
  line-height: 1;
}
a {
  color: #333;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  line-height: 1;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
a:active {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  zoom: 1;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.container {
  margin: 0 auto;
  width: 1400px;
}
@media (max-width: 1580px) {
  .container {
    width: 1200px;
  }
}
.bg-color1 {
  background-color: #fff;
}
.bg-color2 {
  background-color: #f5f5f5;
}
.el-input__inner::placeholder,
input::placeholder,
textarea::placeholder {
  color: #bbb !important;
}
/* 谷歌 */
.el-input__inner::-webkit-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bbb !important;
}
/* 火狐 */
.el-input__inner:-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #bbb !important;
}
/*ie*/
.el-input__inner:-ms-input-placeholder,
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #bbb !important;
}
/* 面包屑导航 */
#c-navigation {
  font-size: 14px;
  padding: 40px 0 15px;
  color: #999;
}
#c-navigation .c-list {
  display: flex;
  align-items: flex-start;
}
#c-navigation .c-list li {
  display: flex;
  align-items: center;
}
#c-navigation .c-list li:last-child span {
  display: none;
}
#c-navigation .c-list li span {
  margin: 0 10px;
  display: block;
  width: 6px;
  height: 14px;
  background: url(~images/c-jt-ico1.png) no-repeat center / 100% auto;
}
#c-navigation .c-list li a {
  color: #999;
}
#c-navigation .c-list li a:hover {
  color: #208fb9;
}
.c-common-box2 {
  padding: 70px 0;
  min-height: 70vh;
}
.c-common-box2 .c-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.c-common-box2 .c-top .c-title {
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 32px;
}
.c-common-box2 .c-top .c-title img {
  height: 32px;
  margin-right: 18px;
}
.c-common-box2 .c-top .c-list {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  text-align: center;
  color: #999;
}
.c-common-box2 .c-top .c-list::before,
.c-common-box2 .c-top .c-list::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 30px;
  z-index: 1;
  width: 270px;
  height: 2px;
  background-color: #bbbbbb;
}
.c-common-box2 .c-top .c-list::after {
  width: 134px;
  z-index: 2;
  background-color: #208fb9;
}
.c-common-box2 .c-top .c-list.on::after {
  width: 270px;
}
.c-common-box2 .c-top .c-list li {
  position: relative;
  z-index: 5;
}
.c-common-box2 .c-top .c-list li:nth-child(2) {
  margin: 0 50px;
}
.c-common-box2 .c-top .c-list li.on .c-num {
  background: #208fb9;
}
.c-common-box2 .c-top .c-list li.on .c-text {
  color: #208fb9;
}
.c-common-box2 .c-top .c-list .c-num {
  display: inline-block;
  margin-bottom: 10px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  line-height: 26px;
  color: #fff;
  background: #bbbbbb;
}
.c-common-box3 {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 950;
  padding: 30px 0;
  width: 100%;
  background: #fff;
}
.c-common-box3 .c-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-common-box3 .c-list .c-all {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #999;
  cursor: pointer;
}
.c-common-box3 .c-list .c-all .c-radio {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  line-height: 12px;
  border-radius: 2px;
  border: 1px solid #cccccc;
  color: #fff;
}
.c-common-box3 .c-list .c-all .c-radio.on {
  border-color: #208fb9;
  background-color: #208fb9;
}
.c-common-box3 .c-list .c-text1 {
  font-size: 18px;
  line-height: 1.5;
}
.c-common-box3 .c-list .c-text1.c-dt {
  font-size: 16px;
}
.c-common-box3 .c-list .c-text1 span {
  color: #208fb9;
}
.c-common-box3 .c-list .c-text2 {
  font-size: 14px;
  line-height: 1.5;
  color: #f3002f;
}
.c-common-box3 .c-list .c-text3 {
  font-size: 16px;
  line-height: 30px;
}
.c-common-box3 .c-list .c-text3 span {
  font-size: 22px;
  color: #f3002f;
}
.c-common-box3 .c-list .c-btn-box {
  display: flex;
  align-content: center;
}
.c-common-box3 .c-list .c-btn-box .c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 2px;
  cursor: pointer;
}
.c-common-box3 .c-list .c-btn-box .c-btn:last-child {
  margin-left: 30px;
  color: #fff;
  border-color: #208fb9;
  background: #208fb9;
}
.c-common-box4 {
  padding: 30px;
  background-color: #fff;
}
.c-common-box4 .c-title {
  font-weight: bold;
  font-size: 18px;
}
.c-common-box4 .c-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 -10px;
  font-size: 14px;
}
.c-common-box4 .c-list li {
  padding: 20px 10px 0;
  width: 25%;
}
.c-common-box4 .c-list li input {
  padding: 0 15px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
}
.c-common-box4 .c-list li input:hover {
  border-color: #C0C4CC;
}
.c-common-box4 .c-list li input:focus {
  border-color: #208fb9;
}
.c-common-box4 .c-list li textarea {
  font-size: 14px;
  width: 100%;
  padding: 10px 15px;
  height: 100px;
  border: 1px solid #e5e5e5;
  resize: none;
  overflow: auto;
}
.c-common-box4 .c-list li textarea:hover {
  border-color: #C0C4CC;
}
.c-common-box4 .c-list li textarea:focus {
  border-color: #208fb9;
}
.c-common-box4 .c-list li .el-select {
  width: 100%;
}
.c-common-box4 .c-list li:nth-last-child(1),
.c-common-box4 .c-list li:nth-last-child(2) {
  width: 100%;
}
.c-common-box4 .c-list li:nth-last-child(1) {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.c-common-box4 .c-list li:nth-last-child(1) .c-btn {
  margin-left: 20px;
  width: 120px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #333;
  border-radius: 2px;
  cursor: pointer;
  background: #fff;
}
.c-common-box4 .c-list li:nth-last-child(1) .c-btn:first-child {
  border-color: #208fb9;
  background-color: #208fb9;
  color: #fff;
}
.c-common-table {
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  border-collapse: collapse;
  text-align: center;
}
.c-common-table.c-dt thead {
  background: #eeeeee;
}
.c-common-table.c-dt thead th {
  padding: 15px 30px 15px 0;
  color: #999;
}
.c-common-table.c-dt thead th:first-child {
  padding-left: 30px;
}
.c-common-table.c-dt tbody tr:last-child {
  border-bottom: 1px solid #f5f5f5;
}
.c-common-table tr {
  border-bottom: 1px solid #f5f5f5;
}
.c-common-table td,
.c-common-table th {
  font-weight: normal;
  padding: 30px 30px 30px 0;
}
.c-common-table td:first-child,
.c-common-table th:first-child {
  padding-left: 30px;
}
.c-common-table th {
  color: #666;
  white-space: nowrap;
}
.c-common-table tbody tr:last-child {
  border: 0;
}
.c-common-table .c-price {
  color: #f5002f;
}
.c-common-table .c-radio {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  line-height: 12px;
  border-radius: 2px;
  border: 1px solid #cccccc;
  color: transparent;
  cursor: pointer;
}
.c-common-table .c-radio.on {
  color: #fff;
  border-color: #208fb9;
  background-color: #208fb9;
}
.c-common-table .c-img-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.c-common-table .c-img-box img {
  max-width: 100%;
  max-height: 100%;
}
.c-common-table .c-text {
  display: inline-block;
  text-align: left;
}
.c-common-table .c-text span {
  color: #666;
}
.c-common-table .el-input-number {
  width: 80px;
  line-height: 24px;
}
.c-common-table .el-input-number .el-input-number__increase,
.c-common-table .el-input-number .el-input-number__decrease {
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: #fff;
  border: 0;
}
.c-common-table .el-input-number .el-input__inner {
  padding: 0 24px;
  height: 26px;
  line-height: 24px;
  border-color: #cccccc;
}
.c-common-table .el-input-number .el-input__inner:focus {
  border: 1px solid #208fb9;
}
.c-common-table .c-del {
  color: #666;
  cursor: pointer;
}
.c-common-table .c-del:hover {
  color: #333;
  text-decoration: underline;
}
