<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 下拉导航 -->
    <ShopHeader></ShopHeader>
    <!-- 首屏 -->
    <div id="c-home" class="bg-color2">
      <!-- 公共搜索模块 -->
      <div class="c-common-box bg-color2">
        <div class="container">
          <div class="c-row">
            <div class="c-col">
              <!-- 全部分类 -->
              <div class="c-all-product">
                <router-link to="/Shop/Product" class="c-title"
                  >全部商品分类</router-link
                >
              </div>
            </div>
            <div class="c-col">
              <!-- 搜索 -->
              <ShopSearch v-bind:oSearchData="searchData"></ShopSearch>
            </div>
          </div>
        </div>
      </div>
      <div class="c-bottom">
        <div class="container">
          <div class="c-row">
            <div class="c-col">
              <!-- 产品分类 -->
              <div id="c-classification">
                <div class="c-list-wrap">
                  <ul class="c-list">
                    <li v-for="(item, index) of menuList" :key="index">
                      <div class="c-title-box2-wrap" v-show="index < 10">
                        <div class="c-title-box2">
                          <router-link to="" class="c-title">{{
                            item.typename
                          }}</router-link
                          ><span>/</span>
                        </div>
                      </div>
                      <ul class="c-list2">
                        <li
                          v-for="(thItem, thIndex) of item.gift"
                          :key="thIndex"
                        >
                          <router-link
                            :to="{
                              path: '/Shop/ProductList',
                              query: { id: thItem.id, name: thItem.typename },
                            }"
                            class="c-title"
                            >{{ thItem.typename }}</router-link
                          >
                          <ul class="c-list3">
                            <li
                              v-for="(tdItem, tdIndex) of thItem.gift"
                              :key="tdIndex"
                            >
                              <router-link
                                :to="{
                                  path: '/Shop/ProductList',
                                  query: { id: tdItem.id, name: tdItem.typename },
                                }"
                                class="c-title2"
                                >{{ tdItem.typename }}</router-link
                              >
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="c-col">
              <!-- 轮播 -->
              <swiper id="c-banner1" :options="swiperOption" ref="mySwiper" v-if="BannerImg.length>0">
                <swiper-slide v-for="(item, index) of BannerImg" :key="index">
                  <div class="c-img" @click="toRescue(item.links)">
                    <img :src="item.litpic" alt="" />
                  </div>
                  <!-- <router-link :to="item.links" target="_blank" class="c-img">
                    <img :src="/api/ + item.litpic" alt="" />
                  </router-link> -->
                </swiper-slide>
                <div class="swiper-pagination" slot="pagination"></div>
                <div class="swiper-button-prev" slot="button-prev"></div>
                <div class="swiper-button-next" slot="button-next"></div>
              </swiper>
            </div>
            <div class="c-col">
              <!-- 品牌 -->
              <div id="c-brand">
                <div class="c-title-box">
                  <img src="~images/c-jx-ico.png" alt="" />
                  <p class="c-title">精选品牌专场</p>
                </div>
                <div class="c-list">
                  <router-link
                    :to="{name:'BrandSearch',query:{key:item.name}}"
                    class="c-img"
                    v-for="(item, index) of actBrand"
                    :key="index"
                    v-show="index < 4"
                    ><img :src="item.litpic" alt=""
                  /></router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 产品列表 -->
    <div class="c-product bg-color2">
      <div class="container">
        <div class="c-title-box">
          <div class="c-lt">
            <h2 class="c-title">热销产品</h2>
            <p class="c-text">为您精选近期热销产品</p>
          </div>
          <router-link to="/Shop/productList" class="c-more">更多</router-link>
        </div>
        <el-row class="c-list">
          <el-col :span="6" v-for="(item, index) of HotList" :key="index">
            <div @click="addSeeList(item)" class="c-wrap">
              <div class="c-img-box">
                <img :src="item.litpic" alt="" />
              </div>
              <div class="c-text-box">
                <div class="c-text-wrap">
                  <p class="c-brand">{{ item.brand_name }}</p>
                  <h3 class="c-title">{{ item.title }}</h3>
                </div>
                <div class="c-num-wrap">
                  <div class="c-box1">
                    <div class="c-lbox">
                      <p class="c-present-price">
                        <i>¥</i><span>{{ item.users_price }}</span>
                      </p>
                      <del class="c-original-price"
                        ><i>¥</i><span>99998.00</span></del
                      >
                    </div>
                    <div class="c-arrow"></div>
                  </div>
                  <div class="c-box2">
                    <div
                      class="c-item"
                      v-for="(item2, index) of item.product_spec"
                      :key="index"
                    >
                      <div class="c-lbox">
                        <p class="c-text">￥</p>
                        <p class="c-price">{{ item2.spec_price }}</p>
                        <p class="c-text2">&nbsp;/&nbsp;个</p>
                      </div>
                      <p class="c-num">{{ item2.spec_value }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
    <!-- 产品列表 -->
    <div class="c-product bg-color2">
      <div class="container">
        <div class="c-title-box">
          <div class="c-lt">
            <h2 class="c-title">新品上架</h2>
            <p class="c-text">为您精选最新产品</p>
          </div>
          <router-link to="/Shop/productList" class="c-more"
            >更多</router-link
          >
        </div>
        <el-row class="c-list">
          <el-col :span="6" v-for="(item, index) of NewList" :key="index">
            <div @click="addSeeList(item)" class="c-wrap">
              <div class="c-img-box">
                <img :src="item.litpic" alt="" />
              </div>
              <div class="c-text-box">
                <div class="c-text-wrap">
                  <p class="c-brand">{{ item.brand_name }}</p>
                  <h3 class="c-title">{{ item.title }}</h3>
                </div>
                <div class="c-num-wrap">
                  <div class="c-box1">
                    <div class="c-lbox">
                      <p class="c-present-price">
                        <i>¥</i><span>{{ item.users_price }}</span>
                      </p>
                      <del class="c-original-price"
                        ><i>¥</i><span>99998.00</span></del
                      >
                    </div>
                    <div class="c-arrow"></div>
                  </div>
                  <div class="c-box2">
                    <div
                      class="c-item"
                      v-for="(item2, index) of item.product_spec"
                      :key="index"
                    >
                      <div class="c-lbox">
                        <p class="c-text">￥</p>
                        <p class="c-price">{{ item2.spec_price }}</p>
                        <p class="c-text2">&nbsp;/&nbsp;个</p>
                      </div>
                      <p class="c-num">{{ item2.spec_value }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
    <!-- 产品列表 -->
    <div class="c-product bg-color2" v-if="token">
      <div class="container">
        <div class="c-title-box">
          <div class="c-lt">
            <h2 class="c-title">最近看过</h2>
            <p class="c-text">请勿开启浏览器自动清除缓存功能</p>
          </div>
          <!-- <router-link to="" class="c-more">更多</router-link> -->
        </div>
        <el-row class="c-list">
          <el-col :span="6" v-for="(item, index) of SeeList" :key="index">
            <router-link
              :to="{
                path: '/Shop/ProductDetail',
                query: { id: item.aid },
              }"
              class="c-wrap"
            >
              <div class="c-img-box">
                <img :src="item.litpic" alt="" />
              </div>
              <div class="c-text-box">
                <div class="c-text-wrap">
                  <p class="c-brand">{{ item.brand_name }}</p>
                  <h3 class="c-title">{{ item.title }}</h3>
                </div>
                <div class="c-num-wrap">
                  <div class="c-box1">
                    <div class="c-lbox">
                      <p class="c-present-price">
                        <i>¥</i><span>{{ item.users_price }}</span>
                      </p>
                      <del class="c-original-price"
                        ><i>¥</i><span>99998.00</span></del
                      >
                    </div>
                    <div class="c-arrow"></div>
                  </div>
                  <div class="c-box2">
                    <div
                      class="c-item"
                      v-for="(item2, index) of item.product_spec"
                      :key="index"
                    >
                      <div class="c-lbox">
                        <p class="c-text">￥</p>
                        <p class="c-price">{{ item2.spec_price }}</p>
                        <p class="c-text2">&nbsp;/&nbsp;个</p>
                      </div>
                      <p class="c-num">{{ item2.spec_value }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </router-link>
          </el-col>
        </el-row>
      </div>
    </div>
    <!-- 代理品牌 -->
    <agencyBrand></agencyBrand>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import ShopSearch from "@/components/Shop/ShopSearch.vue";
import ShopHeader from "@/components/Shop/ShopHeader.vue";
import agencyBrand from "@/components/agencyBrand/index.vue";
import { swiper, swiperSlide } from "vue-awesome-swiper";
import "swiper/dist/css/swiper.css";
export default {
  name: "home",
  data() {
    return {
      token:'',
      searchData: {
        tagShow: true, //是否显示标签
        isSearch: false, //是否是搜索详情页
      },
      menuList: [], //产品菜单
      actBrand: [], //代理品牌
      NewList: [], //最新产品
      HotList: [], //热销产品
      SeeList: [], //浏览过的产品
      BannerImg: [], //banner图
      swiperOption: {
        observer:true,//修改swiper自己或子元素时，自动初始化swiper 
        observeParents:true,
        loop: true,
        loopedSlides: 2,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        // 显示分页
        pagination: {
          el: ".swiper-pagination",
          clickable: true, //允许分页点击跳转
        },
        // 设置点击箭头
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      },
    };
  },
  components: {
    webHeader,
    webFooter,
    ShopSearch,
    swiper,
    swiperSlide,
    ShopHeader,
    agencyBrand,
  },
  created(){
    this.token = localStorage.getItem("token");
  },
  mounted() {
    this.getMenuList();
    this.getActBrands();
    this.getNewList();
    this.getHotList();
    this.getSeeList();
    this.getBannerImg();
  },
  methods: {
    //获取产品菜单
    getMenuList() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=product_fenlei")
        .then((res) => {
          this.menuList = res.data.res;
        });
    },

    //热销产品
    getHotList() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=sale_prodct")
        .then((res) => {
          console.log(res);
          this.HotList = res.data.res;
        });
    },

    //最新产品
    getNewList() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=new_product")
        .then((res) => {
          this.NewList = res.data.res;
        });
    },

    // 添加到浏览列表
    addSeeList(item) {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=footprint", {
          title: item.title,
          aid: item.aid,
          typeid: item.typeid,
          litpic: item.litpic,
        })
        .then((res) => {
          console.log(res);
          this.$router.push({
            path: "/Shop/ProductDetail",
            query: { id: item.aid },
          });
        });
    },

    //浏览过的产品
    getSeeList() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=users_footprint", {
          page: 1,
          limit: 12,
        })
        .then((res) => {
          this.SeeList = res.data.res;
        });
    },

    //轮播图
    getBannerImg() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=rotation_chart")
        .then((res) => {
          console.log(res);
          this.BannerImg = res.data.res;
        });
    },
    //轮播图跳转
    toRescue(link) {
      window.open(link, "_blank");
    },

    //精选品牌专场
    getActBrands() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=product_brand")
        .then((res) => {
          console.log(res);
          this.actBrand = res.data.res;
        });
    },

    loginOut() {
      this.$axios.post("/api/index.php?m=user&c=Users&a=logout").then((res) => {
        console.log(res);
        window.localStorage.clear();
        this.$router.push({ path: "/login" });
      });
    },
  },
};
</script>
<style scoped lang="scss">
// 首屏
#c-home {
  padding: 60px 0 55px;
  .c-lt {
    position: relative;
    z-index: 10;
    padding: 0 10px;
    width: 19%;
  }
  .c-gt {
    padding: 0 10px;
    width: 81%;
    .c-bBox {
      display: flex;
      align-items: flex-start;
      margin: 0 -10px;
      .c-lBox {
        padding: 0 10px;
        width: 74%;
      }
      .c-rBox {
        padding: 0 10px;
        width: 26%;
      }
    }
  }
  .c-bottom {
    .c-row {
      display: flex;
      align-items: flex-start;
      margin: 0 -10px;
      .c-col {
        padding: 0 10px;
        width: 19%;
        &:nth-child(1) {
          position: relative;
          z-index: 5;
        }
        &:nth-child(2) {
          width: 62%;
        }
      }
    }
  }
}

// 公共模块
.c-common-box {
  padding-bottom: 2px;
  .c-row {
    display: flex;
    align-items: flex-start;
    margin: 0 -10px;
    .c-col {
      padding: 0 10px;
      width: 19%;
      &:last-child {
        padding: 0 10px;
        width: 81%;
      }
    }
  }
  .c-all-product {
    background-color: #fff;
    .c-title {
      padding: 0 30px 0 50px;
      font-size: 18px;
      line-height: 86px;
      background: url(~images/c-fl-ico.png) no-repeat left 30px center/ 10px
        auto;
      transition: all 0.3s;
      &:hover {
        color: #208fb9;
      }
    }
  }
}

// 产品分类
#c-classification {
  .c-list-wrap {
    position: relative;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    .c-list {
      & > li {
        padding: 0 30px 0 50px;
        border: 1px solid transparent;
        background: url(~images/c-fl-ico2.png) no-repeat left 30px center/ 10px
          auto;
        &:hover {
          border-color: #208fb9;
          border-right: 0;
          .c-list2 {
            display: block;
          }
          .c-title-box2-wrap {
            &::before {
              right: -32px;
            }
          }
        }
        .c-title-box2-wrap {
          position: relative;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          height: 45px;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            width: 4px;
            height: 100%;
            background-color: #fff;
          }
          .c-title-box2 {
            &:last-child span {
              display: none;
            }
            .c-title {
              &:hover {
                color: #208fb9;
                transition: all 0.3s;
              }
            }
          }
        }
        .c-list2 {
          display: none;
          position: absolute;
          top: 0;
          left: 100%;
          height: 100%;
          width: 530px;
          overflow-y: auto;
          background-color: #fff;
          border: 1px solid #208fb9;
          padding: 40px;
          & > li {
            padding-bottom: 35px;
            margin-bottom: 35px;
            border-bottom: 1px solid #eaeaef;
            &:last-child {
              border-bottom: 0;
              margin-bottom: 0;
              padding-bottom: 0;
            }
            .c-title {
              font-size: 18px;
              color: #333;
              transition: all 0.3s;
              &:hover {
                color: #208fb9;
              }
            }
            .c-list3 {
              display: flex;
              align-items: flex-start;
              flex-wrap: wrap;
              margin: 0 -10px;
              padding-top: 10px;
              li {
                margin-top: 10px;
                padding: 0 10px;
                border-right: 1px solid #333;
                &:last-child{
                  border-right: none;
                }
                .c-title2 {
                  color: #999;
                  transition: all 0.3s;
                  &:hover {
                    color: #208fb9;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 轮播
#c-banner1 {
  .c-img {
    display: block;
    height: 470px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 50px;
    height: 120px;
    margin-top: -60px;
  }
  .swiper-button-prev {
    left: 0;
    background: rgba(0, 0, 0, 0.1) url(~images/c-jt1.png) no-repeat center /
      14px auto;
  }
  .swiper-button-next {
    right: 0;
    background: rgba(0, 0, 0, 0.1) url(~images/c-jt2.png) no-repeat center /
      14px auto;
  }
  .swiper-pagination {
    bottom: 30px;
  }
}
#c-banner1 ::v-deep .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #fff;
  opacity: 1;
}
#c-banner1 ::v-deep .swiper-pagination-bullet-active {
  background: #fff;
}

// 精选品牌专场
#c-brand {
  .c-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-bottom: 2px;
    background-color: #fff;
    img {
      margin-right: 15px;
      height: 24px;
    }
    .c-title {
      font-size: 18px;
    }
  }
  .c-list {
    background-color: #fff;
    .c-img {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 97px;
      transition: all 0.3s;
      background-color: #fff;
      &:hover {
        z-index: 5;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

// 产品列表
.c-product {
  padding-bottom: 55px;
  .el-row {
    margin: 0 -10px -20px;
  }
  .el-col-6 {
    padding: 0 10px 20px;
  }
  .c-title-box {
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    .c-lt {
      display: flex;
      align-items: center;
      .c-title {
        font-size: 24px;
      }
      .c-text {
        margin-left: 8px;
        color: #999;
      }
    }
    .c-more {
      color: #999;
      transition: all 0.3s;
      &:hover {
        color: #208fb9;
      }
    }
  }
  .c-wrap {
    display: block;
    background: #fff;
    border-radius: 5px;
    &:hover {
      .c-img-box {
        &::before {
          opacity: 1;
        }
      }
    }
    .c-img-box {
      position: relative;
      height: 260px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      &::before {
        opacity: 0;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3) url(~images/c-more-ico.png) no-repeat
          center / 70px auto;
        transition: all 0.3s;
      }
    }
    .c-text-box {
      .c-text-wrap {
        padding: 30px 30px 0;
        .c-brand {
          font-size: 14px;
          line-height: 24px;
          color: #666;
        }
        .c-title {
          height: 26px;
          line-height: 26px;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 1;
        }
      }
      .c-num-wrap {
        position: relative;
        padding: 0 30px 30px;
        .c-box1 {
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .c-lbox {
            display: flex;
            align-content: center;
            .c-present-price {
              display: flex;
              align-items: flex-end;
              color: #f5002f;
              i {
                font-style: normal;
                font-size: 14px;
              }
              span {
                font-size: 22px;
              }
            }
            .c-original-price {
              margin-left: 10px;
              display: flex;
              align-items: center;
              color: #bbb;
              i {
                font-style: normal;
                font-size: 10px;
              }
              span {
                font-size: 12px;
              }
            }
          }
          .c-arrow {
            width: 8px;
            height: 16px;
            background: url(~images/c-jt-ico1.png) no-repeat center / 100% auto;
            transition: all 0.3s;
          }
        }
        .c-box2 {
          display: none;
          position: absolute;
          top: 30px;
          left: 0;
          padding: 14px;
          width: 100%;
          background: #fff;
          font-size: 14px;
          line-height: 24px;
          color: #666;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
          .c-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .c-lbox {
              display: flex;
              align-items: center;
              color: #f5002f;
              .c-text {
                font-size: 10px;
              }
              .c-text2 {
                color: #666;
              }
            }
          }
        }
        &:hover {
          z-index: 5;
          .c-box1 {
            .c-arrow {
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
              background-image: url(~images/c-jt-ico2.png);
            }
          }
          .c-box2 {
            display: block;
          }
        }
      }
    }
  }
}
</style>
