<template>
  <div>
    <!-- 头部 -->
    <webHeader></webHeader>
    <!-- 下拉导航 -->
    <ShopHeader></ShopHeader>
    <!-- 面包屑导航 -->
    <div id="c-navigation" class="bg-color2">
      <div class="container">
        <ul class="c-list">
          <li><router-link to="/">首页</router-link><span></span></li>
          <li>
            <router-link to="/Shop/Product">商品目录</router-link><span></span>
          </li>
        </ul>
      </div>
    </div>
    <!-- 公共搜索模块 -->
    <div class="c-common-box bg-color2 c-dt">
      <div class="container bg-color1">
        <div class="c-row">
          <div class="c-col">
            <!-- 全部分类 -->
            <div class="c-all-product">
              <router-link to="/Shop/Product" class="c-title"
                >全部商品分类</router-link
              >
            </div>
          </div>
          <div class="c-col">
            <!-- 搜索 -->
            <ShopSearch
              class="c-dt2"
              v-bind:oSearchData="searchData"
            ></ShopSearch>
          </div>
        </div>
      </div>
    </div>
    <!-- 产品目录 -->
    <div id="c-product" class="bg-color2">
      <div class="container">
        <div class="c-main">
          <p class="c-main-title">
            所有产品<span>({{ count }})</span>
          </p>
          <ul class="c-list">
            <li v-for="(item, index) of ProductMenu" :key="index">
              <div class="c-title-box">
                <p class="c-title">
                  {{ item.typename }}<span>({{ item.counts }})</span>
                </p>
                <router-link
                  class="c-btn"
                  :to="{
                    path: '/Shop/ProductList',
                    query: { id: item.id, name: item.typename },
                  }"
                  ><span>立即选型</span><i></i
                ></router-link>
              </div>
              <ul class="c-list2">
                <li v-for="(item2, index2) in item.gift" :key="index2">
                  <template v-if="item2.product_count != 0">
                    <router-link
                      class="c-btn"
                      :to="{
                        path: '/Shop/ProductList',
                        query: { id: item2.id, name: item2.typename },
                      }"
                      >{{ item2.typename }}</router-link
                    >
                    <span>({{ item2.product_count }})</span>
                  </template>
                  <template v-else>
                    <router-link class="c-btn" to="">{{
                      item2.typename
                    }}</router-link>
                    <span>({{ item2.product_count }})</span>
                  </template>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <webFooter></webFooter>
  </div>
</template>
<script>
import webHeader from "@/components/Header/index.vue";
import webFooter from "@/components/Footer/index.vue";
import ShopHeader from "@/components/Shop/ShopHeader.vue";
import ShopSearch from "@/components/Shop/ShopSearch.vue";
export default {
  name: "Product",
  data() {
    return {
      searchData: {
        tagShow: false, //是否显示标签
        isSearch: false, //是否是搜索详情页
      },
      ProductMenu: [], //商品分类
      count: "", //产品总数
    };
  },
  components: {
    webHeader,
    webFooter,
    ShopHeader,
    ShopSearch,
  },
  mounted() {
    this.getProductMenu();
  },
  methods: {
    getProductMenu() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=product")
        .then((res) => {
          console.log(res);
          this.ProductMenu = res.data.res;
          this.count = res.data.count;
        });
    },
  },
};
</script>
<style scoped lang="scss">
// 公共模块
.c-common-box {
  padding-bottom: 2px;
  &.c-dt {
    .c-all-product {
      margin-left: -30px;
    }
    .c-row {
      padding: 0 30px;
      .c-col {
        width: 25%;
        &:last-child {
          width: 75%;
        }
      }
    }
  }
  .c-row {
    display: flex;
    align-items: center;
    margin: 0 -10px;
    .c-col {
      padding: 0 10px;
      width: 19%;
      &:last-child {
        padding: 0 10px;
        width: 81%;
      }
    }
  }
  .c-all-product {
    background-color: #fff;
    .c-title {
      padding: 0 30px 0 50px;
      font-size: 18px;
      line-height: 86px;
      background: url(~images/c-fl-ico.png) no-repeat left 30px center/ 10px
        auto;
      transition: all 0.3s;
      &:hover {
        color: #208fb9;
      }
    }
  }
}

// 产品分类
#c-classification {
  width: 25%;
  @media (max-width: 1580px) {
    width: 18%;
  }
  .c-title-box {
    background-color: #fff;
    .c-title {
      padding: 0 30px 0 50px;
      font-size: 18px;
      line-height: 86px;
      background: url(~images/c-fl-ico.png) no-repeat left 30px center/ 10px
        auto;
      transition: all 0.3s;
      &:hover {
        color: #208fb9;
      }
    }
  }
}

// 产品目录
#c-product {
  padding-bottom: 70px;
  .c-main {
    padding: 30px;
    background: #fff;
    .c-main-title {
      span {
        color: #208fb9;
      }
    }
    .c-list {
      & > li {
        margin-top: 30px;
        &:hover {
          .c-title-box {
            background-image: url(~images/c-cp-bj2.jpg);
            color: #fff;
            .c-btn {
              color: #fff;
              i {
                background-image: url(~images/c-jt-ico3.png);
              }
            }
          }
          .c-list2 {
            border-color: #208fb9;
          }
        }
        .c-title-box {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 50px;
          padding: 0 30px;
          background: url(~images/c-cp-bj1.jpg) no-repeat center / cover;
          .c-title {
            font-weight: bold;
          }
          .c-btn {
            display: flex;
            align-content: center;
            color: #666;
            i {
              margin-left: 20px;
              display: block;
              width: 8px;
              height: 14px;
              background: url(~images/c-jt-ico1.png) no-repeat center / 100%
                auto;
            }
          }
        }
        .c-list2 {
          display: flex;
          flex-wrap: wrap;
          padding: 15px;
          border: 1px solid #eee;
          font-size: 14px;
          li {
            padding: 5px 15px;
            width: 25%;
            line-height: 1.5;
            .c-btn {
              transition: all 0.3s;
              &:hover {
                color: #208fb9;
              }
            }
            span {
              color: #999;
            }
          }
        }
      }
    }
  }
}
</style>
