<template>
  <div class="header">
    <div class="container">
      <div class="logo">
        <router-link to="/">
          <img src="~images/logo.png" alt="" />
        </router-link>
      </div>

      <div class="menu">
        <ul id="menu-list">
          <li>
            <router-link to="/">商城</router-link>
          </li>
          <li>
            <router-link to="/community">社区</router-link>
          </li>
          <li>
            <router-link to="/technical">技术服务</router-link>
          </li>
        </ul>
      </div>

      <div class="rbox">
        <router-link to="/Personal/Message" class="information">
          <img src="~images/icon1.png" alt="" />
          <span v-if="msgNun > 0">{{ msgNun }}</span>
        </router-link>
        <router-link to="/PrivateLetters" class="information">
          <img src="~images/icon8.png" alt="" />
          <span v-if="users_private > 0">{{ users_private }}</span>
        </router-link>
        <router-link to="/Personal" class="login">
          <img src="~images/icon2.png" alt="" />
        </router-link>
        <router-link to="/Login" v-if="!isLogin" class="login">
          登录 / 注册
        </router-link>
        <div class="loginOut" v-else @click="loginOut()">退出登录</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "webHeader",
  data() {
    return {
      isLogin: false,
      msgNun: 0, //商城头部未读消息
      users_private: 0,
    };
  },
  created() {
    this.getMesNun();
    this.getNewsNum();

    // //获取用户登录成功后储存的登录标志
    let token = localStorage.getItem("token");
    // // 登录状态不存在，获取服务器中的登录状态
    if (!token) {
      this.getLogin();
    } else {
      this.isLogin = true;
    }
  },
  methods: {
    // 获取登录状态
    getLogin() {
      this.$axios
        .post("/api/index.php?m=home&c=Lists&a=users_login")
        .then((res) => {
          if (res.data.status == 1) {
            this.isLogin = true;
            localStorage.setItem("token", res.data.token);
          } else {
            this.isLogin = false;
          }
        });
    },
    // 获取商城头部未读消息
    getMesNun() {
      this.$axios.post("/api/index.php?m=user&c=Users&a=unread").then((res) => {
        this.msgNun = res.data.res;
      });
    },

    //消息数量
    getNewsNum() {
      this.$axios.post("/api/index.php?m=user&c=Users&a=newss").then((res) => {
        console.log(res);
        this.users_private = res.data.res.users_private;
      });
    },

    // 退出登录
    loginOut() {
      this.$axios.post("/api/index.php?m=user&c=Users&a=logout").then((res) => {
        console.log(res);
        localStorage.removeItem("token");
        this.$router.push({ path: "/login" });
      });
    },
  },
};
</script>
<style scoped lang="scss">
.header {
  width: 100%;
  background: #fff;
  z-index: 9;
  position: sticky;
  top: 0;
  z-index: 880;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 80px;
    }
    .menu {
      margin-right: 40px;
      ul {
        display: flex;
        li {
          margin: 0 50px;
          font-size: 18px;
          color: #333;
          line-height: 90px;
          // @media (max-width: 1600px) {
          //   font-size: 16px;
          // }
          // @media (max-width: 1440px) {
          //   font-size: 14px;
          // }
          .router-link-exact-active {
            color: #208fb9;
          }
        }
      }
    }
    .rbox {
      display: flex;
      align-items: center;
      .information {
        width: 25px;
        height: 25px;
        position: relative;
        margin-right: 38px;
        span {
          width: 16px;
          height: 16px;
          background: #f5002f;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          color: #fff;
          position: absolute;
          right: -3px;
          top: -3px;
        }
      }
      .login {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #333;
        @media (max-width: 1600px) {
          font-size: 16px;
        }
        @media (max-width: 1440px) {
          font-size: 14px;
        }
        img {
          width: 25px;
          height: 25px;
          margin-right: 8px;
        }
      }
      .loginOut {
        font-size: 18px;
        color: #333;
        margin-left: 10px;
        cursor: pointer;
        @media (max-width: 1600px) {
          font-size: 16px;
        }
        @media (max-width: 1440px) {
          font-size: 14px;
        }
        &:hover {
          color: #208fb9;
        }
      }
    }
  }
}
</style>
