<template>
  <div class="footer">
    <div class="container">
      <div class="footBox1">
        <div class="footLogo">
          <a href="/"><img src="~images/logo2.png" alt="" /></a>
        </div>
        <div class="footMenu">
          <ul>
            <li><router-link to="/">商城</router-link></li>
            <li><router-link to="/community">社区</router-link></li>
            <li><router-link to="/technicalIndex">技术服务</router-link></li>
          </ul>
        </div>
        <div class="rightBox">
          <div class="tel">
            <img src="~images/icon5.png" alt="" />
            <span>{{footInfo.tel}}</span>
          </div>
          <a :href="'mailto:' + footInfo.email" rel="nofollow" target="_blank" class="email">
            <img src="~images/icon6.png" alt="" />
          </a>
          <div class="wx">
            <img src="~images/icon7.png" alt="" />
            <div class="hover">
              <img :src="footInfo.weixin" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="footBox2">
        {{footInfo.web_copyright}} &nbsp; | &nbsp;
        <a
          href="https://beian.miit.gov.cn/#/Integrated/index"
          rel="nofollow"
          target="_blank"
          >{{footInfo.web_recordnum}}</a
        >
        &nbsp; | &nbsp; <router-link to="">管理系统登录</router-link> &nbsp; |
        &nbsp; <router-link to="/PrivacyPolicy">隐私政策</router-link> &nbsp; |
        &nbsp;
        <router-link to="/SiteMap">Sitemap</router-link>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "webHeader",
  data() {
    return {
      email: "mailto:" + "official@gansuan.shop",
      footInfo:[]
    };
  },
  mounted () {
    this.$axios
    .post("/api/index.php?m=home&c=Lists&a=footer")
    .then((res) => {
      console.log(res);
      this.footInfo = res.data.res;
    });
  },
};
</script>
<style scoped lang="scss">
.footer {
  width: 100%;
  background: #333;
  .container {
    .footBox1 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 56px 0 30px;
      .footLogo {
        width: 80px;
      }
      .footMenu {
        margin-left: 70px;
        ul {
          display: flex;
          li {
            padding: 0 60px;
            position: relative;
            a {
              color: #999;
              font-size: 18px;
              @media (max-widht: 1600px) {
                font-size: 16px;
              }
              @media (max-widht: 1440px) {
                font-size: 14px;
              }
            }
            &::after {
              content: "";
              width: 1px;
              height: 10px;
              background: #999;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
            &:last-child::after {
              display: none;
            }
          }
        }
      }
      .rightBox {
        display: flex;
        .tel {
          font-family: Arial;
          color: #999;
          font-size: 18px;
          display: flex;
          align-items: center;
          @media (max-widht: 1600px) {
            font-size: 16px;
          }
          @media (max-widht: 1440px) {
            font-size: 14px;
          }
          img {
            width: 22px;
            height: 22px;
            margin-right: 10px;
          }
        }
        .email {
          margin-left: 43px;
          width: 22px;
          height: 22px;
          img {
            width: 100%;
          }
        }
        .wx {
          margin-left: 46px;
          width: 22px;
          height: 22px;
          position: relative;
          img {
            width: 100%;
          }
          .hover {
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -60px;
            margin-bottom: 10px;
            width: 120px;
            padding: 0 10px;
            overflow: hidden;
            border-radius: 4px;
            background: #fff;
            display: none;
            img {
              width: 100%;
            }
          }
          &:hover {
            .hover {
              display: block;
            }
          }
        }
      }
    }
    .footBox2 {
      width: 100%;
      border-top: 1px solid #999;
      font-size: 14px;
      color: #999;
      line-height: 22px;
      padding: 28px 0 74px;
      text-align: center;
      a {
        color: #999;
      }
    }
  }
}
</style>
