<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <div class="draft">
      <div class="container">
        <div class="draftList">
          <div class="name">
            <ul>
              <li class="active">草稿箱 (4)</li>
            </ul>
          </div>
          <div class="list">
            <ul>
              <li>
                <router-link to="" class="title"
                  >安森美半导体的智能感知技术赋能AutoX第5代无人驾驶系统</router-link
                >
                <div class="txtBox">
                  <div class="img"><img src="~images/c-img2.jpg" alt="" /></div>
                  <div class="txt">
                    AutoX在世界人工智能大会上发布的第5代自动驾驶汽车技术实现了首款全无人驾驶的无人驾驶出租车(RoboTaxi)，旨在实现平民化自动驾驶并使人员出行和货物运输更加安全与便捷，AutoX
                    RoboTaxi配备了最先进的摄像头传感器和LiDAR探测器，达到最高等级的安全水平...
                  </div>
                </div>
                <div class="checkBox">
                  <div class="time">2021-07-31</div>
                  <el-row>
                    <el-button>删除</el-button>
                    <el-button>编辑</el-button>
                    <el-button>发布</el-button>
                  </el-row>
                </div>
              </li>
              <li>
                <router-link to="" class="title"
                  >安森美半导体的智能感知技术赋能AutoX第5代无人驾驶系统</router-link
                >
                <div class="txtBox">
                  <div class="txt">
                    AutoX在世界人工智能大会上发布的第5代自动驾驶汽车技术实现了首款全无人驾驶的无人驾驶出租车(RoboTaxi)，旨在实现平民化自动驾驶并使人员出行和货物运输更加安全与便捷，AutoX
                    RoboTaxi配备了最先进的摄像头传感器和LiDAR探测器，达到最高等级的安全水平...
                  </div>
                </div>
                <div class="checkBox">
                  <div class="time">2021-07-31</div>
                  <el-row>
                    <el-button>删除</el-button>
                    <el-button>编辑</el-button>
                    <el-button>发布</el-button>
                  </el-row>
                </div>
              </li>
              <li>
                <router-link to="" class="title"
                  >安森美半导体的智能感知技术赋能AutoX第5代无人驾驶系统</router-link
                >
                <div class="txtBox">
                  <div class="txt">
                    AutoX在世界人工智能大会上发布的第5代自动驾驶汽车技术实现了首款全无人驾驶的无人驾驶出租车(RoboTaxi)，旨在实现平民化自动驾驶并使人员出行和货物运输更加安全与便捷，AutoX
                    RoboTaxi配备了最先进的摄像头传感器和LiDAR探测器，达到最高等级的安全水平...
                  </div>
                </div>
                <div class="checkBox">
                  <div class="time">2021-07-31</div>
                  <el-row>
                    <el-button>删除</el-button>
                    <el-button>编辑</el-button>
                    <el-button>发布</el-button>
                  </el-row>
                </div>
              </li>
              <li>
                <router-link to="" class="title"
                  >安森美半导体的智能感知技术赋能AutoX第5代无人驾驶系统</router-link
                >
                <div class="txtBox">
                  <div class="img"><img src="~images/c-img2.jpg" alt="" /></div>
                  <div class="txt">
                    AutoX在世界人工智能大会上发布的第5代自动驾驶汽车技术实现了首款全无人驾驶的无人驾驶出租车(RoboTaxi)，旨在实现平民化自动驾驶并使人员出行和货物运输更加安全与便捷，AutoX
                    RoboTaxi配备了最先进的摄像头传感器和LiDAR探测器，达到最高等级的安全水平...
                  </div>
                </div>
                <div class="checkBox">
                  <div class="time">2021-07-31</div>
                  <el-row>
                    <el-button>删除</el-button>
                    <el-button>编辑</el-button>
                    <el-button>发布</el-button>
                  </el-row>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="aside">
          <!-- 论坛右侧图片轮播 -->
          <rightSwiper></rightSwiper>

          <!-- 论坛右侧点赞收藏评论 -->
          <rightMenu></rightMenu>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
import rightSwiper from "@/components/Community/Aside/rightSwiper.vue";
import rightMenu from "@/components/Community/Aside/rightMenu.vue";
export default {
  name: "draft",
  data() {
    return {};
  },
  components: {
    CommunityHeader,
    webFooter,
    rightSwiper,
    rightMenu,
  },
  methods: {},
};
</script>
<style lang="scss" scoped>
.draft {
  width: 100%;
  background: #f5f5f5;
  padding: 70px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .draftList {
      width: 75.71%;
      background: #fff;
      .name {
        width: 100%;
        padding: 0 30px;
        border-bottom: 1px solid #f5f5f5;
        ul {
          display: flex;
          margin-bottom: -1px;
          li {
            font-size: 18px;
            line-height: 60px;
            border-bottom: 2px solid transparent;
            color: #333;
            &.active {
              color: #208fb9;
              border-bottom: 2px solid #208fb9;
            }
          }
        }
      }
      .list {
        width: 100%;
        padding: 0 30px;
        ul {
          width: 100%;
          li {
            width: 100%;
            border-bottom: 1px solid #f5f5f5;
            padding: 17px 0 30px;
            &:hover {
              .title {
                color: #208fb9;
              }
            }
            .title {
              width: 100%;
              color: #333;
              font-size: 20px;
              line-height: 42px;
              transition: all ease-in 0.3s;
              display: block;
            }
            .txtBox {
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin-top: 15px;
              .img {
                width: 220px;
                margin-right: 20px;
                flex-shrink: 0;
                img {
                  width: 100%;
                }
              }
              .txt {
                font-size: 14px;
                line-height: 28px;
                color: #999;
                .more {
                  color: #208fb9;
                }
              }
              &.tbox2 {
                .txt {
                  width: 100%;
                }
              }
            }
            .checkBox {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 10px;
              font-size: 15px;
              color: #999;
              .time {
                font-size: 14px;
                color: #999;
              }
              .el-row {
              }
            }
          }
        }
      }
    }
    .aside {
      width: 22.85%;
    }
  }
}
.checkBox ::v-deep .el-button {
  border: 1px solid #d5d5d5;
  line-height: 28px;
  padding: 0 25px;
  color: #666;
  font-size: 14px;
}
.checkBox ::v-deep .el-button:hover {
  border: 1px solid #208fb9;
  background: #208fb9;
  color: #fff;
}
</style>
