<template>
  <div>
    <div action="" class="loginForm" :model="loginForm">
      <div class="item">
        <input
          type="text"
          name=""
          id="mobile"
          class="txt tel"
          v-model="loginForm.phone"
          placeholder="手机号"
        />
      </div>
      <div class="item">
        <input
          type="text"
          name=""
          id="password"
          class="txt"
          v-model="loginForm.captcha"
          placeholder="请输入验证码"
          @keypress.prevent.13="captchaLogin"
        />
        <div
          v-if="loginForm.showloginCode"
          @click="getloginPhoneCode"
          class="yzm"
        >
          获取验证码
        </div>
        <div v-else class="oneMinute">{{ loginForm.count }}</div>
      </div>
      <div class="item">
        <button
          @click="captchaLogin()"
          type="button"
          :loading="loading"
          class="sub"
        >
          注册/登录
        </button>
      </div>
      <div class="tips">
        <input
          type="checkbox"
          name=""
          v-model="loginForm.checked"
          id=""
          class="ck"
        />
        <p>
          注册登录即代表同意
          <router-link to="/ForumAgreement" target="_blank"
            >《感知社区协议》</router-link
          >
          和
          <router-link to="/SaleContract" target="_blank"
            >《感算商城商品（服务）买卖合同》</router-link
          >
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "CaptchaLogin",
  data() {
    return {
      data: [],
      loginForm: {
        phone: "", //手机号
        captcha: "", //验证码
        timer: null, //定时器的开关
        showloginCode: true, //获取成功验证码后倒计时跟获取不成功后没有倒计时按钮的开关
        count: "", //倒计时
        checked: false,
      },
      loading: false,
    };
  },
  methods: {
    //获取验证码
    getloginPhoneCode() {
      // 如果没有输入手机号，则不往下执行
      if (!this.loginForm.phone) {
        this.$message({
          showClose: true,
          message: "请输入正确的手机号",
          type: "warning",
        });
        return false;
      }

      this.$axios
        .post("/api/index.php?m=user&c=Users&a=code", {
          phone: this.loginForm.phone,
          model: 0,
          status: 2,
        })
        .then((res) => {
          if (res.status != 200) {
            return this.$message.error("验证码发送失败！");
          } else {
            // 当验证码发送成功，开始60秒倒计时
            this.$message.success("验证码发送成功！");
            const time = 60;
            if (!this.loginForm.timer) {
              this.loginForm.showloginCode = false;
              this.loginForm.count = time;
              this.loginForm.timer = setInterval(() => {
                if (this.loginForm.count > 0 && this.loginForm.count <= time) {
                  this.loginForm.count -= 1;
                } else {
                  this.loginForm.showloginCode = true;
                  clearInterval(this.loginForm.timer);
                  this.loginForm.timer = null;
                }
              }, 1000);
            }
          }
        });
    },

    //点击登录--验证码登录
    captchaLogin() {
      if (this.loginForm.phone === "" || this.loginForm.captcha === "") {
        this.$message.error("用户名或密码不能为空！");
        return false;
      }

      if (this.loginForm.checked === false) {
        this.$message.error("请阅读并勾选协议！");
        return false;
      }

      this.$axios
        .post("/api/index.php?m=user&c=Users&a=login3", {
          phone: this.loginForm.phone,
          code: this.loginForm.captcha,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
          } else {
            localStorage.setItem("token", res.data.token);
            this.$message.success(res.data.msg);
            //登录成功后，获取token后才可跳转
            if (this.$route.query.redirect) {
              let redirect_path = decodeURIComponent(
                this.$route.query.redirect || "/"
              );
              this.$router.push({ path: redirect_path });
            } else {
              // this.$router.push({ path: "/" });
              this.$router.go(-1);
            }
          }
        })
        .catch((error) => {
          console.log(error + "验证码输入错误");
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.item {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  .txt {
    width: 100%;
    height: 60px;
    background: #f5f5f5;
    padding: 0 20px;
    color: #333;
    font-size: 14px;
    &.tel {
      background: #f5f5f5 url(~images/icon3.png) 95% center no-repeat !important;
      background-size: 24px;
    }
    &::placeholder {
      color: #b9b9b9;
    }
  }
  .yzm {
    position: absolute;
    font-size: 14px;
    color: #208fb9;
    text-decoration: underline;
    top: 0;
    right: 0;
    height: 100%;
    background: #f5f5f5;
    padding-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .oneMinute {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #208fb9;
  }
  .password {
    position: absolute;
    font-size: 14px;
    color: #208fb9;
    text-decoration: underline;
    top: 0;
    right: 0;
    height: 100%;
    background: #f5f5f5;
    padding-right: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 24px;
    }
  }
  &.forget {
    display: flex;
    justify-content: flex-end;
  }
  .forgetPassword {
    font-size: 12px;
    color: #b9b9b9;
    text-decoration: underline;
    transition: all ease-in 0.3s;
    &:hover {
      color: #208fb9;
    }
  }
  .sub {
    width: 100%;
    height: 60px;
    background: #208fb9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 20px;
    font-size: 16px;
  }
}
.tips {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 12px;
  color: #b9b9b9;
  .ck {
    width: 18px;
    height: 18px;
    border: 1px solid #bfbfbf;
    margin-right: 7px;
    cursor: pointer;
  }
  a {
    color: #b9b9b9;
    transition: all ease-in 0.3s;
    &:hover {
      color: #208fb9;
    }
  }
}
</style>
