<template>
  <div>
    <div class="title">设置新密码 <span>8~20位数字与字母组合</span></div>
    <form action="" :model="loginForm">
      <div class="tbox">
        <div class="item">
          <input
            type="text"
            name=""
            id="password1"
            class="txt"
            v-model="loginForm.password"
            placeholder="新密码"
          />
          <!-- <span class="password"><img src="~images/icon4.png" alt="" /></span> -->
        </div>
        <div class="item">
          <input
            type="text"
            name=""
            id="password2"
            class="txt"
            v-model="loginForm.password2"
            placeholder="请再次输入新密码"
          />
        </div>
        <div class="item">
          <button type="button" @click="subPassword()" class="sub">确认</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: "Newpassword",
  props: ["myphone"],
  data() {
    return {
      phone: this.myphone,
      loginForm: {
        password: "", //新密码
        password2: "",
      },
    };
  },
  methods: {
    subPassword() {
      const pswReg = /^(\w*(?=\w*\d)(?=\w*[A-Za-z])\w*){8,16}$/;
      if (!pswReg.test(this.loginForm.password)) {
        this.$message({
          message: "请输入8~20位字母或数字",
          type: "warning",
        });
        return;
      }
      if (this.loginForm.password2 != this.loginForm.password) {
        this.$message({
          message: "两次密码不一致",
          type: "warning",
        });
        return;
      }

      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_password", {
          phone: this.phone,
          password: this.loginForm.password,
          password2: this.loginForm.password2,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
          } else {
            this.$message.success(res.data.msg);
            setTimeout(() => {
              this.$emit("logins", true);
            }, 1500);
          }
        })
        .catch((error) => {
          this.$message({
            message: error,
            type: "warning",
            duration: 1500,
          });
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.title {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #666;
  font-weight: bold;
  padding-left: 30px;
  @media (max-widht: 1600px) {
    font-size: 16px;
  }
  @media (max-widht: 1440px) {
    font-size: 14px;
  }
  span {
    font-size: 14px;
    color: #999;
    border-left: 1px solid #999;
    margin-left: 10px;
    padding-left: 10px;
    line-height: 1;
    font-weight: initial;
  }
}
.tbox {
  width: 100%;
  padding: 30px;
  .item {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    .txt {
      width: 100%;
      height: 60px;
      background: #f5f5f5;
      padding: 0 20px;
      color: #333;
      font-size: 14px;
      &.tel {
        background: #f5f5f5 url(~images/icon3.png) 95% center no-repeat;
        background-size: 24px;
      }
      &::placeholder {
        color: #b9b9b9;
      }
    }
    .yzm {
      position: absolute;
      font-size: 14px;
      color: #208fb9;
      text-decoration: underline;
      top: 0;
      right: 0;
      height: 100%;
      background: #f5f5f5;
      padding-right: 20px;
      display: flex;
      align-items: center;
    }
    .password {
      position: absolute;
      font-size: 14px;
      color: #208fb9;
      text-decoration: underline;
      top: 0;
      right: 0;
      height: 100%;
      background: #f5f5f5;
      padding-right: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        width: 24px;
      }
    }
    &.forget {
      display: flex;
      justify-content: flex-end;
    }
    .forgetPassword {
      font-size: 12px;
      color: #b9b9b9;
      text-decoration: underline;
      transition: all ease-in 0.3s;
      cursor: pointer;
      &:hover {
        color: #208fb9;
      }
    }
    .sub {
      width: 100%;
      height: 60px;
      background: #208fb9;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 16px;
    }
  }
}
</style>
