<template>
  <div>
    <div class="title">找回密码</div>
    <form action="" :model="loginForm">
      <div class="tbox">
        <div class="item">
          <input
            type="text"
            name=""
            id="mobile"
            v-model="loginForm.phone"
            class="txt tel"
            placeholder="手机号"
          />
        </div>
        <div class="item">
          <input
            type="text"
            name=""
            id="password"
            v-model="loginForm.captcha"
            class="txt"
            placeholder="请输入手机验证码"
          />
          <div
            v-if="loginForm.showloginCode"
            @click="getloginPhoneCode()"
            class="yzm"
          >
            发送验证码
          </div>
          <div v-else class="oneMinute">{{ loginForm.count }}</div>
        </div>
        <div class="item">
          <button @click="setNewPassword()" class="sub" type="button">
            下一步
          </button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
export default {
  name: "RetrievePassword",
  data() {
    return {
      loginForm: {
        phone: "", //手机号
        captcha: "", //验证码
        timer: null, //定时器的开关
        showloginCode: true, //获取成功验证码后倒计时跟获取不成功后没有倒计时按钮的开关
        count: "", //倒计时
      },
    };
  },
  methods: {
    //获取验证码
    getloginPhoneCode() {
      // 如果没有输入手机号，则不往下执行
      if (!this.loginForm.phone) {
        this.$message({
          showClose: true,
          message: "请输入正确的手机号",
          type: "warning",
        });
        return false;
      }

      this.$axios
        .post("/api/index.php?m=user&c=Users&a=code", {
          phone: this.loginForm.phone,
          model: 0,
          status: 4,
        })
        .then((res) => {
          if (res.status != 1) {
            this.$message.error(res.data.msg);
            return false
          } else {
            // 当验证码发送成功，开始60秒倒计时
            this.$message.success("验证码发送成功！");
            const time = 60;
            if (!this.loginForm.timer) {
              this.loginForm.showloginCode = false;
              this.loginForm.count = time;
              this.loginForm.timer = setInterval(() => {
                if (this.loginForm.count > 0 && this.loginForm.count <= time) {
                  this.loginForm.count -= 1;
                } else {
                  this.loginForm.showloginCode = true;
                  clearInterval(this.loginForm.timer);
                  this.loginForm.timer = null;
                }
              }, 1000);
            }
          }
        });
    },

    // 下一步-设置新密码
    setNewPassword() {
      if (this.loginForm.phone === "" || this.loginForm.captcha === "") {
        this.$message.error("用户名或验证码不能为空！");
        return false;
      }
      let newPhone = this.loginForm.phone;
      let state = false;
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_password", {
          phone: this.loginForm.phone,
          code: this.loginForm.captcha,
        })
        .then((res) => {
          console.log(res.data);
          if (res.data.status == 1) {
            this.$emit("next", state, newPhone);
          } else {
            this.$message.error(res.data.msg);
          }
        })
        .catch((error) => {
          console.log(error + "验证码输入错误");
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.title {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #f5f5f5;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #666;
  font-weight: bold;
  padding-left: 30px;
  @media (max-widht: 1600px) {
    font-size: 16px;
  }
  @media (max-widht: 1440px) {
    font-size: 14px;
  }
  span {
    font-size: 14px;
    color: #999;
    border-left: 1px solid #999;
    margin-left: 10px;
    padding-left: 10px;
    line-height: 1;
    font-weight: initial;
  }
}
.tbox {
  width: 100%;
  padding: 30px;
  .item {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    .txt {
      width: 100%;
      height: 60px;
      background: #f5f5f5;
      padding: 0 20px;
      color: #333;
      font-size: 14px;
      &.tel {
        background: #f5f5f5 url(~images/icon3.png) 95% center no-repeat;
        background-size: 24px;
      }
      &::placeholder {
        color: #b9b9b9;
      }
    }
    .yzm {
      position: absolute;
      font-size: 14px;
      color: #208fb9;
      text-decoration: underline;
      top: 0;
      right: 0;
      height: 100%;
      background: #f5f5f5;
      padding-right: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .oneMinute {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #208fb9;
    }
    .password {
      position: absolute;
      font-size: 14px;
      color: #208fb9;
      text-decoration: underline;
      top: 0;
      right: 0;
      height: 100%;
      background: #f5f5f5;
      padding-right: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        width: 24px;
      }
    }
    &.forget {
      display: flex;
      justify-content: flex-end;
    }
    .forgetPassword {
      font-size: 12px;
      color: #b9b9b9;
      text-decoration: underline;
      transition: all ease-in 0.3s;
      cursor: pointer;
      &:hover {
        color: #208fb9;
      }
    }
    .sub {
      width: 100%;
      height: 60px;
      background: #208fb9;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 16px;
    }
  }
}
</style>
