<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <div class="ArticleDetails">
      <div class="top">
        <div class="container">
          <div class="title">{{ articContent.ask_title }}</div>
          <div class="txt" v-html="articContent.content">
            <!-- {{ articContent.content }} -->
          </div>
          <div class="checkBox">
            <div class="focus" @click="focusArtic(articContent.ask_id)">
              <span v-if="articContent.collection == '0'">关注文章</span>
              <span v-else>已关注</span>
            </div>
            <div class="write" @click="writeComments()">
              <img src="~images/write.png" alt="" /> 写评论
            </div>
            <div class="invite" @click="invite()" v-if="false">
              <img src="~images/invite.png" alt="" /> 邀请回答
            </div>
            <div class="like" @click="recommendlike(articContent.ask_id)">
              <span v-if="articContent.zan == '0'">
                <img src="~images/like.png" alt="" />
              </span>
              <span v-else>
                <img src="~images/like2.png" alt="" />
              </span>
              <span v-if="articContent.LikeNum > 0">{{
                articContent.LikeNum
              }}</span>
            </div>
            <div class="comment">
              <img src="~images/comment.png" alt="" />
              {{ articContent.answer_count }}
            </div>
          </div>

          <!-- 写评论 -->
          <div class="writeComments" v-show="isShow">
            <div class="writer">
              <div class="avatar">
                <img :src="userInfo.head_pic" alt="" />
                <div class="name">{{ userInfo.nickname }}</div>
              </div>
              <el-checkbox v-model="checked">匿名发布</el-checkbox>
            </div>
            <!-- 富文本 -->
            <div id="editor"></div>
            <div class="checkBox">
              <input
                type="button"
                value="发布"
                class="release"
                @click="release()"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="container">
          <div class="main">
            <div class="article" v-html="articContent.content">
              <!-- {{ articContent.content }} -->
            </div>

            <div class="CommentsList">
              <div
                class="commentItem"
                v-for="(item, index) of AnswerData"
                :key="index"
              >
                <div class="info">
                  <router-link
                    class="avatar"
                    :to="{
                      path: '/AuthorDetails',
                      query: {
                        users_id: item.users_id,
                        type_id: item.type_id,
                      },
                    }"
                  >
                    <img
                      :src="item.head_pic"
                      alt=""
                      v-if="item.anonymous == 0"
                    />
                    <img src="~images/dfboy.png" alt="" v-else />
                  </router-link>
                  <div class="txtBox">
                    <div class="name">
                      <span v-if="item.anonymous == 0">{{
                        item.nickname
                      }}</span>
                      <span v-else>匿名用户</span>
                    </div>
                    <div class="time">{{ item.add_time }}</div>
                  </div>
                </div>
                <div class="txt" v-html="item.content">
                  <!-- {{item.content}} -->
                </div>
                <div class="checkBox">
                  <div class="icon" @click="like(item)">
                    <span v-if="item.zan == '0'"
                      ><img src="~images/like.png" alt=""
                    /></span>
                    <span v-else><img src="~images/like2.png" alt="" /> </span>

                    <span v-if="item.AnswerLike.LikeNum > 0">{{
                      item.AnswerLike.LikeNum
                    }}</span>
                  </div>
                  <div class="icon" @click="commentReplyTwo(item)">
                    <img src="~images/comment.png" alt="" /> 评论
                    <!-- <span
                      v-if="
                        item.AnswerSubData.length > 0
                      "
                      >( {{ item.AnswerSubData.length }} )</span
                    > -->
                  </div>
                  <!-- 评论该评论 -->
                  <div class="ReplyTwo" v-show="item.ask_reply == 1">
                    <div class="ReplyTwoBOX">
                      <div class="ReplyTwoTitle">
                        回复
                        <span v-if="item.anonymous == 0">{{
                          item.nickname
                        }}</span>
                        <span v-else>匿名用户</span> :
                      </div>
                      <input
                        type="text"
                        class="ReplyTwoTxt"
                        placeholder="输入回复"
                        v-model="item.ask_count"
                      />
                    </div>
                    <input
                      type="button"
                      value="发布"
                      class="ReplyTwoSub"
                      @click="ReplyTwoSub(item)"
                    />
                  </div>
                </div>

                <!-- 评论列表 -->
                <TreeList
                  v-if="item.AnswerSubData"
                  :AnswerSubData="item.AnswerSubData"
                  @handl="getArticInfo()"
                ></TreeList>
              </div>
            </div>
            <!-- <div class="AllComments">查看全部评论</div> -->
          </div>
          <div class="aside">
            <!-- 关于作者 -->
            <div class="aboutWriter">
              <div class="title">关于作者</div>
              <div class="box">
                <div class="writer">
                  <router-link
                    class="avatar"
                    :to="{
                      path: '/AuthorDetails',
                      query: {
                        users_id: articContent.users_id,
                        type_id: articContent.type_id,
                      },
                    }"
                  >
                    <img :src="articContent.head_pic" alt="" />
                  </router-link>
                  <div class="name">
                    <div class="username">{{ articContent.username }}</div>
                    <div
                      class="focusWriter"
                      v-if="users_id != author_id"
                      @click="focusWriter()"
                    >
                      <span v-if="articContent.follow == 0">关注</span>
                      <span v-else>已关注</span>
                    </div>
                  </div>
                </div>
                <router-link
                  :to="{
                    path: '/AuthorDetails',
                    query: {
                      users_id: articContent.users_id,
                      type_id: articContent.type_id,
                    },
                  }"
                  class="writeData"
                >
                  <div class="item">
                    <span>文章</span>
                    <div class="num">{{ articContent.usersNum }}</div>
                  </div>
                  <div class="item">
                    <span>粉丝</span>
                    <div class="num">{{ articContent.followNum }}</div>
                  </div>
                </router-link>
              </div>
            </div>

            <rightMenu ref="getCommentList"></rightMenu>

            <rightSwiper></rightSwiper>

            <div class="aboutQuestion" v-if="false">
              <div class="title">相关问题</div>
              <div class="list">
                <ul>
                  <li>
                    <router-link to="">
                      <div class="questionTitle">
                        安森美半导体的智能感知技术AutoX第5代无人驾驶系统
                      </div>
                      <div class="likeNum">
                        <img src="~images/like.png" alt="" /><img
                          src="~images/like4.png"
                          alt=""
                        />
                        168
                      </div>
                    </router-link>
                  </li>
                  <li>
                    <router-link to="">
                      <div class="questionTitle">
                        安森美半导体的智能感知技术AutoX第5代无人驾驶系统
                      </div>
                      <div class="likeNum">
                        <img src="~images/like.png" alt="" /><img
                          src="~images/like4.png"
                          alt=""
                        />
                        168
                      </div>
                    </router-link>
                  </li>
                  <li>
                    <router-link to="">
                      <div class="questionTitle">
                        安森美半导体的智能感知技术AutoX第5代无人驾驶系统
                      </div>
                      <div class="likeNum">
                        <img src="~images/like.png" alt="" /><img
                          src="~images/like4.png"
                          alt=""
                        />
                        168
                      </div>
                    </router-link>
                  </li>
                  <li>
                    <router-link to="">
                      <div class="questionTitle">
                        安森美半导体的智能感知技术AutoX第5代无人驾驶系统
                      </div>
                      <div class="likeNum">
                        <img src="~images/like.png" alt="" /><img
                          src="~images/like4.png"
                          alt=""
                        />
                        168
                      </div>
                    </router-link>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
import E from "wangeditor";
import rightSwiper from "@/components/Community/Aside/rightSwiper.vue";
import rightMenu from "@/components/Community/Aside/rightMenu.vue";
import TreeList from "@/components/Community/TreeList.vue";
export default {
  name: "ArticleDetails",
  data() {
    return {
      checked: false,
      editor: "", //富文本返回
      isShow: false, //评论文章
      articContent: [], //文章内容
      AnswerData: [], //评论列表
      // AnswerSubData: [], //评论下的评论
      userInfo: [], //用户信息
      users_id: "", //用户id
      author_id: "", //作者id
    };
  },
  components: {
    //定义组件
    CommunityHeader,
    webFooter,
    rightSwiper,
    rightMenu,
    TreeList,
  },
  mounted() {
    this.getUserInfo();
    //获取文章相关
    this.getArticInfo();

    //   wangediter
    this.editor = new E("#editor");
    //  上传图片到服务器，base64形式
    this.editor.config.uploadImgShowBase64 = true;
    //  配置 server 接口地址
    this.editor.config.uploadImgServer =
      "/api/index.php?m=user&c=Uploadify&a=imageUp2";
    this.editor.config.uploadFileName = "file";
    //  隐藏网络图片
    this.editor.config.showLinkImg = false;
    //  隐藏全屏按钮
    this.editor.config.showFullScreen = false;
    //  创建富文本编辑器
    // this.editor.config.onchange = function () {
    //   if (this.editor.txt.html() === "") {
    //     this.editor.txt.html(" &nbsp");
    //   }
    // };
    this.editor.create();
    //  富文本内容
    this.editor.txt.html();
  },
  methods: {
    getUserInfo() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_center", {
          type_id: 2,
          page: 1,
          limit: 1,
        })
        .then((res) => {
          this.users_id = res.data.res.users.users_id;
        });
    },

    // 获取文章详情
    getArticInfo() {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=details", {
          ask_id: this.$route.query.ask_id,
        })
        .then((res) => {
          console.log(res);
          this.articContent = res.data.res.field.info;
          this.author_id = res.data.res.field.info.users_id;
          this.AnswerData = res.data.res.field.AnswerData;
        });
    },

    // 关注文章
    focusArtic(item) {
      this.$axios
        .post("/api/index.php?m=plugins&c=Collection&a=ajax_save", {
          ask_id: item,
          _ajax: 1,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getArticInfo();
          this.$refs.getCommentList.getCommentList();
        });
    },

    // 点赞文章
    recommendlike(id) {
      this.$axios
        .post("/api/index.php?m=plugins&c=zan&a=add&_ajax=1", {
          aid: id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getArticInfo();
          this.$refs.getCommentList.getCommentList();
        });
    },

    // 踩
    unlike(id) {
      this.$axios
        .post("/api/index.php?m=plugins&c=zan&a=add&_ajax=1", {
          aid: id,
          zan_count: 1,
        })
        .then((res) => {
          console.log(res);
          this.getArticList();
          this.$refs.getCommentList.getCommentList();
        });
    },

    // 写评论
    writeComments() {
      this.isShow = !this.isShow;
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=users_info")
        .then((res) => {
          console.log(res);
          this.userInfo = res.data.res;
        });
    },

    // 发布文章评论
    release() {
      let anonymous = "";
      if (this.checked == false) {
        anonymous = 0;
      } else {
        anonymous = 1;
      }
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=ajax_add_answer", {
          ask_id: this.articContent.ask_id,
          type_id: this.articContent.type_id,
          at_users_id: "",
          at_answer_id: "",
          content: this.editor.txt.html(),
          anonymous: anonymous,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.isShow = !this.isShow;
          this.empty();
          this.getArticInfo();
          this.$refs.getCommentList.getCommentList();
        });
    },

    //清空
    empty() {
      this.editor.txt.html("");
    },

    // 评论文章的评论
    // 展开评论
    commentReplyTwo(item) {
      item.ask_reply = 1;
    },
    //评论的评论
    ReplyTwoSub(item) {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=ajax_add_answer", {
          ask_id: item.ask_id,
          answer_id: item.answer_id,
          type_id: item.type_id,
          at_users_id: item.at_users_id,
          at_answer_id: item.at_answer_id,
          content: item.ask_count,
          anonymous: 0,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getArticInfo();
        });
    },

    // 点赞评论
    like(item) {
      console.log(item);
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=ajax_click_like&_ajax=1", {
          ask_id: item.ask_id,
          answer_id: item.answer_id,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getArticInfo();
          this.$refs.getCommentList.getCommentList();
        });
    },

    // 关注作者
    focusWriter() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=follow", {
          follow_id: this.articContent.users_id,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getArticInfo();
          this.$refs.getCommentList.getCommentList();
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.ArticleDetails {
  width: 100%;
  .top {
    width: 100%;
    background: #fff;
    border-top: 1px solid #f5f5f5;
    padding: 27px 0 30px;
    .container {
      position: relative;
      .title {
        font-size: 22px;
        color: #333;
        line-height: 42px;
      }
      .txt {
        font-size: 16px;
        line-height: 28px;
      }
      .checkBox {
        width: 100%;
        margin-top: 13px;
        font-size: 15px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .focus {
          width: 120px;
          height: 39px;
          border-radius: 3px;
          background: #208fb9;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          cursor: pointer;
        }
        .write {
          width: 120px;
          height: 39px;
          border-radius: 3px;
          border: 1px solid #208fb9;
          color: #208fb9;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          cursor: pointer;
          img {
            width: 15px;
            margin-right: 7px;
          }
        }
        .invite {
          width: 120px;
          height: 39px;
          border-radius: 3px;
          border: 1px solid #999;
          color: #999;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          cursor: pointer;
          img {
            width: 15px;
            margin-right: 5px;
          }
        }
        .like {
          color: #999;
          margin-right: 20px;
          display: flex;
          align-items: center;
          cursor: pointer;
          img {
            width: 20px;
            margin-right: 7px;
          }
        }
        .comment {
          color: #999;
          display: flex;
          align-items: center;
          img {
            width: 24px;
            margin-right: 6px;
          }
        }
      }

      // 写评论
      .writeComments {
        width: 75.7%;
        position: absolute;
        left: 0;
        top: calc(100% + 50px);
        z-index: 2;
        background: #fff;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
        padding: 20px;
        &::after {
          content: "";
          position: absolute;
          left: 188px;
          top: -12px;
          background: url(~images/arrow-t.png) center center no-repeat;
          width: 22px;
          height: 12px;
        }
        .writer {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .avatar {
            display: flex;
            align-items: center;
            img {
              width: 40px;
              height: 40px;
            }
            .name {
              color: #333;
              margin-left: 10px;
            }
          }
        }
        #editor {
          width: 100%;
          margin-top: 20px;
        }
        .checkBox {
          width: 100%;
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          .release {
            width: 80px;
            height: 40px;
            color: #fff;
            background: #208fb9;
            border-radius: 3px;
            font-size: 14px;
            cursor: pointer;
          }
          .empty {
            width: 80px;
            height: 40px;
            color: #333;
            border-radius: 3px;
            border: 1px solid #333;
            background: #fff;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .content {
    width: 100%;
    background: #f5f5f5;
    padding: 20px 0 70px;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .main {
        width: 75.7%;
        .article {
          width: 100%;
          background: #fff;
          font-size: 14px;
          line-height: 28px;
          padding: 30px;
        }
        .CommentsList {
          width: 100%;
          margin-top: 20px;

          .commentItem {
            width: 100%;
            padding: 25px 30px 30px;
            background: #fff;
            margin-top: 20px;
            .info {
              width: 100%;
              display: flex;
              align-items: center;
              .avatar {
                width: 60px;
                height: 60px;
              }
              .txtBox {
                padding-left: 20px;
                .name {
                  color: #333;
                  line-height: 26px;
                }
                .time {
                  font-size: 14px;
                  color: #999;
                  line-height: 20px;
                }
              }
            }
            .txt {
              width: 100%;
              font-size: 14px;
              line-height: 28px;
              margin-top: 22px;
            }
            .checkBox {
              width: 100%;
              display: flex;
              font-size: 15px;
              color: #999;
              margin-top: 20px;
              flex-wrap: wrap;
              .icon {
                display: flex;
                align-items: center;
                margin-right: 20px;
                cursor: pointer;
                img {
                  margin-right: 6px;
                }
              }
            }

            .commentBox {
              width: 100%;
              margin-top: 20px;
              .num {
                width: 100%;
                height: 57px;
                padding: 0 20px;
                display: flex;
                align-items: center;
                color: #333;
                span {
                  color: #208fb9;
                  margin-right: 5px;
                }
              }
              .commentList {
                width: 100%;
                padding: 20px;
                border-top: 1px solid #e5e5e5;
                ul {
                  li {
                    width: 100%;
                    margin-bottom: 20px;
                    background: #f5f5f5;
                    .info {
                      .avatar {
                        width: 40px;
                        height: 40px;
                        img {
                          width: 100%;
                        }
                      }
                      .txtBox {
                        font-size: 14px;
                        .name {
                          line-height: 20px;
                        }
                      }
                    }
                    .txt {
                      margin-top: 13px;
                    }
                    .checkBox {
                      margin-top: 13px;
                    }
                    .ReplyComments {
                      width: 100%;
                      border-top: 1px solid #e5e5e5;
                      margin-top: 20px;
                      padding: 30px 0 0 60px;
                    }
                  }
                }
              }
            }

            .ReplyTwo {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 18px;
              .ReplyTwoBOX {
                width: calc(100% - 110px);
                display: flex;
                background: #f5f5f5;
                .ReplyTwoTitle {
                  padding: 0 20px;
                  height: 36px;
                  display: flex;
                  align-items: center;
                  border-top-left-radius: 3px;
                  border-bottom-left-radius: 3px;
                  font-size: 14px;
                  color: #999;
                  flex-shrink: 0;
                }
                .ReplyTwoTxt {
                  width: 100%;
                  height: 36px;
                  background: #f5f5f5;
                  display: flex;
                  align-items: center;
                  border-top-right-radius: 3px;
                  border-bottom-right-radius: 3px;
                  font-size: 14px;
                  color: #333;
                  &::placeholder {
                    color: #999;
                  }
                }
              }

              .ReplyTwoSub {
                width: 110px;
                height: 36px;
                border-radius: 3px;
                background: #208fb9;
                color: #fff;
                font-size: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
              }
            }
          }
        }
        .AllComments {
          width: 100%;
          height: 60px;
          background: #fff;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #999;
          transition: all ease-in 0.3s;
          margin-top: 1px;
          &:hover {
            color: #208fb9;
          }
        }
      }
      .aside {
        width: 22.8%;
        .aboutWriter {
          width: 100%;
          background: #fff;
          margin-bottom: 20px;
          .title {
            width: 100%;
            height: 60px;
            padding: 0 30px;
            font-size: 18px;
            color: #333;
            display: flex;
            align-items: center;
          }
          .box {
            width: 100%;
            border-top: 1px solid #f5f5f5;
            padding: 25px 30px 0;
            .writer {
              width: 100%;
              display: flex;
              align-items: center;
              .avatar {
                width: 60px;
                height: 60px;
                overflow: hidden;
                img {
                  width: 100%;
                  object-fit: contain;
                }
              }
              .name {
                margin-left: 25px;
                .username {
                  color: #333;
                  font-size: 16px;
                  line-height: 26px;
                }
                .focusWriter {
                  width: 46px;
                  height: 20px;
                  border: 1px solid #208fb9;
                  border-radius: 3px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: #208fb9;
                  font-size: 12px;
                  cursor: pointer;
                }
              }
            }
            .writeData {
              width: 100%;
              display: flex;
              border-top: 1px solid #f5f5f5;
              margin-top: 30px;
              padding: 20px 0;
              .item {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                cursor: pointer;
                span {
                  width: 100%;
                  display: block;
                  text-align: center;
                  font-size: 14px;
                  color: #999;
                  line-height: 25px;
                }
                .num {
                  font-size: 18px;
                  color: #333;
                  line-height: 25px;
                  transition: all ease-in 0.3s;
                }
                &:hover {
                  .num {
                    color: #208fb9;
                  }
                }
              }
            }
          }
        }
        .aboutQuestion {
          width: 100%;
          background: #fff;
          .title {
            width: 100%;
            height: 60px;
            padding: 0 30px;
            display: flex;
            align-items: center;
            font-size: 18px;
            color: #333;
          }
          .list {
            width: 100%;
            border-top: 1px solid #f5f5f5;
            ul {
              li {
                width: 100%;
                a {
                  width: 100%;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 18px 30px;
                  border-bottom: 1px solid #f5f5f5;
                  .questionTitle {
                    width: 72.3%;
                    font-size: 14px;
                    line-height: 22px;
                    color: #666;
                  }
                  .likeNum {
                    font-size: 14px;
                    line-height: 26px;
                    color: #999;
                    display: flex;
                    align-items: center;
                    img {
                      width: 16px;
                      height: 16px;
                      margin-right: 5px;
                      &:nth-child(2) {
                        display: none;
                      }
                    }
                  }
                  &:hover {
                    .questionTitle {
                      color: #208fb9;
                    }
                    .likeNum {
                      color: #666;
                      img {
                        &:nth-child(1) {
                          display: none;
                        }
                        &:nth-child(2) {
                          display: block;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 匿名发布样式覆盖
::v-deep .el-checkbox {
  color: #999;
  font-size: 14px;
  .el-checkbox__inner {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #9b9b9b;
    background: #fff;
  }
  .el-checkbox__inner:hover {
    border: 1px solid #9b9b9b;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    border: 1px solid #666;
    background: #fff;
  }
  .el-checkbox__inner::after {
    background: #fff;
    width: 5px;
    height: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: none;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner::after {
    transform: translate(-50%, -50%);
    background: #666;
  }
  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #666;
  }
}

::v-deep .w-e-text-container {
  height: 140px !important;
  background: #f5f5f5;
  .placeholder {
    color: #bbb;
  }
}
</style>
