<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <div class="cindex">
      <div class="container">
        <div class="left">
          <div class="bigimg">
            <img :src="users.background_map" alt="" />
          </div>
          <div class="box">
            <div class="menu">
              <ul>
                <li :class="{ on: isShow === 1 }" @click="changeTab(1)">
                  关注
                </li>
                <li :class="{ on: isShow === 2 }" @click="changeTab(2)">
                  推荐
                </li>
                <li :class="{ on: isShow === 3 }" @click="changeTab(3)">
                  热榜
                </li>
              </ul>
            </div>
            <div class="list">
              <div class="item focus" v-if="isShow === 1">
                <div class="focusBox">
                  <div class="noFocus" v-if="focusList == ''">
                    <div class="icon">
                      <img src="~images/noFocus.png" alt="" />
                    </div>
                    <div class="txt">您还没有关注的用户</div>
                  </div>
                  <div class="focusList" v-else>
                    <ul>
                      <li v-for="(item, index) of focusList" :key="index">
                        <router-link
                          :to="{
                            path: '/AuthorDetails',
                            query: {
                              users_id: item.users_id,
                            },
                          }"
                        >
                          <div class="Avatar">
                            <img :src="item.head_pic" alt="" />
                          </div>
                          <div class="FocusContent">
                            <div class="txtBox">
                              <div class="name">{{ item.nickname }}</div>
                              <div class="tips">{{ item.quotations }}</div>
                            </div>
                            <input
                              type="button"
                              value="已关注"
                              class="focusBotton"
                              @click.prevent="noRecommendfocus(item)"
                            />
                          </div>
                        </router-link>
                      </li>
                    </ul>
                  </div>
                  <div class="focusRecommend">
                    <div class="title">为您推荐</div>
                    <ul>
                      <li v-for="(item, index) of focusRecommend" :key="index">
                        <router-link to="/PersonalCenter">
                          <div class="Avatar">
                            <img :src="item.head_pic" alt="" />
                          </div>
                          <div class="FocusContent">
                            <div class="txtBox">
                              <div class="name">{{ item.nickname }}</div>
                              <div class="tips">{{ item.quotations }}</div>
                            </div>
                            <input
                              type="button"
                              value="关注"
                              class="focusBotton"
                              @click.prevent="recommendfocus(item)"
                            />
                          </div>
                        </router-link>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="item recommend" v-if="isShow === 2">
                <ul>
                  <li v-for="(item, index) of articRecommend" :key="index">
                    <router-link
                      :to="{
                        path: '/ArticleDetails',
                        query: { ask_id: item.ask_id },
                      }"
                    >
                      <div class="title">{{ item.ask_title }}</div>
                      <div class="txtBox">
                        <div
                          class="img"
                          v-show="item.litpic != '' && item.litpic != null"
                        >
                          <img :src="item.litpic" alt="" />
                        </div>
                        <div class="txt" v-html="item.content"></div>
                      </div>
                    </router-link>
                    <div class="checkBox">
                      <div class="checkitem" @click="recommendlike(item)">
                        <span v-if="item.zan == '0'"
                          ><img src="~images/like.png" alt=""
                        /></span>
                        <span v-else
                          ><img src="~images/like2.png" alt="" />
                        </span>
                      </div>
                      <div class="checkitem" @click="unlike(item)">
                        <span v-if="item.cai == '0'"
                          ><img src="~images/unlike.png" alt=""
                        /></span>
                        <span v-else
                          ><img src="~images/unlike2.jpg" alt="" />
                        </span>
                      </div>
                      <router-link
                        class="checkitem"
                        :to="{
                          path: '/ArticleDetails',
                          query: { ask_id: item.ask_id },
                        }"
                      >
                        <img src="~images/comment.png" alt="" />
                        <span
                          v-if="
                            item.UsersConut != '' && item.UsersConut != null
                          "
                        >
                          {{ item.UsersConut }}</span
                        >
                      </router-link>
                      <div class="checkitem share">
                        <img src="~images/share.png" alt="" /> 分享
                        <vshare></vshare>
                      </div>
                      <div class="checkitem" @click="recommendCollect(item)">
                        <span v-if="item.collection == '0'"
                          ><img src="~images/collect.png" alt="" /> 收藏</span
                        >
                        <span v-else
                          ><img src="~images/collect2.png" alt="" /> 已收藏
                        </span>
                      </div>
                      <div class="checkitem" @click="report(item)">
                        <img src="~images/report.png" alt="" /> 举报
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="item recommend" v-if="isShow === 3">
                <ul>
                  <li v-for="(item, index) of Hotartic" :key="index">
                    <router-link
                      :to="{
                        path: '/ArticleDetails',
                        query: { ask_id: item.ask_id },
                      }"
                    >
                      <div class="title">
                        {{ item.ask_title }}
                      </div>
                      <div class="txtBox">
                        <div class="img" v-show="item.head_pic != ''">
                          <img :src="item.head_pic" alt="" />
                        </div>
                        <div class="txt" v-html="item.content"></div>
                      </div>
                    </router-link>
                    <div class="checkBox">
                      <div class="checkitem" @click="hotlike(item)">
                        <span v-if="item.zan == ''"
                          ><img src="~images/like.png" alt=""
                        /></span>
                        <span v-else
                          ><img src="~images/like2.png" alt=""
                        /></span>
                      </div>
                      <div class="checkitem" @click="unlike(item)">
                        <span v-if="item.cai == '0'"
                          ><img src="~images/unlike.png" alt=""
                        /></span>
                        <span v-else
                          ><img src="~images/unlike2.jpg" alt="" />
                        </span>
                      </div>
                      <router-link
                        class="checkitem"
                        :to="{
                          path: '/ArticleDetails',
                          query: { ask_id: item.ask_id },
                        }"
                        @click="comment()"
                      >
                        <span v-if="item.comment == ''"
                          ><img src="~images/comment.png" alt=""
                        /></span>
                        <span v-else
                          ><img src="~images/comment.png" alt="" />
                          <span v-if="item.UsersConut != ''">
                            {{ item.UsersConut }}</span
                          >
                        </span>
                      </router-link>
                      <div class="checkitem">
                        <img src="~images/share.png" alt="" /> 分享
                        <vshare></vshare>
                      </div>
                      <div class="checkitem" @click="hotCollect(item)">
                        <span v-if="item.collection == '0'"
                          ><img src="~images/collect.png" alt="" /> 收藏</span
                        >
                        <span v-else
                          ><img src="~images/collect2.png" alt="" /> 已收藏
                        </span>
                      </div>
                      <div class="checkitem" @click="report()">
                        <img src="~images/report.png" alt="" /> 举报
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <el-pagination
            id="c-page"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            background
            :current-page="currentPage"
            :page-sizes="pageSizes"
            :page-size="loadCount"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount"
            :pager-count="5"
            :hide-on-single-page="totalPage < 2"
          >
          </el-pagination>
        </div>
        <div class="right">
          <!-- 论坛右侧写作 -->
          <WriteMenu></WriteMenu>

          <!-- 论坛右侧图片轮播 -->
          <rightSwiper></rightSwiper>

          <!-- 论坛右侧点赞收藏评论 -->
          <rightMenu ref="menuNums"></rightMenu>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
import rightSwiper from "@/components/Community/Aside/rightSwiper.vue";
import WriteMenu from "@/components/Community/Aside/WriteMenu.vue";
import rightMenu from "@/components/Community/Aside/rightMenu.vue";
export default {
  name: "home",
  data() {
    return {
      focusList: [
        //关注列表
      ],
      focusRecommend: [
        //推荐关注
      ],
      articRecommend: [
        //推荐文章
      ],
      Hotartic: [
        //热榜文章
      ],
      isShow: 2, //关注、推荐、热榜-1 2 3
      focus: 1, //是否有关注-0 无，1 有
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
      users: [],
    };
  },
  components: {
    //定义组件
    CommunityHeader,
    webFooter,
    WriteMenu,
    rightSwiper,
    rightMenu,
  },
  beforeCreate(){
    window._bd_share_main = ""; 
  },
  created() {
    // 设置总页数
    this.totalPage = parseInt(
      (this.totalCount + this.loadCount - 1) / this.loadCount
    );
  },
  mounted() {
    this.getUserInfo();
    this.getFocusList();
    this.getArticList();
    this.getHotList();
    this.getRecommendedAttention();
    // window.addEventListener("scroll", this.handleScroll);
  },
  methods: {
    //滚动加载更多
    handleScroll() {
      if (
        document.documentElement.scrollTop + window.innerHeight ==
        document.body.offsetHeight
      ) {
        if (this.isShow == 1) {
          this.getFocusList();
          console.log(1);
        }
        if (this.isShow == 2) {
          this.getArticList();
          console.log(2);
        }
        if (this.isShow == 3) {
          this.getHotList();
          console.log(3);
        }
      }
    },

    getUserInfo() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_center", {
          type_id: 2,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.users = res.data.res.users;
        });
    },

    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      if (this.isShow == 1) {
        this.getFocusList();
        return false;
      }
      if (this.isShow == 2) {
        this.getArticList();
        return false;
      }
      if (this.isShow == 3) {
        this.getHotList();
        return false;
      }
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      if (this.isShow == 1) {
        this.getFocusList();
        return false;
      }
      if (this.isShow == 2) {
        this.getArticList();
        return false;
      }
      if (this.isShow == 3) {
        this.getHotList();
        return false;
      }
    },

    // 栏目切换
    changeTab(e) {
      this.isShow = e;
      if (e == 1) {
        //关注列表
        this.currentPage = 1;
        this.getFocusList();
      }
      if (e == 2) {
        //推荐文章
        this.currentPage = 1;
        this.getArticList();
      }
      if (e == 3) {
        //热榜文章
        this.currentPage = 1;
        this.getHotList();
      }
    },

    getFocusList() {
      // 获取关注列表
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=users_center", {
          type_id: 2,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.focusList = res.data.res.follow_list.follow_list;
          this.totalCount = res.data.res.follow_list.count;
          this.totalPage = res.data.res.follow_list.total_page;
          // if (this.currentPage === 1) {
          //   this.focusList = res.data.res.follow_list.follow_list;
          // } else {
          //   this.focusList = [
          //     ...this.focusList,
          //     ...res.data.res.follow_list.follow_list,
          //   ];
          // }
          // this.currentPage++;
        });
    },

    getArticList() {
      // 获取文章列表
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=index&type_id=3", {
          type_id: 3,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.articRecommend = res.data.res.AskData.AskData;
          this.totalCount = res.data.res.AskData.count;
          this.totalPage = res.data.res.AskData.total_page;
          // if (this.currentPage === 1) {
          //   this.articRecommend = res.data.res.AskData.AskData;
          // } else {
          //   this.articRecommend = [
          //     ...this.articRecommend,
          //     ...res.data.res.AskData.AskData,
          //   ];
          // }
          // this.currentPage++;
        });
    },

    getHotList() {
      // 获取热榜文章列表
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=index&type_id=3", {
          type_id: 3,
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.Hotartic = res.data.res.WeekList.WeekList;
          this.totalCount = res.data.res.WeekList.count;
          this.totalPage = res.data.res.WeekList.total_page;
          // if (this.currentPage === 1) {
          //   this.Hotartic = res.data.res.WeekList.WeekList;
          // } else {
          //   this.Hotartic = [
          //     ...this.Hotartic,
          //     ...res.data.res.WeekList.WeekList,
          //   ];
          // }
          // this.currentPage++;
        });
    },

    //推荐关注列表
    getRecommendedAttention() {
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=recommend")
        .then((res) => {
          console.log(res);
          this.focusRecommend = res.data.res;
        });
    },

    // 关注用户
    recommendfocus(item) {
      console.log(item);
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=follow", {
          follow_id: item.users_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getFocusList();
          this.getRecommendedAttention();
          this.$refs.menuNums.getCommentList();
        });
    },
    // 取消关注用户
    noRecommendfocus(item) {
      console.log(item);
      this.$axios
        .post("/api/index.php?m=user&c=Users&a=follow", {
          follow_id: item.follow_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getFocusList();
          this.getRecommendedAttention();
          this.$refs.menuNums.getCommentList();
        });
    },

    // 点赞
    recommendlike(item) {
      this.$axios
        .post("/api/index.php?m=plugins&c=zan&a=add&_ajax=1", {
          aid: item.ask_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getArticList();
          this.getHotList();
          this.$refs.menuNums.getCommentList();
        });
    },

    hotlike(item) {
      console.log(item);
      this.$axios
        .post("/api/index.php?m=plugins&c=zan&a=add&_ajax=1", {
          aid: item.ask_id,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getArticList();
          this.getHotList();
          this.$refs.menuNums.getCommentList();
        });
    },

    // 踩
    unlike(item) {
      this.$axios
        .post("/api/index.php?m=plugins&c=zan&a=add&_ajax=1", {
          aid: item.ask_id,
          zan_count: 1,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getArticList();
          this.getHotList();
          this.$refs.menuNums.getCommentList();
        });
    },

    //收藏
    recommendCollect(item) {
      this.$axios
        .post("/api/index.php?m=plugins&c=Collection&a=ajax_save", {
          ask_id: item.ask_id,
          _ajax: 1,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getArticList();
          this.getHotList();
          this.$refs.menuNums.getCommentList();
        });
    },
    hotCollect(item) {
      this.$axios
        .post("/api/index.php?m=plugins&c=Collection&a=ajax_save", {
          ask_id: item.ask_id,
          _ajax: 1,
        })
        .then((res) => {
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
          this.getArticList();
          this.getHotList();
          this.$refs.menuNums.getCommentList();
        });
    },

    //举报
    report(item) {
      this.$axios
        .post("/api/index.php?m=plugins&c=ask&a=ask_report", {
          ask_id: item.ask_id,
          content: item.content,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
            return false;
          }
          this.$message.success(res.data.msg);
        });
    },
  },
};
</script>
<style scoped lang="scss">
.cindex {
  width: 100%;
  background: #f5f5f5;
  padding: 20px 0 20px;
  .container {
    display: flex;
    justify-content: space-between;
    .left {
      width: 75.7%;
      .bigimg {
        width: 100%;
        height: 230px;
        margin-bottom: 22px;
        overflow: hidden;
        background: #208fb9;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .box {
        width: 100%;
        background: #fff;
        .menu {
          width: 100%;
          padding-left: 25px;
          border-bottom: 2px solid #f5f5f5;
          ul {
            display: flex;
            li {
              font-size: 18px;
              color: #333;
              line-height: 58px;
              margin-right: 55px;
              cursor: pointer;
              border-bottom: 2px solid transparent;
              margin-bottom: -2px;
              &:hover {
                color: #208fb9;
              }
              &.on {
                font-weight: bold;
                color: #208fb9;
                border-bottom: 2px solid #208fb9;
              }
            }
          }
        }
        .list {
          width: 100%;
          .item {
            width: 100%;
            &.focus {
              padding: 30px;

              .noFocus {
                width: 100%;
                padding: 82px 0 76px;
                .icon {
                  width: 80px;
                  height: 80px;
                  margin: auto;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
                .txt {
                  font-size: 16px;
                  line-height: 24px;
                  color: #999;
                  margin-top: 10px;
                  text-align: center;
                }
              }

              ul {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                li {
                  width: 49%;
                  border: 1px solid #eee;
                  margin-bottom: 20px;
                  margin-right: 2%;
                  transition: all ease-in 0.3s;
                  &:nth-child(2n) {
                    margin-right: 0;
                  }
                  &:nth-last-of-type(-n + 2) {
                    margin-bottom: 0;
                  }
                  a {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 25px 37px 25px 30px;
                    .Avatar {
                      width: 50px;
                      height: 50px;
                      border-radius: 50%;
                      overflow: hidden;
                      margin-right: 20px;
                      flex-shrink: 0;
                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }
                    .FocusContent {
                      width: 100%;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      .txtBox {
                        width: calc(100% - 80px);
                        .name {
                          font-size: 16px;
                          color: #333;
                          line-height: 20px;
                          transition: all ease-in 0.3s;
                        }
                        .tips {
                          font-size: 13px;
                          color: #989898;
                          line-height: 20px;
                        }
                      }
                      .focusBotton {
                        width: 70px;
                        height: 30px;
                        border-radius: 3px;
                        border: 1px solid #208fb9;
                        color: #208fb9;
                        font-size: 13px;
                        background: #fff;
                        transition: all ease-in 0.3s;
                        cursor: pointer;
                      }
                    }
                  }
                  &:hover {
                    background: #eee;
                    .Avatar {
                      border: 2px solid #208fb9;
                    }
                    .FocusContent {
                      .txtBox {
                        .name {
                          color: #208fb9;
                        }
                      }
                      .focusBotton {
                        color: #fff;
                        background: #208fb9;
                      }
                    }
                  }
                }
              }

              .focusRecommend {
                width: 100%;
                margin-top: 40px;
                .title {
                  font-size: 18px;
                  color: #333;
                  line-height: 20px;
                  margin-bottom: 20px;
                }
              }
            }
            &.recommend {
              ul {
                li {
                  width: 100%;
                  border-bottom: 2px solid #f5f5f5;
                  padding: 17px 30px 33px;
                  &:hover {
                    .title {
                      color: #208fb9;
                    }
                  }
                  .title {
                    width: 100%;
                    color: #333;
                    font-size: 20px;
                    line-height: 42px;
                    transition: all ease-in 0.3s;
                    display: block;
                  }
                  .txtBox {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-top: 15px;
                    .img {
                      width: 220px;
                      margin-right: 20px;
                      flex-shrink: 0;
                      img {
                        width: 100%;
                      }
                    }
                    .txt {
                      width: 100%;
                      font-size: 14px;
                      line-height: 28px;
                      color: #676767;
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      -webkit-line-clamp: 6;
                      overflow: hidden;
                      .more {
                        color: #208fb9;
                      }
                    }
                    &.tbox2 {
                      .txt {
                        width: 100%;
                      }
                    }
                  }
                  .checkBox {
                    width: 100%;
                    display: flex;
                    margin-top: 20px;
                    font-size: 15px;
                    color: #999;
                    .checkitem {
                      cursor: pointer;
                      display: flex;
                      align-items: center;
                      flex-wrap: nowrap;
                      margin-right: 30px;
                      span {
                        display: flex;
                        align-items: center;
                        flex-wrap: nowrap;
                      }
                      img {
                        margin-right: 5px;
                      }
                    }
                    .like {
                      margin-right: 30px;
                    }
                    .unlike {
                      margin-right: 30px;
                    }
                    .comment {
                      margin-right: 30px;
                    }
                    .share {
                      margin-right: 30px;
                    }
                    .collect {
                      margin-right: 30px;
                    }
                    .report {
                      color: #999;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .right {
      width: 22.8%;
    }
  }
}

#c-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background: #fff;
}
::v-deep .bdsharebuttonbox{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
}
.share, .checkitem {
  margin-right: 30px;
  position: relative;
  .bdsharebuttonbox{
    display: none;
    padding-left: 6px;
  }
  &:hover{
    .bdsharebuttonbox{
      display: flex;
    }
  }
}
</style>
