<template>
  <div>
    <CommunityHeader></CommunityHeader>

    <div class="draft">
      <div class="container">
        <div class="draftList">
          <div class="name">
            <ul>
              <li class="active">草稿箱 ({{ totalCount }})</li>
            </ul>
          </div>
          <div class="list">
            <ul>
              <li v-for="(item, index) of DraftList" :key="index">
                <router-link @click="edit(item)">
                  <div class="title">{{item.ask_title}}</div>
                  <div class="txtBox">
                    <div class="img" v-if="item.litpic">
                      <img :src="item.litpic" alt="" />
                    </div>
                    <div class="txt" v-html="item.content"></div>
                  </div>
                </router-link>
                <div class="checkBox">
                  <div class="time">
                    {{
                      moment(item.add_time * 1000).format(
                        "YYYY年MM月DD日 h:mm:ss"
                      )
                    }}
                  </div>
                  <el-row>
                    <el-button @click="del(item.ask_id)">删除</el-button>
                    <el-button @click="edit(item)">编辑</el-button>
                    <el-button @click="release(item.ask_id)">发布</el-button>
                  </el-row>
                </div>
              </li>
            </ul>
          </div>
          <el-pagination
            id="c-page"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            background
            :current-page="currentPage"
            :page-sizes="pageSizes"
            :page-size="loadCount"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount"
            :pager-count="5"
            :hide-on-single-page="totalPage < 2"
          >
          </el-pagination>
        </div>
        <div class="aside">
          <!-- 论坛右侧图片轮播 -->
          <rightSwiper></rightSwiper>

          <!-- 论坛右侧点赞收藏评论 -->
          <rightMenu></rightMenu>
        </div>
      </div>
    </div>

    <webFooter></webFooter>
  </div>
</template>
<script>
import CommunityHeader from "@/components/Community/CommunityHeader/index.vue";
import webFooter from "@/components/Footer/index.vue";
import rightSwiper from "@/components/Community/Aside/rightSwiper.vue";
import rightMenu from "@/components/Community/Aside/rightMenu.vue";
import moment from "moment";
export default {
  name: "writedraft",
  data() {
    return {
      DraftList: [], //草稿列表
      currentPage: 1, //当前页
      pageSizes: [12, 60, 120], //每页显示条数
      loadCount: 12, //每页条数
      totalCount: 0, //总条数
      totalPage: 0, //总页数
    };
  },
  components: {
    CommunityHeader,
    webFooter,
    rightSwiper,
    rightMenu,
  },
  created: function () {
    // 设置总页数
    this.totalPage = parseInt(
      (this.totalCount + this.loadCount - 1) / this.loadCount
    );
  },
  mounted() {
    this.getDraftList();
  },
  methods: {
    moment,

    // 设置每页多少条
    handleSizeChange(val) {
      this.loadCount = val;
      this.getDraftList();
    },
    // 设置当前页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getDraftList();
    },

    getDraftList() {
      // 获取草稿列表
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=list_drafts", {
          page: this.currentPage,
          limit: this.loadCount,
        })
        .then((res) => {
          console.log(res);
          this.DraftList = res.data.res;
          this.totalCount = res.data.count;
          this.totalPage = res.data.total_page;
        });
    },

    //删除草稿
    del(ask_id) {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=del_drafts", {
          ask_id: ask_id,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
          }
          this.$message.success(res.data.msg);
          this.getDraftList();
        });
    },
    //编辑草稿
    edit(item) {
      if (item.type_id == 2) {
        this.$router.push({
          path: "/ask",
          query: {
            ask_id: item.ask_id,
          },
        });
      } else {
        this.$router.push({
          path: "/write",
          query: {
            ask_id: item.ask_id,
          },
        });
      }

      // this.$axios
      // .post('/api/index.php?m=plugins&c=Ask&a=edit_drafts',{
      //   ask_title: item.articTitle, //文章标题
      //     content: item.content, //文章内容
      //     label: item.dynamicTags, //文章标签
      //     litpic:'', //帖子文章图片
      //     type_id: 2, //栏目id-文章3、问题2
      //     article_type: item.articType, //文章类型-原创、转载
      //     so: item.articAuthority, //权限-公开、关注可见、仅自己可见
      //     invitation: item.invitation, //邀请人
      //     ask_id: item.ask_id
      // })
      // .then(res => {
      //   console.log(res)
      // })
    },
    //发布草稿
    release(ask_id) {
      this.$axios
        .post("/api/index.php?m=plugins&c=Ask&a=release", {
          ask_id: ask_id,
        })
        .then((res) => {
          console.log(res);
          if (res.data.status != 1) {
            this.$message.error(res.data.msg);
          }
          this.$message.success(res.data.msg);
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.draft {
  width: 100%;
  background: #f5f5f5;
  padding: 70px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .draftList {
      width: 75.71%;
      background: #fff;
      .name {
        width: 100%;
        padding: 0 30px;
        border-bottom: 1px solid #f5f5f5;
        ul {
          display: flex;
          margin-bottom: -1px;
          li {
            font-size: 18px;
            line-height: 60px;
            border-bottom: 2px solid transparent;
            color: #333;
            &.active {
              color: #208fb9;
              border-bottom: 2px solid #208fb9;
            }
          }
        }
      }
      .list {
        width: 100%;
        padding: 0 30px;
        ul {
          width: 100%;
          li {
            width: 100%;
            border-bottom: 1px solid #f5f5f5;
            padding: 17px 0 30px;
            &:hover {
              .title {
                color: #208fb9;
              }
            }
            .title {
              width: 100%;
              color: #333;
              font-size: 20px;
              line-height: 42px;
              transition: all ease-in 0.3s;
              display: block;
            }
            .txtBox {
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin-top: 15px;
              .img {
                width: 220px;
                margin-right: 20px;
                flex-shrink: 0;
                img {
                  width: 100%;
                }
              }
              .txt {
                width: 100%;
                font-size: 14px;
                line-height: 28px;
                color: #999;
                .more {
                  color: #208fb9;
                }
              }
              &.tbox2 {
                .txt {
                  width: 100%;
                }
              }
            }
            .checkBox {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-top: 10px;
              font-size: 15px;
              color: #999;
              .time {
                font-size: 14px;
                color: #999;
              }
              .el-row {
              }
            }
          }
        }
      }
    }
    .aside {
      width: 22.85%;
    }
  }
}
.checkBox ::v-deep .el-button {
  border: 1px solid #d5d5d5;
  line-height: 28px;
  padding: 0 25px;
  color: #666;
  font-size: 14px;
}
.checkBox ::v-deep .el-button:hover {
  border: 1px solid #208fb9;
  background: #208fb9;
  color: #fff;
}

#c-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
</style>
